Repository libopenstorage/operator, pull requests merged in 2021-09, with the labels that each got.

#383 OPERATOR-439: Adding RKE2 support
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
Labels: stage/in-review, size/s, area/portworx, stage/approved

#385 OP-406 Remove pure cloud drive config map during cleanup
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/uninstall.go
Labels: stage/in-review, size/s, area/portworx

#384 OP-441 Keep CSI disabled for existing cluster, enable for new install
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/testspec/openshift_runc.yaml
  drivers/storage/portworx/testspec/pks.yaml
  drivers/storage/portworx/testspec/portworxPodCustomPort.yaml
  drivers/storage/portworx/testspec/portworxPodEnvOverride.yaml
  drivers/storage/portworx/testspec/px_kvdb_certs.yaml
  drivers/storage/portworx/testspec/px_kvdb_certs_without_ca.yaml
  drivers/storage/portworx/testspec/px_kvdb_certs_without_cert.yaml
  drivers/storage/portworx/testspec/px_kvdb_certs_without_key.yaml
  drivers/storage/portworx/testspec/px_kvdb_without_certs.yaml
  drivers/storage/portworx/testspec/runc.yaml
  drivers/storage/portworx/util/feature.go
Labels: stage/in-review, area/portworx, size/m

#388 Revert "OP-427 Remove liveness and readiness probes for telemetry con…
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/testspec/px_telemetry-with-location.yaml
  drivers/storage/portworx/testspec/px_telemetry.yaml
Labels: stage/in-review, size/s, area/portworx

#389 OP-445 Disable telemetry by default on installs
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
Labels: stage/in-review, size/s, area/portworx

#390 Update CSV to 1.5.1 released images
  deploy/olm-catalog/portworx/1.5.1/portworxoperator.v1.5.1.clusterserviceversion.yaml
Labels: stage/in-review, area/specs, size/xs

#391 [OPERATOR-378] Allow adding portworx container resources requirements
  deploy/crds/core_v1_storagecluster_crd.yaml
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
  pkg/apis/core/v1/storagecluster.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/update.go
Labels: stage/in-review, area/specs, area/portworx, size/m, area/controller

#392 [OPERATOR-378] Allow adding portworx container resources requirements
  deploy/crds/core_v1_storagecluster_crd.yaml
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
  pkg/apis/core/v1/storagecluster.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/update.go
Labels: area/specs, area/portworx, size/m, area/controller

#393 OP-378 Update deepcopy for Storagecluster API changes
  pkg/apis/core/v1/zz_generated.deepcopy.go
Labels: stage/in-review, size/xs

#386 OPERATOR-449 For k8s versions >= v1.22.0, pin stork-scheduler to 1.21.0
  pkg/controller/storagecluster/stork.go
  pkg/controller/storagecluster/stork_test.go
  pkg/controller/storagecluster/testspec/storkSchedVersionedDeployment.yaml
Labels: stage/in-review, size/m, stage/in-review-stale, area/controller

#394 [OPERATOR-440] Add portworx-kvdb-service for internal kvdb monitoring
  drivers/storage/portworx/component/portworx_basic.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/testspec/portworxKVDBService.yaml
  drivers/storage/portworx/testspec/portworxService.yaml
  drivers/storage/portworx/testspec/pxProxyService.yaml
  drivers/storage/portworx/util/util.go
Labels: stage/in-review, area/components, area/portworx, size/m

#396 [OPERATOR-440] Add portworx-kvdb-service for internal kvdb monitoring
  drivers/storage/portworx/component/portworx_basic.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/testspec/portworxKVDBService.yaml
  drivers/storage/portworx/testspec/portworxService.yaml
  drivers/storage/portworx/testspec/pxProxyService.yaml
  drivers/storage/portworx/util/util.go
Labels: area/components, area/portworx, size/m

#399 OPERATOR-450 Disable portworx proxy using explicit annotation
  drivers/storage/portworx/component/portworx_proxy.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/util/util.go
Labels: stage/in-review, area/components, size/s, area/portworx

#401 Adding CSV for 1.5.2
  deploy/olm-catalog/portworx/1.5.2/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/1.5.2/core_v1_storagenode_crd.yaml
  deploy/olm-catalog/portworx/1.5.2/portworxoperator.v1.5.2.clusterserviceversion.yaml
Labels: stage/in-review, area/specs, size/xl

#400 [OPERATOR-451] Fix unit test TestStoragePodGetsScheduled elements out of order issue
  pkg/controller/storagecluster/controller_test.go
Labels: stage/in-review, size/s, area/controller

#402 Point olm package channels to 1.5.2
  deploy/olm-catalog/portworx/portworx.package.yaml
Labels: stage/in-review, area/specs, size/xs

#403 [OPERATOR-451] Fix unit test TestStoragePodGetsScheduled elements out…
  pkg/controller/storagecluster/controller_test.go
Labels: size/s, area/controller

#397 OPERATOR-443 Not raising warning events on initial GRPC errors
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  pkg/controller/storagecluster/update.go
Labels: stage/in-review, area/portworx, size/m, area/controller

#405 Update CSV to 1.5.2 released images
  deploy/olm-catalog/portworx/1.5.2/portworxoperator.v1.5.2.clusterserviceversion.yaml
Labels: stage/in-review, area/specs, size/xs

#406 Set max supported openshift version to 4.8
  deploy/olm-catalog/portworx/1.5.2/portworxoperator.v1.5.2.clusterserviceversion.yaml
Labels: stage/in-review, area/specs, size/xs

#407 OPERATOR-443 Close portworx sdk connection on uninstall
  drivers/storage/portworx/component/auth.go
  drivers/storage/portworx/component/disruption_budget.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
Labels: stage/in-review, area/components, size/s, area/portworx

#408 OPERATOR-455 Persist desired resizer image in the cluster status
  deploy/crds/core_v1_storagecluster_crd.yaml
  deploy/crds/core_v1_storagenode_crd.yaml
  deploy/crds/deprecated/core_v1_storagecluster_crd.yaml
  pkg/util/k8s/k8s.go
Labels: stage/in-review, size/s, area/specs
