Repository libopenstorage/operator, pull requests merged in 2021-11, with the labels that each got.

#430 [OPERATOR-487] Test framework refactor and upgrade test requirements
  pkg/util/test/util.go
  test/integration_test/basic_test.go
  test/integration_test/common_test.go
  test/integration_test/fafb_config_test.go
  test/integration_test/fafb_matrix_test.go
  test/integration_test/types.go
Labels: stage/in-review, area/integration-test, size/l

#431 Remove var lib osd mount
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/testspec/nodeWiper.yaml
  drivers/storage/portworx/testspec/nodeWiperPKS.yaml
  drivers/storage/portworx/testspec/nodeWiperWithWipe.yaml
  drivers/storage/portworx/testspec/openshift_runc.yaml
  drivers/storage/portworx/testspec/pks.yaml
  drivers/storage/portworx/testspec/portworxPodCustomPort.yaml
  drivers/storage/portworx/testspec/portworxPodEnvOverride.yaml
  drivers/storage/portworx/testspec/px_csi_0.3.yaml
  drivers/storage/portworx/testspec/px_csi_1.0.yaml
  drivers/storage/portworx/testspec/px_disable_telemetry.yaml
  drivers/storage/portworx/testspec/px_k3s.yaml
  drivers/storage/portworx/testspec/px_kvdb_certs.yaml
  drivers/storage/portworx/testspec/px_kvdb_certs_without_ca.yaml
  drivers/storage/portworx/testspec/px_kvdb_certs_without_cert.yaml
  drivers/storage/portworx/testspec/px_kvdb_certs_without_key.yaml
  drivers/storage/portworx/testspec/px_kvdb_without_certs.yaml
  drivers/storage/portworx/testspec/px_master.yaml
  drivers/storage/portworx/testspec/px_pks_with_csi.yaml
  drivers/storage/portworx/testspec/px_telemetry-with-location.yaml
  drivers/storage/portworx/testspec/px_telemetry.yaml
  drivers/storage/portworx/testspec/runc.yaml
Labels: stage/in-review, area/portworx, size/m

#428 Add metrics collector support
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/manifest/manifest_test.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/util/util.go
  pkg/apis/core/v1/storagecluster.go
  pkg/util/test/util.go
  pkg/util/util.go
  test/integration_test/Dockerfile
  test/integration_test/basic_test.go
  test/integration_test/common_test.go
  test/integration_test/testspec/empty_spec.yaml
  test/integration_test/testspec/pure-telemetry-cert.yaml
Labels: stage/in-review, area/components, area/manifest, area/portworx, size/xl, area/integration-test

#432 [OPERATOR-496] Refactor FA FB tests to follow the new format
  test/integration_test/basic_test.go
  test/integration_test/common_test.go
  test/integration_test/fafb_config_test.go
  test/integration_test/fafb_matrix_test.go
  test/integration_test/types.go
Labels: stage/in-review, size/m, area/integration-test

#433 add metrics collector images to stc schema and deep equal volumes change
  deploy/crds/core_v1_storagecluster_crd.yaml
  pkg/util/util.go
Labels: stage/in-review, size/s, area/specs

#434 Adding CSV for 1.7.0
  deploy/olm-catalog/portworx/1.7.0/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/1.7.0/core_v1_storagenode_crd.yaml
  deploy/olm-catalog/portworx/1.7.0/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs, size/xl, stage/approved

#440 Revert "Fix Travis CI staticcheck issue"
  Makefile
  go.mod
  go.sum
  vendor/modules.txt
Labels: stage/in-review, size/xs, area/vendor

#437 PTX-2757 CSI validation improvements and regression test
  go.mod
  go.sum
  pkg/util/test/util.go
  test/integration_test/basic_test.go
  test/integration_test/utils/constants.go
  test/integration_test/utils/storagecluster.go
  vendor/github.com/golang/protobuf/descriptor/descriptor.go
  vendor/github.com/golang/protobuf/protoc-gen-go/generator/generator.go
  vendor/github.com/golang/protobuf/protoc-gen-go/generator/internal/remap/remap.go
  vendor/github.com/golang/protobuf/protoc-gen-go/plugin/plugin.pb.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/internal/BUILD.bazel
  vendor/github.com/grpc-ecosystem/grpc-gateway/internal/errors.pb.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/internal/errors.proto
  vendor/github.com/grpc-ecosystem/grpc-gateway/internal/stream_chunk.pb.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/internal/stream_chunk.proto
  vendor/github.com/grpc-ecosystem/grpc-gateway/runtime/BUILD.bazel
  vendor/github.com/grpc-ecosystem/grpc-gateway/runtime/context.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/runtime/convert.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/runtime/errors.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/runtime/fieldmask.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/runtime/handler.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/runtime/marshaler.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/runtime/mux.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/runtime/proto_errors.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/runtime/query.go
  vendor/github.com/portworx/sched-ops/k8s/apps/daemonsets.go
  vendor/github.com/portworx/sched-ops/k8s/apps/deployments.go
  vendor/github.com/portworx/sched-ops/k8s/common/pod.go
  vendor/github.com/portworx/sched-ops/k8s/core/persistentvolumeclaims.go
  vendor/github.com/portworx/sched-ops/k8s/core/pods.go
  vendor/google.golang.org/protobuf/reflect/protodesc/desc.go
  vendor/google.golang.org/protobuf/reflect/protodesc/desc_init.go
  vendor/google.golang.org/protobuf/reflect/protodesc/desc_resolve.go
  vendor/google.golang.org/protobuf/reflect/protodesc/desc_validate.go
  vendor/google.golang.org/protobuf/reflect/protodesc/proto.go
  vendor/google.golang.org/protobuf/types/pluginpb/plugin.pb.go
  vendor/modules.txt
Labels: stage/in-review, size/xl, area/integration-test, area/vendor, stage/approved

#441 Adding CSV for 1.6.1
  deploy/olm-catalog/portworx/1.6.1/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/1.6.1/core_v1_storagenode_crd.yaml
  deploy/olm-catalog/portworx/1.6.1/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs, size/xl

#442 Remove some go mod replaces and add documentation
  go.mod
  go.sum
  vendor/modules.txt
Labels: stage/in-review, area/vendor, size/l

#443 Change autopilot default image to 1.3.1
  drivers/storage/portworx/manifest/manifest.go
Labels: stage/in-review, area/manifest, size/xs

#446 [OPERATOR-495] Add test report after run
  test/integration_test/basic_test.go
  test/integration_test/fafb_test.go
  test/integration_test/main_test.go
  test/integration_test/migration_test.go
  test/integration_test/types/testcase.go
  test/integration_test/utils/constants.go
  test/integration_test/utils/fafb_config.go
Labels: stage/in-review, size/m, area/integration-test

#449 Update CSV to 1.6.1 released images
  deploy/olm-catalog/portworx/1.6.1/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs, size/xs

#448 [OPERATOR-502] Add support to check portworx-operator version
  test/integration_test/basic_test.go
  test/integration_test/main_test.go
  test/integration_test/types/testcase.go
  test/integration_test/utils/constants.go
  test/integration_test/utils/px_operator.go
  test/integration_test/utils/storagecluster.go
Labels: stage/in-review, size/s, area/integration-test

#447 add resource request/limit to metrics collector pod
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/testspec/metricsCollectorDeployment.yaml
  drivers/storage/portworx/util/util.go
Labels: stage/in-review, area/components, area/portworx, size/m

#445 PTX-4222 Stork validation and basic regression test
  pkg/util/test/util.go
  test/integration_test/basic_test.go
  test/integration_test/main_test.go
  test/integration_test/utils/constants.go
  test/integration_test/utils/storagecluster.go
Labels: stage/in-review, size/m, area/integration-test

#450 Make 1.6.0 upgradable to 1.6.1 in openshift < 4.9
  deploy/olm-catalog/portworx/1.6.1/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs, size/xs

#451 PTX-4547 Fix Update StorageCluster methods
  pkg/util/test/util.go
  test/integration_test/basic_test.go
  test/integration_test/utils/storagecluster.go
Labels: stage/in-review, size/m, area/integration-test, stage/approved

#452 PTX-4560 Fix Upgrade hops test
  pkg/util/test/util.go
  test/integration_test/basic_test.go
Labels: stage/in-review, size/s, area/integration-test, stage/approved
