Repository libopenstorage/operator, pull requests merged in 2021-12, with the labels that each got.

#455 OPERATOR-519 Making /var/lib/osd as bidirectional mount
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/testspec/openshift_runc.yaml
  drivers/storage/portworx/testspec/pks.yaml
  drivers/storage/portworx/testspec/portworxPodCustomPort.yaml
  drivers/storage/portworx/testspec/portworxPodEnvOverride.yaml
  drivers/storage/portworx/testspec/px_csi_0.3.yaml
  drivers/storage/portworx/testspec/px_csi_1.0.yaml
  drivers/storage/portworx/testspec/px_disable_telemetry.yaml
  drivers/storage/portworx/testspec/px_k3s.yaml
  drivers/storage/portworx/testspec/px_kvdb_certs.yaml
  drivers/storage/portworx/testspec/px_kvdb_certs_without_ca.yaml
  drivers/storage/portworx/testspec/px_kvdb_certs_without_cert.yaml
  drivers/storage/portworx/testspec/px_kvdb_certs_without_key.yaml
  drivers/storage/portworx/testspec/px_kvdb_without_certs.yaml
  drivers/storage/portworx/testspec/px_master.yaml
  drivers/storage/portworx/testspec/px_pks_with_csi.yaml
  drivers/storage/portworx/testspec/px_telemetry-with-location.yaml
  drivers/storage/portworx/testspec/px_telemetry.yaml
  drivers/storage/portworx/testspec/runc.yaml
Labels: stage/in-review, size/s, area/portworx

#453 OPERATOR-505 Add spec fields for components during migration
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/util/util.go
  pkg/migration/generate.go
  pkg/migration/migration.go
  pkg/migration/migration_test.go
Labels: stage/in-review, area/portworx, size/m, stage/approved

#456 PTX-2758 Autopilot validation and basic regression test
  pkg/util/test/util.go
  test/integration_test/basic_test.go
  test/integration_test/utils/constants.go
  test/integration_test/utils/storagecluster.go
Labels: stage/in-review, size/m, area/integration-test, stage/approved

#458 PTX-4602 Removing Lighthouse from validation
  pkg/util/test/util.go
Labels: stage/in-review, size/s, stage/approved

#459 OPERATOR-527 Check if the monitoring APIs are registered
  pkg/migration/generate.go
Labels: stage/in-review, size/xs, stage/approved

#461 PTX-4514 PVC Controller validation and basic regression test
  pkg/util/test/util.go
  test/integration_test/basic_test.go
  test/integration_test/utils/storagecluster.go
Labels: stage/in-review, size/m, area/integration-test, stage/approved

#460 [OPERATOR-438] Add portworx proxy support for telemetry ccm container
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/testspec/ccmconfig.yaml
  drivers/storage/portworx/testspec/px_telemetry_with_proxy.yaml
  drivers/storage/portworx/util/util.go
Labels: stage/in-review, area/components, area/portworx, size/m

#462 [OPERATOR-438] Add portworx proxy support for telemetry ccm container
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/testspec/ccmconfig.yaml
  drivers/storage/portworx/testspec/px_telemetry_with_proxy.yaml
  drivers/storage/portworx/util/util.go
Labels: stage/in-review, area/components, area/portworx, size/m

#463 remove autopilot from metrics + convert arcus location to URL when va…
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/testspec/metricsCollectorConfigMap.yaml
Labels: stage/in-review, area/components, size/s, area/portworx

#464 PTX-4615 Fix TODO in ConstructVersionURL() method
  pkg/util/test/util.go
Labels: stage/in-review, size/s, stage/approved

#465 OPERATOR-529: Bump ccm service image
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/manifest/manifest_test.go
  test/integration_test/testspec/migration/daemonset-with-all-components.yaml
Labels: stage/in-review, area/manifest, size/xs, area/integration-test, stage/approved

#466 OPERATOR-529: Bump ccm service image (#465)
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/manifest/manifest_test.go
  test/integration_test/testspec/migration/daemonset-with-all-components.yaml
Labels: stage/in-review, area/manifest, size/xs, area/integration-test

#467 [OPERATOR-532] Skip migration tests on k8s 1.22+
  test/integration_test/migration_test.go
Labels: stage/in-review, size/xs, area/integration-test

#472 add missing spaces back in the collector proxy config
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/testspec/metricsCollectorConfigMap.yaml
Labels: stage/in-review, area/components, size/xs

#474 add clusterRole and clusterRoleBinding for metrics collector
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/testspec/metricsCollectorClusterRole.yaml
  drivers/storage/portworx/testspec/metricsCollectorClusterRoleBinding.yaml
Labels: stage/in-review, area/components, area/portworx, size/m

#475 [cherry-pick] add clusterRole and clusterRoleBinding for metrics collector (#474)
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/testspec/metricsCollectorClusterRole.yaml
  drivers/storage/portworx/testspec/metricsCollectorClusterRoleBinding.yaml
Labels: area/components, area/portworx, size/m

#476 [OPERATOR-535] fix kubectl logs permission issue of metrics collector container
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/testspec/metricsCollectorDeployment.yaml
  test/integration_test/testspec/metricsCollectorDeployment.yaml
Labels: area/components, size/s, area/integration-test

#477 [cherry-pick] fix kubectl logs permission issue of metrics collector container (#476)
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/testspec/metricsCollectorDeployment.yaml
  test/integration_test/testspec/metricsCollectorDeployment.yaml
Labels: area/components, size/s, area/integration-test

#478 OPERATOR-519 Using /var/lib/osd mount even for PKS
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/testspec/pks_2.9.1.yaml
Labels: stage/in-review, size/s, area/portworx

#479 OPERATOR-540 Run metrics collector only for px 2.9.1 and above
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/components_test.go
Labels: stage/in-review, area/components, size/s, area/portworx
