Repository libopenstorage/operator, pull requests merged in 2021-08, with the labels that each got.

#364 Update prometheus rules
  drivers/storage/portworx/testspec/prometheusRule.yaml
Labels: size/s, stage/in-review

#362 Updating CSV to use 1.5.0 released image
  deploy/olm-catalog/portworx/1.5.0/portworxoperator.v1.5.0.clusterserviceversion.yaml
Labels: area/specs, size/xs, stage/in-review

#358 Implement px repo in operator
  deploy/crds/core_v1_storagecluster_crd.yaml
  drivers/storage/portworx/component/pxrepo.go
  drivers/storage/portworx/components_test.go
  pkg/apis/core/v1/storagecluster.go
  pkg/apis/core/v1/zz_generated.deepcopy.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/util/k8s/k8s.go
Labels: stage/in-review, area/components, area/specs, area/portworx, stage/in-review-stale, area/controller, size/l

#367 OPERATOR-421 Fix protobuf package deprecation warning
  go.mod
  go.sum
  vendor/github.com/golang/protobuf/descriptor/descriptor.go
  vendor/github.com/golang/protobuf/protoc-gen-go/generator/generator.go
  vendor/github.com/golang/protobuf/protoc-gen-go/generator/internal/remap/remap.go
  vendor/github.com/golang/protobuf/protoc-gen-go/plugin/plugin.pb.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/internal/BUILD.bazel
  vendor/github.com/grpc-ecosystem/grpc-gateway/internal/errors.pb.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/internal/errors.proto
  vendor/github.com/grpc-ecosystem/grpc-gateway/internal/stream_chunk.pb.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/internal/stream_chunk.proto
  vendor/github.com/grpc-ecosystem/grpc-gateway/runtime/BUILD.bazel
  vendor/github.com/grpc-ecosystem/grpc-gateway/runtime/context.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/runtime/convert.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/runtime/errors.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/runtime/fieldmask.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/runtime/handler.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/runtime/marshaler.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/runtime/mux.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/runtime/proto_errors.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/runtime/query.go
  vendor/google.golang.org/protobuf/reflect/protodesc/desc.go
  vendor/google.golang.org/protobuf/reflect/protodesc/desc_init.go
  vendor/google.golang.org/protobuf/reflect/protodesc/desc_resolve.go
  vendor/google.golang.org/protobuf/reflect/protodesc/desc_validate.go
  vendor/google.golang.org/protobuf/reflect/protodesc/proto.go
  vendor/google.golang.org/protobuf/types/pluginpb/plugin.pb.go
  vendor/modules.txt
Labels: stage/in-review, size/xl, area/vendor

#372 Adding CSV for 1.6.0
  deploy/olm-catalog/portworx/1.6.0/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/1.6.0/core_v1_storagenode_crd.yaml
  deploy/olm-catalog/portworx/1.6.0/portworxoperator.v1.6.0.clusterserviceversion.yaml
Labels: stage/in-review, area/specs, size/xl

#368 OPERATOR-410 OCI-Monitor pods aren't coming up on OCP (IBM) due to al…
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/testspec/csiDeployment_1.0_k8s120.yaml
  drivers/storage/portworx/testspec/px_disable_telemetry.yaml
  drivers/storage/portworx/testspec/px_telemetry-with-location.yaml
  drivers/storage/portworx/testspec/px_telemetry.yaml
  pkg/controller/storagecluster/controller_test.go
Labels: stage/in-review, area/portworx, size/m, area/controller

#370 OPERATOR-377 fix portworx quorum loss issue during openshift upgrade
  drivers/storage/portworx/portworx.go
  drivers/storage/storage.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/controller/storagecluster/update.go
  pkg/mock/storagedriver.mock.go
Labels: stage/in-review, area/portworx, size/m, area/controller
