Repository libopenstorage/operator, pull requests merged in 2021-04, with the labels that each got.

#268 OPERATOR-256 Add telemetry component
  deploy/crds/core_v1_storagecluster_crd.yaml
  drivers/storage/portworx/component/portworx_basic.go
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/testspec/ccmconfig.yaml
  drivers/storage/portworx/testspec/portworxRole.yaml
  drivers/storage/portworx/testspec/px_telemetry-with-location.yaml
  drivers/storage/portworx/testspec/px_telemetry.yaml
  drivers/storage/portworx/util/util.go
  pkg/apis/core/v1/storagecluster.go
  pkg/apis/core/v1/zz_generated.deepcopy.go
Labels: area/components, area/manifest, area/portworx, area/specs, size/xl

#270 OPERATOR-307: clusterrole additions for sharedv4 service
  drivers/storage/portworx/component/portworx_basic.go
  drivers/storage/portworx/testspec/portworxClusterRole.yaml
Labels: area/components, size/s, stage/in-review

#273 OPERATOR-256 rename appliance ID to cluster UUID
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/testspec/ccmconfig.yaml
Labels: area/components, size/xs, stage/in-review

#274 Fix typo in cron-stale.yaml
  .github/workflows/cron-stale.yml
Labels: area/ci, size/xs, stage/in-review

#277 [OPERATOR-311] Allow volume expansion for stork-snapshot-sc storageclass
  pkg/controller/storagecluster/stork.go
  pkg/controller/storagecluster/stork_test.go
Labels: area/controller, size/xs, stage/in-review

#278 Update cluster role for stork-scheduler
  pkg/controller/storagecluster/stork.go
  pkg/controller/storagecluster/testspec/storkSchedClusterRole.yaml
Labels: area/controller, size/xs, stage/in-review

#279 cherry-pick: Add cluster role changes to stoek-scheduler for k8s1.21 (#278)
  pkg/controller/storagecluster/stork.go
  pkg/controller/storagecluster/testspec/storkSchedClusterRole.yaml
Labels: area/build, area/components, area/controller, area/manifest, area/portworx, area/specs, size/xl

#285 Makefile optimization
  Makefile
Labels: size/s, stage/in-review

#283 OPERATOR-303 Add default telemetry image
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/manifest/manifest_test.go
Labels: area/manifest, area/portworx, size/s, stage/in-review

#286 OPERATOR-304: Add BottleRocket AMI support
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
Labels: area/portworx, size/m, stage/in-review

#290 OPERATOR-256 Add no_rel_cert_enabled true to CCM config map
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/testspec/ccmconfig.yaml
Labels: area/components, size/xs, stage/in-review

#282 Feature/tls
  .gitignore
  deploy/crds/core_v1_storagecluster_crd.yaml
  drivers/storage/portworx/component/auth.go
  drivers/storage/portworx/component/autopilot.go
  drivers/storage/portworx/component/tls.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/util/util.go
  drivers/storage/portworx/util/util_test.go
  pkg/apis/core/v1/storagecluster.go
  pkg/apis/core/v1/zz_generated.deepcopy.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/update.go
  pkg/util/test/util.go
  pkg/util/util.go
  pkg/util/util_test.go
Labels: area/components, area/controller, area/portworx, area/specs, size/xl, stage/in-review

#292 [CSI] Install by default when Portworx is enabled
  drivers/storage/portworx/component/csi.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/testspec/openshift_runc.yaml
  drivers/storage/portworx/testspec/pks.yaml
  drivers/storage/portworx/testspec/portworxPodCustomPort.yaml
  drivers/storage/portworx/testspec/portworxPodEnvOverride.yaml
  drivers/storage/portworx/testspec/px_kvdb_certs.yaml
  drivers/storage/portworx/testspec/px_kvdb_certs_without_ca.yaml
  drivers/storage/portworx/testspec/px_kvdb_certs_without_key.yaml
  drivers/storage/portworx/testspec/px_kvdb_without_certs.yaml
  drivers/storage/portworx/testspec/px_master.yaml
  drivers/storage/portworx/testspec/runc.yaml
  drivers/storage/portworx/util/feature.go
  drivers/storage/portworx/util/util.go
Labels: area/components, area/portworx, size/m, stage/in-review

#293 [CSI] Install by default when Portworx is enabled (#292)
  drivers/storage/portworx/component/csi.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/testspec/openshift_runc.yaml
  drivers/storage/portworx/testspec/pks.yaml
  drivers/storage/portworx/testspec/portworxPodCustomPort.yaml
  drivers/storage/portworx/testspec/portworxPodEnvOverride.yaml
  drivers/storage/portworx/testspec/px_kvdb_certs.yaml
  drivers/storage/portworx/testspec/px_kvdb_certs_without_ca.yaml
  drivers/storage/portworx/testspec/px_kvdb_certs_without_key.yaml
  drivers/storage/portworx/testspec/px_kvdb_without_certs.yaml
  drivers/storage/portworx/testspec/px_master.yaml
  drivers/storage/portworx/testspec/runc.yaml
  drivers/storage/portworx/util/feature.go
  drivers/storage/portworx/util/util.go
Labels: area/components, area/portworx, size/m, stage/in-review

#294 OPERATOR-256 Add subscription section to use appliance ID
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/testspec/ccmconfig.yaml
Labels: area/components, size/xs, stage/in-review

#291 Mount Unix DS location on oci-mon pod
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/testspec/openshift_runc.yaml
  drivers/storage/portworx/testspec/pks.yaml
  drivers/storage/portworx/testspec/portworxPodCustomPort.yaml
  drivers/storage/portworx/testspec/portworxPodEnvOverride.yaml
  drivers/storage/portworx/testspec/px_csi_0.3.yaml
  drivers/storage/portworx/testspec/px_csi_1.0.yaml
  drivers/storage/portworx/testspec/px_k3s.yaml
  drivers/storage/portworx/testspec/px_kvdb_certs.yaml
  drivers/storage/portworx/testspec/px_kvdb_certs_without_ca.yaml
  drivers/storage/portworx/testspec/px_kvdb_certs_without_key.yaml
  drivers/storage/portworx/testspec/px_kvdb_without_certs.yaml
  drivers/storage/portworx/testspec/px_master.yaml
  drivers/storage/portworx/testspec/px_pks_with_csi.yaml
  drivers/storage/portworx/testspec/px_telemetry-with-location.yaml
  drivers/storage/portworx/testspec/px_telemetry.yaml
  drivers/storage/portworx/testspec/runc.yaml
Labels: area/portworx, size/s, stage/in-review
