Repository libopenstorage/operator, pull requests merged in 2021-07, with the labels that each got.

#355 CLOUD-61776 bump CCM to rc6
  drivers/storage/portworx/manifest/manifest.go
Labels: area/manifest, size/xs, stage/in-review

#356 [cherry-pick] CLOUD-61776 bump CCM to rc6
  drivers/storage/portworx/manifest/manifest.go
Labels: area/manifest, size/xs

#359 change CCM to use official image instead of rc
  drivers/storage/portworx/manifest/manifest.go
Labels: area/manifest, size/xs, stage/in-review

#360 [cherry-pick] change CCM to use official image instead of rc (#359)
  drivers/storage/portworx/manifest/manifest.go
Labels: area/manifest, size/xs

#361 PX rel 1.5.0
  deploy/olm-catalog/portworx/1.5.0/portworxoperator.v1.5.0.clusterserviceversion.yaml
  deploy/operator.yaml
Labels: area/specs, size/xs, stage/in-review

#363 [CSI] Remove privileged access from CSI sidecars
  drivers/storage/portworx/component/csi.go
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/testspec/csiDeploymentAlphaDisabledK8s_1_14.yaml
  drivers/storage/portworx/testspec/csiDeploymentAlphaDisabledK8s_1_16.yaml
  drivers/storage/portworx/testspec/csiDeploymentWithPKS.yaml
  drivers/storage/portworx/testspec/csiDeploymentWithResizerAndOldDriver_1.0.yaml
  drivers/storage/portworx/testspec/csiDeploymentWithResizer_1.0.yaml
  drivers/storage/portworx/testspec/csiDeploymentWithResizer_1_17.yaml
  drivers/storage/portworx/testspec/csiDeployment_1.0.yaml
  drivers/storage/portworx/testspec/csiDeployment_1.0_k8s120.yaml
  drivers/storage/portworx/testspec/csiStatefulSet_0.3.yaml
  drivers/storage/portworx/testspec/px_csi_0.3.yaml
  drivers/storage/portworx/testspec/px_csi_1.0.yaml
  drivers/storage/portworx/testspec/px_k3s.yaml
  drivers/storage/portworx/testspec/px_master.yaml
  drivers/storage/portworx/testspec/px_pks_with_csi.yaml
Labels: area/components, area/portworx, size/s, stage/in-review
