Repository libopenstorage/operator, pull requests merged in 2021-05, with the labels that each got.

#296 1.5.0 telemetry cherry picks
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/testspec/ccmconfig.yaml
Labels: area/components, size/xs, stage/in-review

#297 OPERATOR-329 Update pod spec on telemetry spec changes
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/testspec/px_disable_telemetry.yaml
  drivers/storage/portworx/util/util.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/update.go
Labels: area/components, area/controller, area/portworx, size/m, stage/in-review

#300 OPERATOR-329 reintroduce commented UTs
  pkg/controller/storagecluster/controller_test.go
Labels: area/controller, size/m, stage/in-review

#298 [cherry-pick] OPERATOR-329 Update pod spec on telemetry spec changes
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/testspec/px_disable_telemetry.yaml
  drivers/storage/portworx/util/util.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/update.go
Labels: area/components, area/controller, area/portworx, size/m, stage/in-review

#302 Create on-pr-approval.yml
  .github/workflows/on-pr-approval.yml
Labels: area/ci, size/s, stage/approved, stage/in-review

#301 Update default images to latest recommended versions
  drivers/storage/portworx/manifest/manifest.go
Labels: area/manifest, size/xs, stage/in-review

#295 Operator 268 - Block installing portworx from StorageCluster when Por…
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/storage.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/mock/storagedriver.mock.go
Labels: area/ci, area/components, area/controller, area/manifest, area/portworx, area/specs, size/m, stage/in-review

#304 OPERATOR-339 provide node name dynamically to telemetry container
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/testspec/px_telemetry-with-location.yaml
  drivers/storage/portworx/testspec/px_telemetry.yaml
  pkg/controller/storagecluster/storagecluster.go
Labels: area/controller, area/portworx, size/s, stage/in-review

#305 Remove github_api_url from labeler action
  .github/workflows/on-pr.yml
Labels: area/ci, size/xs, stage/approved, stage/in-review

#307 [cherry-pick] OPERATOR-339 provide node name dynamically to telemetry container (#304)
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/testspec/px_telemetry-with-location.yaml
  drivers/storage/portworx/testspec/px_telemetry.yaml
  pkg/controller/storagecluster/storagecluster.go
Labels: area/controller, area/portworx, size/s, stage/in-review, stage/in-review-stale

#303 OPERATOR-338 enable telemetry by default
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/testspec/ccmconfig.yaml
Labels: area/components, area/manifest, area/portworx, size/s, stage/in-review

#312 PWX-20088 Add pattern for phone homing auto diags
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/testspec/ccmconfig.yaml
Labels: area/components, size/xs, stage/in-review

#311 [cherry-pick] OPERATOR-338 enable telemetry by default
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/testspec/ccmconfig.yaml
Labels: area/components, area/manifest, area/portworx, size/s, stage/in-review

#313 [cherry-pick] PWX-20088 Add pattern for phone homing auto diags (#312)
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/testspec/ccmconfig.yaml
Labels: area/components, size/xs, stage/in-review

#309 [cherry-pick] Operator 268 - Block installing portworx from StorageCluster when Por…
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/storage.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/mock/storagedriver.mock.go
Labels: area/controller, area/portworx, size/m

#306 OPERATOR-262 add cloud_provider support
  deploy/crds/core_v1_storagecluster_crd.yaml
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
  pkg/apis/core/v1/storagecluster.go
  pkg/controller/storagecluster/controller_test.go
Labels: area/controller, area/portworx, area/specs, size/s, stage/in-review

#310 OPERATOR-322 fix DTR vulnerability scan issues
  build/Dockerfile
Labels: area/build, size/xs

#316 OPERATOR-305: Add memory limits and requests
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/testspec/px_telemetry.yaml
Labels: area/portworx, size/s, stage/in-review

#317 OPERATOR-305: Add memory limits and requests (#316)
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/testspec/px_telemetry.yaml
Labels: area/portworx, size/s, stage/in-review

#314 OPERATOR-278 Stork-scheduler is in CrashLoopBackOff, because of inval…
  pkg/controller/storagecluster/stork.go
  pkg/controller/storagecluster/stork_test.go
  vendor/k8s.io/kube-scheduler/config/v1/doc.go
  vendor/k8s.io/kube-scheduler/config/v1/register.go
  vendor/k8s.io/kube-scheduler/config/v1/types.go
  vendor/k8s.io/kube-scheduler/config/v1/zz_generated.deepcopy.go
  vendor/k8s.io/kube-scheduler/config/v1beta1/doc.go
  vendor/k8s.io/kube-scheduler/config/v1beta1/register.go
  vendor/k8s.io/kube-scheduler/config/v1beta1/types.go
  vendor/k8s.io/kube-scheduler/config/v1beta1/types_pluginargs.go
  vendor/k8s.io/kube-scheduler/config/v1beta1/zz_generated.deepcopy.go
  vendor/k8s.io/kubernetes/pkg/scheduler/apis/config/scheme/BUILD
  vendor/k8s.io/kubernetes/pkg/scheduler/apis/config/scheme/scheme.go
  vendor/k8s.io/kubernetes/pkg/scheduler/apis/config/v1/BUILD
  vendor/k8s.io/kubernetes/pkg/scheduler/apis/config/v1/conversion.go
  vendor/k8s.io/kubernetes/pkg/scheduler/apis/config/v1/doc.go
  vendor/k8s.io/kubernetes/pkg/scheduler/apis/config/v1/register.go
  vendor/k8s.io/kubernetes/pkg/scheduler/apis/config/v1/zz_generated.conversion.go
  vendor/k8s.io/kubernetes/pkg/scheduler/apis/config/v1/zz_generated.deepcopy.go
  vendor/k8s.io/kubernetes/pkg/scheduler/apis/config/v1/zz_generated.defaults.go
  vendor/k8s.io/kubernetes/pkg/scheduler/apis/config/v1beta1/BUILD
  vendor/k8s.io/kubernetes/pkg/scheduler/apis/config/v1beta1/conversion.go
  vendor/k8s.io/kubernetes/pkg/scheduler/apis/config/v1beta1/defaults.go
  vendor/k8s.io/kubernetes/pkg/scheduler/apis/config/v1beta1/doc.go
  vendor/k8s.io/kubernetes/pkg/scheduler/apis/config/v1beta1/register.go
  vendor/k8s.io/kubernetes/pkg/scheduler/apis/config/v1beta1/zz_generated.conversion.go
  vendor/k8s.io/kubernetes/pkg/scheduler/apis/config/v1beta1/zz_generated.deepcopy.go
  vendor/k8s.io/kubernetes/pkg/scheduler/apis/config/v1beta1/zz_generated.defaults.go
Labels: area/controller, area/vendor, size/xl, stage/in-review

#315 Update auto generated code
  pkg/apis/core/v1/zz_generated.deepcopy.go
Labels: size/xs, stage/in-review

#318 [OPERATOR-241] Pass custom annotations to Portworx pods
  deploy/crds/core_v1_storagecluster_crd.yaml
  pkg/apis/core/v1/storagecluster.go
  pkg/apis/core/v1/zz_generated.deepcopy.go
  pkg/constants/metadata.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/controller/storagecluster/update.go
  pkg/util/k8s/k8s.go
  pkg/util/util.go
  pkg/util/util_test.go
Labels: area/controller, area/specs, size/m, stage/in-review

#320 [OPERATOR-241] Pass custom annotations to Portworx pods
  deploy/crds/core_v1_storagecluster_crd.yaml
  pkg/apis/core/v1/storagecluster.go
  pkg/apis/core/v1/zz_generated.deepcopy.go
  pkg/constants/metadata.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/controller/storagecluster/update.go
  pkg/util/k8s/k8s.go
  pkg/util/util.go
  pkg/util/util_test.go
Labels: area/controller, area/specs, size/m, stage/in-review

#322 Continue using configmaps for leaderelection
  cmd/operator.go
Labels: area/cmd, size/xs, stage/in-review

#319 OPERATOR-240 [Mastercard] Unable to set image urls when using operator in air gapped environment
  drivers/storage/portworx/component/autopilot.go
  drivers/storage/portworx/component/csi.go
  drivers/storage/portworx/component/lighthouse.go
  drivers/storage/portworx/component/portworx_api.go
  drivers/storage/portworx/component/portworx_proxy.go
  drivers/storage/portworx/component/prometheus.go
  drivers/storage/portworx/component/pvccontroller.go
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/uninstall.go
  pkg/constants/metadata.go
  pkg/controller/storagecluster/stork.go
  pkg/util/test/util.go
  pkg/util/util.go
  pkg/util/util_test.go
Labels: area/components, area/controller, area/portworx, size/m, stage/in-review, stage/in-review-stale

#321 [CSI] Update CSIDriver to v1 for k8s 1.18+
  drivers/storage/portworx/component/csi.go
  drivers/storage/portworx/components_test.go
  pkg/util/k8s/k8s.go
  pkg/util/k8s/k8s_test.go
Labels: area/components, area/portworx, size/m, stage/in-review
