Repository libopenstorage/operator, pull requests merged in 2021-06, with the labels that each got.

#323 [CSI] Update CSIDriver to v1 for k8s 1.18+ (#321)
  drivers/storage/portworx/component/csi.go
  drivers/storage/portworx/components_test.go
  pkg/util/k8s/k8s.go
  pkg/util/k8s/k8s_test.go
Labels: area/components, area/portworx, size/m, stage/in-review, stage/in-review-stale

#324 PWX-20342 disable array_info.json file creation
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/testspec/ccmconfig.yaml
Labels: area/components, size/xs, stage/in-review

#325 [cherry-pick] PWX-20342 disable array_info.json file creation (#324)
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/testspec/ccmconfig.yaml
Labels: area/components, size/xs, stage/in-review

#326 OPERATOR-238 [Ford] Pod restart delay should be since pod was deleted…
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/controller/storagecluster/stork_test.go
  pkg/controller/storagenode/storagenode.go
  pkg/controller/storagenode/storagenode_test.go
  pkg/util/k8s/node.go
  pkg/util/k8s/node_test.go
Labels: area/controller, size/l, stage/in-review

#327 PERATOR-317 fix redhat scan issue
  build/Dockerfile
Labels: area/build, size/xs, stage/in-review

#328 PWX-20507 Bump telemetry image to rc3
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/testspec/px_telemetry-with-location.yaml
  drivers/storage/portworx/testspec/px_telemetry.yaml
Labels: area/manifest, area/portworx, size/xs, stage/in-review

#329 [cherry-pick] PWX-20507 Bump telemetry image to rc3 (#328)
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/testspec/px_telemetry-with-location.yaml
  drivers/storage/portworx/testspec/px_telemetry.yaml
Labels: area/manifest, area/portworx, size/xs, stage/in-review

#330 OPERATOR-349 AKS crash due to port conflict
  drivers/storage/portworx/component/pvccontroller.go
  drivers/storage/portworx/components_test.go
Labels: area/components, area/portworx, size/s, stage/in-review

#332 CLOUD-59607 restrict server core pool size to 2
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/testspec/px_telemetry-with-location.yaml
  drivers/storage/portworx/testspec/px_telemetry.yaml
Labels: area/portworx, size/xs, stage/in-review

#333 [cherry-pick] CLOUD-59607 restrict server core pool size to 2 (#332)
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/testspec/px_telemetry-with-location.yaml
  drivers/storage/portworx/testspec/px_telemetry.yaml
Labels: area/portworx, size/xs

#334 PWX-20490 default to external location for arcus
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/components_test.go
Labels: area/components, area/portworx, size/xs, stage/in-review

#336 [cherry-pick] PWX-20490 default to external location for arcus (#334)
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/components_test.go
Labels: area/components, area/portworx, size/xs

#331 OPERATOR-262 fix to not add -cloud_provider parameter for px version …
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
Labels: area/portworx, size/s, stage/in-review

#335 PWX-20544-pt2 / OPERATOR-362: BottleRocket v1.1.1 support
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
Labels: area/portworx, size/s, stage/approved, stage/in-review

#337 PWX-20490 fix config map volume mount to reference arcus location
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/testspec/px_telemetry.yaml
Labels: area/portworx, size/s, stage/in-review

#338 [cherry-pick] PWX-20490 fix config map volume mount to reference arcus location (#337)
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/testspec/px_telemetry.yaml
Labels: area/portworx, size/s

#341 CLOUD-61346 Bump CCM to rc4
  drivers/storage/portworx/manifest/manifest.go
Labels: area/manifest, size/xs, stage/in-review

#339 OPERATOR-369: Mounts checks and override
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
Labels: area/portworx, size/m, stage/approved, stage/in-review

#340 Remove cross-namespace ownership
  drivers/storage/portworx/component/portworx_basic.go
  drivers/storage/portworx/components_test.go
  pkg/util/k8s/k8s.go
Labels: area/components, area/portworx, size/m, stage/in-review

#343 add cache devices in StorageCluster nodes schema
  deploy/crds/core_v1_storagecluster_crd.yaml
Labels: area/specs, size/xs, stage/in-review

#344 PWX-20585 disable scheduled log uploader
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/testspec/ccmconfig.yaml
Labels: area/components, size/xs, stage/in-review

#342 [cherry-pick] CLOUD-61346 Bump CCM to rc4 (#341)
  drivers/storage/portworx/manifest/manifest.go
Labels: area/manifest, size/xs

#345 [cherry-pick] PWX-20585 disable scheduled log uploader (#344)
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/testspec/ccmconfig.yaml
Labels: area/components, size/xs

#346 PTX-3606 Update prometheus statefulset name
  pkg/util/test/util.go
Labels: size/xs, stage/approved, stage/in-review

#349 CLOUD-61491 Bump CCM to rc5
  drivers/storage/portworx/manifest/manifest.go
Labels: area/manifest, size/xs, stage/in-review

#350 [cherry-pick] CLOUD-61491 Bump CCM to rc5
  drivers/storage/portworx/manifest/manifest.go
Labels: area/manifest, size/xs

#351 Avoid updating CSI driver object repeatedly
  pkg/util/k8s/k8s.go
Labels: size/xs, stage/in-review
