Repository libopenstorage/operator, pull requests merged in 2022-12, with the labels that each got.

#835 PWX-25288-pt2: Adding support for 'auto-tls'
  drivers/storage/portworx/component/tls.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/status_test.go
  drivers/storage/portworx/util/util.go
  drivers/storage/portworx/util/util_test.go
  pkg/controller/storagecluster/storagecluster.go
Labels: stage/in-review, area/components, area/portworx, size/m, area/controller, stage/approved, area/cmd

#846 PWX-26920 fix prometheus operator test automation failure
  deploy/crds/core_v1_storagecluster_crd.yaml
  drivers/storage/portworx/component/prometheus.go
  drivers/storage/portworx/testspec/prometheusInstance.yaml
  drivers/storage/portworx/testspec/prometheusInstanceWithAlertManager.yaml
  drivers/storage/portworx/testspec/prometheusInstanceWithRemoteWriteEndpoint.yaml
Labels: stage/in-review, area/components, area/specs, size/m

#844 PTX-14313 Pin AlertManager and Prometheus images
  test/integration_test/migration_test.go
Labels: stage/in-review, size/s, area/integration-test, stage/approved

#848 Updating CSV to use 1.10.1 released image
  deploy/olm-catalog/portworx/1.10.1/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs

#850 PWX-25288-pt2: Unit-tests fix
  drivers/storage/portworx/components_test.go
Labels: stage/in-review, size/s, area/portworx, stage/approved

#852 PTX-13942 Modified operator tests to run from container
  test/integration_test/Dockerfile
  test/integration_test/test-deploy.sh
Labels: stage/in-review, size/s, area/integration-test, stage/approved

#851 PWX-26915_pt2: Fixing AutoSSL for AutoPilot
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/portworx.go
Labels: stage/in-review, size/s, area/portworx, stage/approved

#858 Bump all CSI images to the latest and remove prov fork for PX 2.13+
  drivers/storage/portworx/util/csi_generator.go
  drivers/storage/portworx/util/csi_generator_test.go
  test/integration_test/testspec/migration/daemonset-with-all-components.yaml
Labels: stage/in-review, size/s, area/integration-test

#843 PWX-28023 update prometheus CRD
  Makefile
  drivers/storage/portworx/component/prometheus.go
  pkg/util/k8s/k8s.go
Labels: stage/in-review, area/components, size/s, stage/in-review-stale

#857 [PWX-27588] Add support for EKS cloud storage capacity based configuration
  drivers/storage/portworx/cloud_storage.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  vendor/github.com/libopenstorage/cloudops/aws/storagemanager/aws.go
  vendor/modules.txt
Labels: stage/in-review, area/portworx, size/m, area/vendor

#854 PTX-13564 Add methods to deploy/delete PX Operator via OCP Marketplace and basic test
  go.mod
  go.sum
  pkg/util/test/util.go
  test/integration_test/main_test.go
  test/integration_test/marketplace_test.go
  test/integration_test/operator-test-pod-template.yaml
  test/integration_test/test-deploy.sh
  test/integration_test/utils/constants.go
  test/integration_test/utils/marketplace.go
  test/integration_test/utils/px_operator.go
  vendor/github.com/blang/semver/v4/LICENSE
  vendor/github.com/blang/semver/v4/json.go
  vendor/github.com/blang/semver/v4/range.go
  vendor/github.com/blang/semver/v4/semver.go
  vendor/github.com/blang/semver/v4/sort.go
  vendor/github.com/blang/semver/v4/sql.go
  vendor/github.com/operator-framework/api/LICENSE
  vendor/github.com/operator-framework/api/pkg/lib/version/version.go
  vendor/github.com/operator-framework/api/pkg/operators/doc.go
  vendor/github.com/operator-framework/api/pkg/operators/register.go
  vendor/github.com/operator-framework/api/pkg/operators/v1/doc.go
  vendor/github.com/operator-framework/api/pkg/operators/v1/groupversion_info.go
  vendor/github.com/operator-framework/api/pkg/operators/v1/olmconfig_types.go
  vendor/github.com/operator-framework/api/pkg/operators/v1/operator_types.go
  vendor/github.com/operator-framework/api/pkg/operators/v1/operatorcondition_types.go
  vendor/github.com/operator-framework/api/pkg/operators/v1/operatorgroup_types.go
  vendor/github.com/operator-framework/api/pkg/operators/v1/zz_generated.deepcopy.go
  vendor/github.com/operator-framework/api/pkg/operators/v1alpha1/catalogsource_types.go
  vendor/github.com/operator-framework/api/pkg/operators/v1alpha1/clusterserviceversion.go
  vendor/github.com/operator-framework/api/pkg/operators/v1alpha1/clusterserviceversion_types.go
  vendor/github.com/operator-framework/api/pkg/operators/v1alpha1/doc.go
  vendor/github.com/operator-framework/api/pkg/operators/v1alpha1/installplan_types.go
  vendor/github.com/operator-framework/api/pkg/operators/v1alpha1/register.go
  vendor/github.com/operator-framework/api/pkg/operators/v1alpha1/subscription_types.go
  vendor/github.com/operator-framework/api/pkg/operators/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/portworx/sched-ops/k8s/common/utils.go
  vendor/github.com/portworx/sched-ops/k8s/core/core.go
  vendor/github.com/portworx/sched-ops/k8s/core/csr.go
  vendor/github.com/portworx/sched-ops/k8s/core/events.go
  vendor/github.com/portworx/sched-ops/k8s/core/limitrange.go
  vendor/github.com/portworx/sched-ops/k8s/core/persistentvolumeclaims.go
  vendor/github.com/portworx/sched-ops/k8s/core/secrets.go
  vendor/github.com/portworx/sched-ops/k8s/operatormarketplace/catalogsource.go
  vendor/github.com/portworx/sched-ops/k8s/operatormarketplace/clusterserviceversion.go
  vendor/github.com/portworx/sched-ops/k8s/operatormarketplace/installplan.go
  vendor/github.com/portworx/sched-ops/k8s/operatormarketplace/operatorgroup.go
  vendor/github.com/portworx/sched-ops/k8s/operatormarketplace/operatormarketplace.go
  vendor/github.com/portworx/sched-ops/k8s/operatormarketplace/subscription.go
  vendor/modules.txt
Labels: stage/in-review, size/xl, area/integration-test, area/vendor, stage/approved

#856 PTX-13944 Added Jenkinsfile to enable PR automation
  Jenkinsfile
Labels: stage/in-review, size/s, stage/approved

#849 Updating CSV to use 1.10.1 released image
  deploy/olm-catalog/portworx/1.10.1/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs, size/xs, stage/in-review-stale, stage/approved

#859 PTX-13565 Adding PX Operator upgrade methods and validation as well as upgrade test
  test/integration_test/main_test.go
  test/integration_test/marketplace_test.go
  test/integration_test/operator-test-pod-template.yaml
  test/integration_test/test-deploy.sh
  test/integration_test/utils/constants.go
  test/integration_test/utils/marketplace.go
  test/integration_test/utils/px_operator.go
Labels: stage/in-review, size/m, area/integration-test, stage/approved

#866 PTX-14618: Fixing k8 scheduler version validation logic for operator…
  pkg/util/test/util.go
Labels: stage/in-review, size/s

#867 PWX-28312: Fix stork-scheduler image validation failure
  pkg/util/test/util.go
Labels: stage/in-review, size/s

#865 [PWX-26914][PWX-27865][PWX-27923] add resources limit/requests to oci-mon and runc args
  deploy/crds/core_v1_storagecluster_crd.yaml
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
Labels: stage/in-review, size/s, area/specs, area/portworx

#870 [PWX-27765] Fix migration status update issue
  pkg/migration/migration.go
Labels: stage/in-review, size/s

#871 Update ccm.properties to include PX incremental upload content.
  deploy/ccm/ccm.properties
  drivers/storage/portworx/testspec/ccmGoPhonehomeConfigMap.yaml
Labels: stage/in-review, size/s, area/specs

#869 [PWX-27588] Calculate EKS cloud drive spec using totalCapacity/storageNodesCount
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
Labels: stage/in-review, area/portworx, size/m

#872 PWX-26156: enable csi by default on k8s 1.26
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  pkg/util/k8s/k8s.go
  test/integration_test/utils/storagecluster.go
Labels: stage/in-review, size/s, area/portworx, area/controller, area/integration-test

#876 PWX-28289 Add CSV for 1.10.2
  Makefile
  deploy/olm-catalog/portworx/1.10.2/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/1.10.2/core_v1_storagenode_crd.yaml
  deploy/olm-catalog/portworx/1.10.2/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs, size/xl

#873 [PWX-27765] Fix stc object and migration condition update issues during migration
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/status.go
  pkg/constants/migration.go
  pkg/migration/backup.go
  pkg/migration/migration.go
  pkg/migration/migration_test.go
Labels: stage/in-review, area/portworx, size/m, area/controller

#875 [PWX-28349] Update STC status to Degraded when installation fails
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/controller/storagecluster/update.go
Labels: stage/in-review, size/s, area/controller

#877 PWX-28289 Setup 1.10.2 release branch
  .travis.yml
  Makefile
  deploy/olm-catalog/portworx/portworx.package.yaml
  deploy/operator.yaml
Labels: stage/in-review, area/specs
