Repository libopenstorage/operator, pull requests merged in 2022-02, with the labels that each got.

#498 Use 1.7.0 released images
  deploy/olm-catalog/portworx/1.7.0/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs, size/xs

#496 OPERATOR-554: change portworx pod dns policy to DNSClusterFirstWithHostNet bcz host…
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/testspec/openshift_runc.yaml
  drivers/storage/portworx/testspec/pks.yaml
  drivers/storage/portworx/testspec/pks_2.9.1.yaml
  drivers/storage/portworx/testspec/portworxPodCustomPort.yaml
  drivers/storage/portworx/testspec/portworxPodEnvOverride.yaml
  drivers/storage/portworx/testspec/px_csi_0.3.yaml
  drivers/storage/portworx/testspec/px_csi_1.0.yaml
  drivers/storage/portworx/testspec/px_disable_telemetry.yaml
  drivers/storage/portworx/testspec/px_k3s.yaml
  drivers/storage/portworx/testspec/px_kvdb_certs.yaml
  drivers/storage/portworx/testspec/px_kvdb_certs_without_ca.yaml
  drivers/storage/portworx/testspec/px_kvdb_certs_without_cert.yaml
  drivers/storage/portworx/testspec/px_kvdb_certs_without_key.yaml
  drivers/storage/portworx/testspec/px_kvdb_without_certs.yaml
  drivers/storage/portworx/testspec/px_master.yaml
  drivers/storage/portworx/testspec/px_pks_with_csi.yaml
  drivers/storage/portworx/testspec/px_telemetry-with-location.yaml
  drivers/storage/portworx/testspec/px_telemetry.yaml
  drivers/storage/portworx/testspec/px_telemetry_with_proxy.yaml
  drivers/storage/portworx/testspec/runc.yaml
  drivers/storage/portworx/testspec/runc_2.9.1.yaml
Labels: stage/in-review, size/s, area/portworx

#500 OPERATOR-544: add default FSGroupPolicy to File for k8s 1.20+
  drivers/storage/portworx/component/csi.go
  drivers/storage/portworx/components_test.go
Labels: stage/in-review, area/components, size/s, area/portworx

#501 [CSI] Fix comment on CSI volume health version
  drivers/storage/portworx/util/csi_generator.go
Labels: stage/in-review, size/xs, stage/approved

#497 OPERATOR-499: add flag to set hostpid
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/util/util.go
Labels: stage/in-review, size/s, area/portworx

#507 Update base registry to px-operator-registry:1.7.0
  Makefile
Labels: stage/in-review, size/xs

#505 Add preserveFullCustomRegistry to not swallow part of image
  deploy/crds/core_v1_storagecluster_crd.yaml
  go.mod
  pkg/apis/core/v1/storagecluster.go
  pkg/util/util.go
  pkg/util/util_test.go
Labels: size/s, area/specs

#508 Adding CSV for 1.7.1
  deploy/olm-catalog/portworx/1.7.1/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/1.7.1/core_v1_storagenode_crd.yaml
  deploy/olm-catalog/portworx/1.7.1/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs, size/xl

#509 OPERATOR-563 missing metrics collector image when telemetry is enable…
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/portworx.go
Labels: stage/in-review, size/s, area/portworx

#512 do not check metrics collector image when checking telemetry changed
  drivers/storage/portworx/portworx.go
Labels: stage/in-review, area/portworx, size/xs

#513 [cherry-pick] OPERATOR-563 missing metrics collector image when telemetry is enable
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/portworx.go
Labels: size/s, area/portworx

#511 [OPERATOR-543] Allow adding custom labels to portworx-api service
  deploy/crds/core_v1_storagecluster_crd.yaml
  drivers/storage/portworx/component/portworx_api.go
  drivers/storage/portworx/components_test.go
  pkg/apis/core/v1/storagecluster.go
  pkg/apis/core/v1/zz_generated.deepcopy.go
  pkg/util/k8s/k8s.go
  pkg/util/test/util.go
  pkg/util/util.go
  pkg/util/util_test.go
  test/integration_test/basic_test.go
  test/integration_test/utils/px_operator.go
Labels: stage/in-review, area/components, area/specs, area/portworx, size/m, area/integration-test

#517 fix unit test failure
  pkg/controller/storagecluster/controller_test.go
Labels: size/s, area/controller

#518 Cherry-picks
  drivers/storage/portworx/component/csi.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/testspec/openshift_runc.yaml
  drivers/storage/portworx/testspec/pks.yaml
  drivers/storage/portworx/testspec/pks_2.9.1.yaml
  drivers/storage/portworx/testspec/portworxPodCustomPort.yaml
  drivers/storage/portworx/testspec/portworxPodEnvOverride.yaml
  drivers/storage/portworx/testspec/px_csi_0.3.yaml
  drivers/storage/portworx/testspec/px_csi_1.0.yaml
  drivers/storage/portworx/testspec/px_disable_telemetry.yaml
  drivers/storage/portworx/testspec/px_k3s.yaml
  drivers/storage/portworx/testspec/px_kvdb_certs.yaml
  drivers/storage/portworx/testspec/px_kvdb_certs_without_ca.yaml
  drivers/storage/portworx/testspec/px_kvdb_certs_without_cert.yaml
  drivers/storage/portworx/testspec/px_kvdb_certs_without_key.yaml
  drivers/storage/portworx/testspec/px_kvdb_without_certs.yaml
  drivers/storage/portworx/testspec/px_master.yaml
  drivers/storage/portworx/testspec/px_pks_with_csi.yaml
  drivers/storage/portworx/testspec/px_telemetry-with-location.yaml
  drivers/storage/portworx/testspec/px_telemetry.yaml
  drivers/storage/portworx/testspec/px_telemetry_with_proxy.yaml
  drivers/storage/portworx/testspec/runc.yaml
  drivers/storage/portworx/testspec/runc_2.9.1.yaml
  drivers/storage/portworx/util/util.go
  pkg/util/k8s/k8s.go
Labels: area/components, area/portworx, size/m

#519 [OPERATOR-543] Allow adding custom labels to portworx-api service
  deploy/crds/core_v1_storagecluster_crd.yaml
  drivers/storage/portworx/component/portworx_api.go
  drivers/storage/portworx/components_test.go
  pkg/apis/core/v1/storagecluster.go
  pkg/apis/core/v1/zz_generated.deepcopy.go
  pkg/util/k8s/k8s.go
  pkg/util/test/util.go
  pkg/util/util.go
  pkg/util/util_test.go
  test/integration_test/basic_test.go
  test/integration_test/utils/px_operator.go
Labels: area/components, area/specs, area/portworx, size/m, area/integration-test
