Repository libopenstorage/operator, pull requests merged in 2022-10, with the labels that each got.

#788 improve functional test performance
  test/integration_test/basic_test.go
  test/integration_test/migration_test.go
  test/integration_test/utils/constants.go
  test/integration_test/utils/storagecluster.go
Labels: stage/in-review, size/m, area/integration-test

#791 [PWX-27219] Truncate clusterID during migration if longer than 63 chars
  pkg/migration/generate.go
  pkg/migration/migration_test.go
Labels: stage/in-review, size/m

#790 PWX-24830: Adding apt-get to support debian container test image.
  test/integration_test/test-deploy.sh
Labels: stage/in-review, size/xs, stage/in-review-stale, area/integration-test

#797 [PWX-27401] Skip metrics collector v1 deployment validation
  pkg/util/test/util.go
Labels: stage/in-review, size/s

#798 Fix build failure caused by golint dependency update
  go.mod
  go.sum
  vendor/modules.txt
Labels: stage/in-review, size/s, area/vendor

#799 Fix build failure caused by golint dependency update
  go.mod
  go.sum
  vendor/modules.txt
Labels: area/vendor

#800 Updating CSV to use 1.10.0 released image
  deploy/olm-catalog/portworx/1.10.0/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/1.10.0/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs

#801 Updating CSV to use 1.10.0 released image
  deploy/olm-catalog/portworx/1.10.0/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/1.10.0/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, size/s, area/specs

#802 PWX-26741 adjust some logs from debug to info
  drivers/storage/portworx/component/portworx_basic.go
  drivers/storage/portworx/component/portworx_crd.go
  drivers/storage/portworx/component/portworx_proxy.go
  drivers/storage/portworx/manifest/remote.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/status.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/controller/storagecluster/update.go
  pkg/util/k8s/k8s.go
  pkg/util/k8s/node.go
  pkg/util/k8s/pod.go
Labels: stage/in-review, area/components, area/manifest, area/portworx, size/m, area/controller

#804 Create operator 1.10.1 release branch
  .travis.yml
  Makefile
  deploy/olm-catalog/portworx/1.10.1/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/1.10.1/core_v1_storagenode_crd.yaml
  deploy/olm-catalog/portworx/1.10.1/portworx-certified.clusterserviceversion.yaml
  deploy/olm-catalog/portworx/portworx.package.yaml
  deploy/operator.yaml
Labels: stage/in-review, area/specs

#805 PWX-27538 add registry.k8s.io as common registry
  pkg/util/util.go
  pkg/util/util_test.go
Labels: stage/in-review, size/xs

#806 Fix migration automation storage cluster update issue
  test/integration_test/migration_test.go
Labels: stage/in-review, size/xs, area/integration-test
