Repository libopenstorage/operator, pull requests merged in 2022-06, with the labels that each got.

#635 [OPERATOR-651] Set PreserveFullCustomImageRegistry during migration
  pkg/migration/generate.go
  pkg/migration/migration_test.go
Labels: stage/in-review, size/m, stage/in-review-stale

#636 [OPERATOR-726] Add custom annotation support to different portworx services
  drivers/storage/portworx/component/portworx_api.go
  drivers/storage/portworx/component/portworx_basic.go
  drivers/storage/portworx/components_test.go
  pkg/util/k8s/k8s.go
  pkg/util/util_test.go
Labels: stage/in-review, area/components, area/portworx, size/m

#639 [CP][OPERATOR-726] Add custom annotation support to different portworx se…
  drivers/storage/portworx/component/portworx_api.go
  drivers/storage/portworx/component/portworx_basic.go
  drivers/storage/portworx/components_test.go
  pkg/util/k8s/k8s.go
  pkg/util/util_test.go
Labels: area/components, area/portworx

#630 [OPERATOR-508] Migrate external kvdb auth secret
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
  pkg/migration/generate.go
  pkg/migration/migration_test.go
Labels: stage/in-review, area/portworx, stage/in-review-stale, size/l

#631 [CP][OPERATOR-511] Migrate portworx pod custom annotations
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
  pkg/migration/generate.go
  pkg/migration/migration_test.go
Labels: area/portworx

#643 [OPERATOR-627] DaemonSet migration using OnDelete update strategy
  pkg/migration/migration.go
  pkg/migration/migration_test.go
Labels: stage/in-review, size/xl

#650 PWX-23613: Also PWX-23614, PWX-23615, PWX-23616 - Update prometheus c…
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/manifest/manifest_test.go
Labels: stage/in-review, size/s, area/manifest

#645 OPERATOR-752: cleanup px created configmaps
  pkg/constants/metadata.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/util/k8s/k8s.go
Labels: stage/in-review, size/m, area/controller

#649 OPERATOR-773: Update to new base image for security scan
  Makefile
  build/Dockerfile
Labels: stage/in-review, size/xs, area/build

#648 PWX-24362: Update ccm-server & realtime-metrics versions
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/manifest/manifest_test.go
Labels: size/s, area/manifest

#653 [cherry-pick] Px rel 1.8.1
  Makefile
  build/Dockerfile
  pkg/constants/metadata.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/util/k8s/k8s.go
Labels: area/controller, area/build

#656 Update px-rel-1.8.1 with master change to update prometheus.
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/manifest/manifest_test.go
Labels: stage/in-review, area/manifest

#657 PWX-23613: Also PWX-23614, PWX-23615, PWX-23616 - Update prometheus c…
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/manifest/manifest_test.go
Labels: stage/in-review, area/manifest

#658 use specific base image tag instead of latest
  build/Dockerfile
Labels: stage/in-review, size/xs, area/build

#652 [PWX-23190] Update envoy image to latest
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/manifest/manifest_test.go
Labels: stage/in-review, size/s, area/manifest

#660 [CP-1.9.0][PWX-23190] Update envoy image to latest
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/manifest/manifest_test.go
Labels: area/manifest

#659 [CP-1.8.1][PWX-23190] Update envoy image to latest
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/manifest/manifest_test.go
Labels: area/manifest

#655 PWX-24271: Update autopilot to version 1.3.2.1 for vulnerability fixes.
  drivers/storage/portworx/manifest/manifest.go
Labels: stage/in-review, area/manifest, size/xs

#662 Update autopilot to 1.3.2.1
  drivers/storage/portworx/manifest/manifest.go
Labels: stage/in-review, area/manifest

#661 Update autopilot 1.3.2.1
  drivers/storage/portworx/manifest/manifest.go
Labels: stage/in-review, area/manifest

#667 [OPERATOR-784] Downgrade envoy image version to v1.21.4
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/manifest/manifest_test.go
Labels: stage/in-review, size/s, area/manifest

#666 [op-1.8.1][OPERATOR-784] Downgrade envoy image version to v1.21.4
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/manifest/manifest_test.go
Labels: stage/in-review, area/manifest

#668 [OPERATOR-784] Downgrade envoy image version to v1.21.4
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/manifest/manifest_test.go
Labels: stage/in-review, area/manifest

#669 [OPERATOR-741] Ignore volumes with mouth path conflicts when migrating extra volumes
  pkg/migration/dryrun_test.go
  pkg/migration/generate.go
  pkg/migration/migration_test.go
Labels: stage/in-review, size/m

#672 Updating CSV to use 1.8.1 released image
  deploy/olm-catalog/portworx/1.8.1/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs

#671 portworx operator 1.8.1
  deploy/olm-catalog/portworx/1.8.1/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/1.8.1/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, size/s, area/specs

#675 PTX-7674 Add validation for Porworx ConfigMap deletion on wipe
  pkg/util/test/util.go
Labels: stage/in-review, size/s, stage/approved

#676 [cherry-pick] update node wiper image from 2.5.0 to 2.10.0
  drivers/storage/portworx/manifest/manifest.go
Labels: stage/in-review, area/manifest

#674 OPERATOR-785: stop creating more kvdb pods when hitting outOfPods status
  pkg/controller/storagenode/storagenode.go
  pkg/controller/storagenode/storagenode_test.go
Labels: stage/in-review, size/m, area/controller

#679 Fix golint build issue
  Makefile
  go.mod
  go.sum
  vendor/golang.org/x/mod/module/module.go
  vendor/golang.org/x/tools/go/ast/astutil/enclosing.go
  vendor/golang.org/x/tools/go/ast/astutil/imports.go
  vendor/golang.org/x/tools/go/ast/astutil/rewrite.go
  vendor/golang.org/x/tools/imports/forward.go
  vendor/golang.org/x/tools/internal/fastwalk/fastwalk.go
  vendor/golang.org/x/tools/internal/gocommand/invoke.go
  vendor/golang.org/x/tools/internal/gopathwalk/walk.go
  vendor/golang.org/x/tools/internal/imports/imports.go
  vendor/golang.org/x/tools/internal/imports/sortimports.go
  vendor/golang.org/x/tools/internal/imports/zstdlib.go
  vendor/golang.org/x/tools/internal/typeparams/common.go
  vendor/golang.org/x/tools/internal/typeparams/coretype.go
  vendor/golang.org/x/tools/internal/typeparams/normalize.go
  vendor/golang.org/x/tools/internal/typeparams/termlist.go
  vendor/golang.org/x/xerrors/LICENSE
  vendor/golang.org/x/xerrors/PATENTS
  vendor/golang.org/x/xerrors/README
  vendor/golang.org/x/xerrors/adaptor.go
  vendor/golang.org/x/xerrors/codereview.cfg
  vendor/golang.org/x/xerrors/doc.go
  vendor/golang.org/x/xerrors/errors.go
  vendor/golang.org/x/xerrors/fmt.go
  vendor/golang.org/x/xerrors/format.go
  vendor/golang.org/x/xerrors/frame.go
  vendor/golang.org/x/xerrors/go.mod
  vendor/golang.org/x/xerrors/internal/internal.go
  vendor/golang.org/x/xerrors/wrap.go
  vendor/modules.txt
Labels: stage/in-review, size/xl, area/vendor

#680 [CP] Fix golint build issue
  Makefile
  go.mod
  go.sum
  vendor/golang.org/x/mod/module/module.go
  vendor/golang.org/x/tools/go/ast/astutil/enclosing.go
  vendor/golang.org/x/tools/go/ast/astutil/imports.go
  vendor/golang.org/x/tools/go/ast/astutil/rewrite.go
  vendor/golang.org/x/tools/imports/forward.go
  vendor/golang.org/x/tools/internal/fastwalk/fastwalk.go
  vendor/golang.org/x/tools/internal/gocommand/invoke.go
  vendor/golang.org/x/tools/internal/gopathwalk/walk.go
  vendor/golang.org/x/tools/internal/imports/imports.go
  vendor/golang.org/x/tools/internal/imports/sortimports.go
  vendor/golang.org/x/tools/internal/imports/zstdlib.go
  vendor/golang.org/x/tools/internal/typeparams/common.go
  vendor/golang.org/x/tools/internal/typeparams/coretype.go
  vendor/golang.org/x/tools/internal/typeparams/normalize.go
  vendor/golang.org/x/tools/internal/typeparams/termlist.go
  vendor/golang.org/x/xerrors/LICENSE
  vendor/golang.org/x/xerrors/PATENTS
  vendor/golang.org/x/xerrors/README
  vendor/golang.org/x/xerrors/adaptor.go
  vendor/golang.org/x/xerrors/codereview.cfg
  vendor/golang.org/x/xerrors/doc.go
  vendor/golang.org/x/xerrors/errors.go
  vendor/golang.org/x/xerrors/fmt.go
  vendor/golang.org/x/xerrors/format.go
  vendor/golang.org/x/xerrors/frame.go
  vendor/golang.org/x/xerrors/go.mod
  vendor/golang.org/x/xerrors/internal/internal.go
  vendor/golang.org/x/xerrors/wrap.go
  vendor/modules.txt
Labels: area/vendor

#678 PTX-2756 P0 Internal KVDB regression test and validation
  pkg/util/test/util.go
  test/integration_test/basic_test.go
Labels: stage/in-review, size/s, area/integration-test, area/vendor, stage/approved

#681 change ccm-service to 3.2.11
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/manifest/manifest_test.go
Labels: size/s, area/manifest

#682 OPERATOR-803 Increase stork-scheduler logging level if verbose
  pkg/controller/storagecluster/stork.go
  pkg/controller/storagecluster/stork_test.go
Labels: stage/in-review, size/s, area/controller, stage/approved

#684 change ccm-service to 3.2.11
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/manifest/manifest_test.go
Labels: area/manifest
