Repository libopenstorage/operator, pull requests merged in 2022-05, with the labels that each got.

#577 PTX-5151 Add support for OCP
  test/integration_test/main_test.go
  test/integration_test/operator-test-pod-template.yaml
  test/integration_test/test-deploy.sh
  test/integration_test/utils/constants.go
  test/integration_test/utils/storagecluster.go
Labels: work-in-progress, stage/in-review, size/m, area/integration-test, stage/approved

#589 Fix build issue
  .travis.yml
  Makefile
  go.mod
  go.sum
  test/integration_test/Dockerfile
  vendor/modules.txt
Labels: area/integration-test, area/vendor

#590 [OPERATOR-509] Populate extra storage driver volumes in StorageCluster during DaemonSet migration
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
  pkg/migration/generate.go
  pkg/migration/migration_test.go
Labels: area/portworx

#594 [OPERATOR-700] Fix wrong csi-external-provisioner args when using custom registries with ports
  pkg/util/util.go
  pkg/util/util_test.go
Labels: stage/in-review, size/s

#595 PTX-2886 Add support for EKS
  test/integration_test/Dockerfile
  test/integration_test/main_test.go
  test/integration_test/operator-test-pod-template.yaml
  test/integration_test/test-deploy.sh
  test/integration_test/utils/constants.go
  test/integration_test/utils/storagecluster.go
Labels: work-in-progress, stage/in-review, size/s, area/integration-test, stage/approved

#591 PTX-2759 Add PX Security validation and basic regression test
  pkg/util/test/util.go
  test/integration_test/basic_test.go
  test/integration_test/utils/storagecluster.go
Labels: stage/in-review, size/m, area/integration-test, stage/approved

#598 Revert some olm-catalog CRD changes.
  deploy/olm-catalog/portworx/1.9.0/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/2.0.0/core_v1_storagecluster_crd.yaml
Labels: stage/in-review, area/specs, size/m

#600 [OPERATOR-691] Add OP version check to CSI topology test case
  test/integration_test/basic_test.go
  test/integration_test/utils/px_operator.go
Labels: stage/in-review, size/s, area/integration-test

#601 Add 1.8.1 olm catalog
  deploy/olm-catalog/portworx/1.8.1/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/1.8.1/core_v1_storagenode_crd.yaml
  deploy/olm-catalog/portworx/1.8.1/portworx-certified.clusterserviceversion.yaml
  test/integration_test/utils/px_operator.go
Labels: stage/in-review, area/specs, size/xl, area/integration-test

#603 [OPERATOR-693] Disable bundle validation for now due to v1alpha1 CRD …
  Makefile
Labels: stage/in-review

#607 [OPERATOR-633] Add exponential backoff to pod restart when nodes are cordoned
  pkg/constants/constants.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/controller/storagecluster/stork_test.go
  pkg/controller/storagenode/storagenode.go
  pkg/controller/storagenode/storagenode_test.go
  pkg/util/k8s/node.go
  pkg/util/k8s/node_test.go
Labels: stage/in-review, size/xl, area/controller

#610 [OPERATOR-633] Add exponential backoff to pod restart when nodes are cordoned
  pkg/constants/constants.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/controller/storagecluster/stork_test.go
  pkg/controller/storagenode/storagenode.go
  pkg/controller/storagenode/storagenode_test.go
  pkg/util/k8s/node.go
  pkg/util/k8s/node_test.go
Labels: area/controller

#609 [CSI] Update images to latest
  drivers/storage/portworx/component/csi.go
  drivers/storage/portworx/util/csi_generator.go
  drivers/storage/portworx/util/csi_generator_test.go
  test/integration_test/testspec/migration/daemonset-with-all-components.yaml
Labels: stage/in-review, area/components, size/s, area/integration-test

#606 PTX-1981 Add upgrade PX Operator version methods and test
  test/integration_test/basic_test.go
  test/integration_test/main_test.go
  test/integration_test/operator-test-pod-template.yaml
  test/integration_test/test-deploy.sh
  test/integration_test/utils/constants.go
  test/integration_test/utils/px_operator.go
Labels: stage/in-review, size/m, area/integration-test, stage/approved

#608 Add CSI StorageClasses
  drivers/storage/portworx/component/portworx_sc.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/testspec/storageClassCSIDb.yaml
  drivers/storage/portworx/testspec/storageClassCSIDbCloudSnapshot.yaml
  drivers/storage/portworx/testspec/storageClassCSIDbCloudSnapshotEncrypted.yaml
  drivers/storage/portworx/testspec/storageClassCSIDbEncrypted.yaml
  drivers/storage/portworx/testspec/storageClassCSIDbLocalSnapshot.yaml
  drivers/storage/portworx/testspec/storageClassCSIDbLocalSnapshotEncrypted.yaml
  drivers/storage/portworx/testspec/storageClassCSIReplicated.yaml
  drivers/storage/portworx/testspec/storageClassCSIReplicatedEncrypted.yaml
  pkg/util/k8s/k8s.go
Labels: stage/in-review, area/components, area/portworx, size/m

#614 Fix build validate-bundle
  deploy/olm-catalog/portworx/1.8.1/portworx-certified.clusterserviceversion.yaml
Labels: area/specs

#613 PWX-23693 Add update pvc permission to stork
  pkg/controller/storagecluster/stork.go
  pkg/controller/storagecluster/testspec/storkSchedClusterRole.yaml
Labels: stage/in-review, size/xs, area/controller, stage/approved

#616 [cherry pick to 1.9] PWX-23693 Add update pvc permission to stork (#613)
  pkg/controller/storagecluster/stork.go
  pkg/controller/storagecluster/testspec/storkSchedClusterRole.yaml
Labels: stage/in-review, area/controller

#599 dryrun tool
  Makefile
  build/Dockerfile
  cmd/dryrun/dryrun.go
  cmd/operator/operator.go
  drivers/storage/portworx/component/securitycontextconstraints.go
  go.mod
  go.sum
  pkg/dryrun/dryrun.go
  pkg/dryrun/validation.go
  pkg/migration/backup.go
  pkg/migration/dryrun.go
  pkg/migration/dryrun_test.go
  pkg/util/util.go
  test/integration_test/utils/k8s.go
Labels: stage/in-review, area/components, size/xl, area/build, area/integration-test, area/cmd

#617 [cherry-pick] dryrun tool (#599)
  Makefile
  build/Dockerfile
  cmd/dryrun/dryrun.go
  cmd/operator/operator.go
  drivers/storage/portworx/component/securitycontextconstraints.go
  go.mod
  go.sum
  pkg/dryrun/dryrun.go
  pkg/dryrun/validation.go
  pkg/migration/backup.go
  pkg/migration/dryrun.go
  pkg/migration/dryrun_test.go
  pkg/util/util.go
  test/integration_test/utils/k8s.go
Labels: area/components, area/build, area/integration-test, area/cmd

#618 reduce log
  pkg/dryrun/dryrun.go
  pkg/dryrun/validation.go
  pkg/migration/generate.go
Labels: stage/in-review, size/s

#619 raise event if migration fails
  pkg/migration/migration.go
  pkg/util/util.go
Labels: stage/in-review, size/xs

#615 PTX-6585 Add method to get credentials from the PX vSphere secret
  pkg/util/test/util.go
  test/integration_test/basic_test.go
  test/integration_test/main_test.go
  test/integration_test/test-deploy.sh
  test/integration_test/utils/storagecluster.go
Labels: stage/in-review, size/m, area/integration-test, stage/approved

#620 update log when image changes during migration, make it info when not…
  pkg/dryrun/dryrun.go
  pkg/dryrun/validation.go
Labels: stage/in-review, size/s

#622 PWX-23693 Add update pvc permission to stork (#613) (#616)
  pkg/controller/storagecluster/stork.go
  pkg/controller/storagecluster/testspec/storkSchedClusterRole.yaml
Labels: stage/in-review, area/controller

#624 Do not set px pod dns policy by default and add annotation to configu…
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/testspec/openshift_runc.yaml
  drivers/storage/portworx/testspec/pks.yaml
  drivers/storage/portworx/testspec/pks_2.9.1.yaml
  drivers/storage/portworx/testspec/portworxPodCustomPort.yaml
  drivers/storage/portworx/testspec/portworxPodEnvOverride.yaml
  drivers/storage/portworx/testspec/px_csi_0.3.yaml
  drivers/storage/portworx/testspec/px_csi_1.0.yaml
  drivers/storage/portworx/testspec/px_disable_telemetry.yaml
  drivers/storage/portworx/testspec/px_k3s.yaml
  drivers/storage/portworx/testspec/px_kvdb_certs.yaml
  drivers/storage/portworx/testspec/px_kvdb_certs_without_ca.yaml
  drivers/storage/portworx/testspec/px_kvdb_certs_without_cert.yaml
  drivers/storage/portworx/testspec/px_kvdb_certs_without_key.yaml
  drivers/storage/portworx/testspec/px_kvdb_without_certs.yaml
  drivers/storage/portworx/testspec/px_master.yaml
  drivers/storage/portworx/testspec/px_pks_with_csi.yaml
  drivers/storage/portworx/testspec/px_telemetry-with-location.yaml
  drivers/storage/portworx/testspec/px_telemetry.yaml
  drivers/storage/portworx/testspec/px_telemetry_with_proxy.yaml
  drivers/storage/portworx/testspec/runc.yaml
  drivers/storage/portworx/testspec/runc_2.9.1.yaml
  drivers/storage/portworx/util/util.go
Labels: stage/in-review, size/s, area/portworx

#626 [OPERATOR-696] Handle service type annotation migration
  pkg/migration/generate.go
  pkg/migration/migration_test.go
Labels: stage/in-review, size/m

#625 [OPERATOR-635] Migrate custom env and volumes for stork and autopilot
  pkg/migration/generate.go
  pkg/migration/migration_test.go
Labels: stage/in-review, size/m, stage/in-review-stale

#623 [CSI] Update provisioner to 3.1.0-3
  drivers/storage/portworx/util/csi_generator.go
  drivers/storage/portworx/util/csi_generator_test.go
Labels: stage/in-review, size/xs, stage/in-review-stale

#629 [OPERATOR-511] Migrate portworx pod custom annotations
  pkg/migration/generate.go
  pkg/migration/migration_test.go
Labels: stage/in-review, size/m

#632 [CSI] Remove LivenessProbe for health monitor container
  drivers/storage/portworx/component/csi.go
  drivers/storage/portworx/testspec/csiDeployment_1.0_k8s123.yaml
Labels: stage/in-review, area/components, size/s

#634 [CSI] Remove LivenessProbe for health monitor container (#632)
  drivers/storage/portworx/component/csi.go
  drivers/storage/portworx/testspec/csiDeployment_1.0_k8s123.yaml
Labels: area/components

#633 [CSI] Remove LivenessProbe for health monitor container (#632)
  drivers/storage/portworx/component/csi.go
  drivers/storage/portworx/testspec/csiDeployment_1.0_k8s123.yaml
Labels: area/components
