Repository libopenstorage/operator, pull requests merged in 2022-04, with the labels that each got.

#560 raise event when migration is completed
  pkg/controller/storagecluster/storagecluster.go
  pkg/migration/backup_test.go
  pkg/migration/migration.go
  pkg/migration/migration_test.go
  pkg/util/util.go
Labels: stage/in-review, size/s, area/controller

#563 Change the replaces version to 1.7.1 in CSV
  deploy/olm-catalog/portworx/1.8.0/portworx-certified.clusterserviceversion.yaml
  deploy/olm-catalog/portworx/2.0.0/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs, size/xs

#564 Change base registry image to latest released version 1.7.1
  Makefile
Labels: stage/in-review, size/xs

#565 OPERATOR-666 Set maxSurge and maxUnavailable in stork scheduler
  pkg/controller/storagecluster/stork.go
  pkg/controller/storagecluster/testspec/storkSchedDeployment.yaml
  pkg/controller/storagecluster/testspec/storkSchedVersionedDeployment.yaml
Labels: stage/in-review, size/s, area/controller

#566 Update Dockerfile base image tag to pass RedHat certification scan
  build/Dockerfile
Labels: stage/in-review, size/xs, area/build

#567 Update Dockerfile base image tag to pass RedHat certification scan
  build/Dockerfile
Labels: area/build

#568 Update 1.8.0 CSV file and CRDs
  deploy/olm-catalog/portworx/1.8.0/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/1.8.0/core_v1_storagenode_crd.yaml
  deploy/olm-catalog/portworx/1.8.0/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs

#569 [CP to master]Update 1.8.0 CSV file and CRDs
  deploy/olm-catalog/portworx/1.8.0/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/1.8.0/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, size/s, area/specs

#570 [OPERATOR-693] Create Operator 1.9.0 release branch
  .travis.yml
  Makefile
  deploy/olm-catalog/portworx/1.9.0/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/1.9.0/core_v1_storagenode_crd.yaml
  deploy/olm-catalog/portworx/1.9.0/portworx-certified.clusterserviceversion.yaml
  deploy/olm-catalog/portworx/portworx.package.yaml
  deploy/operator.yaml
  test/integration_test/utils/px_operator.go
Labels: stage/in-review, area/specs, area/integration-test

#572 [OPERATOR-693] Disable bundle validation for now due to v1alpha1 CRD issue
  Makefile
Labels: stage/in-review

#573 [OPERATOR-506] add migration dry-run support
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/deployment.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/migration/backup_test.go
  pkg/migration/dryrun.go
  pkg/migration/dryrun_test.go
  pkg/migration/migration.go
  pkg/migration/migration_test.go
  pkg/mock/storagedriver.mock.go
  pkg/util/util.go
Labels: stage/in-review, area/components, area/portworx, area/controller, area/vendor, size/l

#582 fix Buildbreak caused by static check
  go.mod
  go.sum
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/modules.txt
Labels: size/xs, area/vendor

#580 [OPERATOR-690] change SCC from privileged to custom scc
  deploy/olm-catalog/portworx/1.9.0/portworx-certified.clusterserviceversion.yaml
  deploy/olm-catalog/portworx/2.0.0/portworx-certified.clusterserviceversion.yaml
  drivers/storage/portworx/component/csi.go
  drivers/storage/portworx/component/lighthouse.go
  drivers/storage/portworx/component/portworx_basic.go
  drivers/storage/portworx/component/pvccontroller.go
  drivers/storage/portworx/component/securitycontextconstraints.go
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/testspec/csiClusterRole_k8s_1.11.yaml
  drivers/storage/portworx/testspec/csiClusterRole_k8s_1.13.yaml
  drivers/storage/portworx/testspec/csiClusterRole_k8s_1.14.yaml
  drivers/storage/portworx/testspec/lighthouseClusterRole.yaml
  drivers/storage/portworx/testspec/metricsCollectorClusterRole.yaml
  drivers/storage/portworx/testspec/nodeWiperClusterRole.yaml
  drivers/storage/portworx/testspec/portworxClusterRole.yaml
  drivers/storage/portworx/testspec/portworxSCC.yaml
  drivers/storage/portworx/testspec/pvcControllerClusterRole.yaml
  drivers/storage/portworx/testspec/sccCrd.yaml
  drivers/storage/portworx/uninstall.go
  pkg/controller/storagecluster/testspec/storkService.yaml
  pkg/util/test/util.go
  vendor/github.com/openshift/api/security/v1/0000_03_security-openshift_01_scc.crd.yaml
  vendor/github.com/openshift/api/security/v1/consts.go
  vendor/github.com/openshift/api/security/v1/doc.go
  vendor/github.com/openshift/api/security/v1/generated.pb.go
  vendor/github.com/openshift/api/security/v1/generated.proto
  vendor/github.com/openshift/api/security/v1/legacy.go
  vendor/github.com/openshift/api/security/v1/register.go
  vendor/github.com/openshift/api/security/v1/types.go
  vendor/github.com/openshift/api/security/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/security/v1/zz_generated.swagger_doc_generated.go
  vendor/modules.txt
Labels: stage/in-review, area/components, area/specs, area/portworx, size/xl, area/controller, area/vendor

#583 fix build failure: sync vendor
  go.mod
  go.sum
  vendor/golang.org/x/sys/plan9/syscall.go
  vendor/golang.org/x/sys/plan9/syscall_plan9.go
  vendor/golang.org/x/sys/unix/syscall_aix.go
  vendor/golang.org/x/sys/unix/syscall_dragonfly.go
  vendor/golang.org/x/sys/unix/syscall_linux.go
  vendor/golang.org/x/sys/unix/syscall_openbsd.go
  vendor/golang.org/x/sys/windows/exec_windows.go
  vendor/modules.txt
Labels: size/m, area/vendor

#584 fix build failure: sync vendor
  go.mod
  go.sum
  vendor/golang.org/x/sys/plan9/syscall.go
  vendor/golang.org/x/sys/plan9/syscall_plan9.go
  vendor/golang.org/x/sys/unix/syscall_aix.go
  vendor/golang.org/x/sys/unix/syscall_dragonfly.go
  vendor/golang.org/x/sys/unix/syscall_linux.go
  vendor/golang.org/x/sys/unix/syscall_openbsd.go
  vendor/golang.org/x/sys/windows/exec_windows.go
  vendor/modules.txt
Labels: area/vendor
