Repository libopenstorage/operator, pull requests merged in 2022-03, with the labels that each got.

#522 PTX-5398 Fix AlertManager when object is <nil>
  pkg/util/test/util.go
Labels: stage/in-review, size/xs, stage/approved

#520 [CSI] Deprecate CSI feature flag in favor of spec.CSI.Enabled
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/util/feature.go
  drivers/storage/portworx/util/util.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/update.go
  pkg/migration/generate.go
  pkg/migration/migration_test.go
  test/integration_test/basic_test.go
Labels: stage/in-review, area/portworx, size/m, area/controller, area/integration-test

#523 [OPERATOR-561] Don't initialize default storage spec when only node level cloud storage spec is specified.
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  test/integration_test/utils/px_operator.go
Labels: stage/in-review, size/s, area/portworx, area/integration-test

#526 [OPERATOR-561] Don't initialize default storage spec when only node level cloud storage spec is specified.
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  test/integration_test/utils/px_operator.go
Labels: size/s, area/portworx, area/integration-test

#525 OPERATOR-596 Recreate stork scheduler deployment to update labels
  pkg/controller/storagecluster/stork.go
  pkg/controller/storagecluster/stork_test.go
Labels: stage/in-review, size/m, area/controller

#521 change PreserveFullCustomRegistryPath in CRD yaml to be consistent wi…
  pkg/apis/core/v1/storagecluster.go
  pkg/util/util.go
  pkg/util/util_test.go
Labels: stage/in-review, area/specs, size/xs, stage/in-review-stale

#530 [cherry-pick] change PreserveFullCustomRegistryPath in CRD yaml to be consistent wi…
  pkg/apis/core/v1/storagecluster.go
  pkg/util/util.go
  pkg/util/util_test.go
Labels: size/xs

#533 PTX-5454 Fix alertManager image selection for k8s versions 1.21 and lesser and greater than 1.22
  pkg/util/test/util.go
Labels: size/s, stage/approved

#531 [OPERATOR-562] Fix pod disruption budget spec issue when using Metro DR
  drivers/storage/portworx/component/disruption_budget.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/util/util.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/util/k8s/pod.go
Labels: stage/in-review, area/components, area/portworx, size/m, area/controller

#534 [OPERATOR-562] Fix pod disruption budget spec issue when using Metro DR
  drivers/storage/portworx/component/disruption_budget.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/util/util.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/util/k8s/pod.go
Labels: area/components, area/portworx, size/m, area/controller

#528 [OPERATOR-507] - implement daemonset backup
  pkg/migration/backup.go
  pkg/migration/backup_test.go
  pkg/migration/migration.go
Labels: stage/in-review, size/m

#535 OPERATOR-603: Fix CSI case where op 1.7.0 to 1.8.0 bounced PX pods
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/update.go
Labels: stage/in-review, size/s, area/controller

#539 [CSI] Fix case where op 1.7.0 to 1.8.0 bounced PX pods (#535)
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/update.go
Labels: size/s, area/controller

#537 [OPERATOR-593] Fix DTR vulnerability issues
  build/Dockerfile
Labels: stage/in-review, size/xs, area/build

#536 [OPERATOR-593] Fix DTR vulnerability issues
  build/Dockerfile
Labels: size/xs, area/build

#540 [CSI] Add desired snapshot controller image when empty
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
Labels: stage/in-review, size/s, area/portworx

#541 [CSI] Add desired snapshot controller image when empty (#540)
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
Labels: size/s, area/portworx

#515 [OPERATOR-510] [OPERATOR-565] handle custom registry and component images during migration
  drivers/storage/portworx/manifest/configmap.go
  drivers/storage/portworx/manifest/configmap_test.go
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/manifest/manifest_test.go
  drivers/storage/portworx/mock/manifest.mock.go
  drivers/storage/portworx/portworx_test.go
  pkg/migration/backup_test.go
  pkg/migration/generate.go
  pkg/migration/migration_test.go
  pkg/mock/storagedriver.mock.go
Labels: stage/in-review, area/manifest, area/portworx, size/xl

#542 PWX-22998 bump px-node-wiper to 2.10.0
  drivers/storage/portworx/manifest/manifest.go
Labels: stage/in-review, area/manifest, size/xs

#544 Revert "PWX-22998 bump px-node-wiper to 2.10.0 (#542)"
  drivers/storage/portworx/manifest/manifest.go
Labels: stage/in-review, area/manifest, size/xs

#546 collect customer daemonset objs into configmap
  pkg/migration/backup.go
  pkg/migration/backup_test.go
  pkg/migration/migration.go
Labels: stage/in-review, size/s

#548 Fix migration functional test where portworx ns is not deleted
  test/integration_test/testspec/migration/simple-daemonset.yaml
Labels: stage/in-review, size/xs, area/integration-test

#550 backup portworx namespace
  pkg/migration/backup.go
Labels: stage/in-review, size/xs

#551 set px version in status during migration
  pkg/migration/generate.go
Labels: stage/in-review, size/xs

#552 Remove CSI feature gate flag from migration test
  test/integration_test/migration_test.go
Labels: stage/in-review, size/xs, area/integration-test

#553 Revert "Revert "PWX-22998 bump px-node-wiper to 2.10.0 (#542)""
  drivers/storage/portworx/manifest/manifest.go
Labels: stage/in-review, area/manifest, size/xs, stage/approved

#555 backup px-telemetry-config configmap
  pkg/migration/backup.go
Labels: stage/in-review, size/xs

#556 [OPERATOR-616] Fix IPv6 endpoint format passed to PX gRPC server
  drivers/storage/portworx/util/util.go
Labels: stage/in-review, size/xs

#557 [OPERATOR-634] Fix operator migration test component image validation
  test/integration_test/migration_test.go
Labels: stage/in-review, size/s, area/integration-test

#558 [OPERATOR-653] Add a non-root default container user
  build/Dockerfile
Labels: stage/in-review, size/xs, area/build
