Repository libopenstorage/operator, pull requests merged in 2022-09, with the labels that each got.

#745 PTX-12616 Add retry loop for validation of all components
  pkg/util/test/util.go
Labels: stage/in-review, stage/approved, size/l

#747 PTX-12727 Hardcode maxStorageNodesPerZone for CloudStorage
  test/integration_test/utils/storagecluster.go
Labels: stage/in-review, size/xs, area/integration-test, stage/approved

#748 PTX-12740 Fix portworx proxy validation
  pkg/util/test/util.go
Labels: stage/in-review, size/s, stage/approved

#750 [PWX-26833] Update csi-node-driver-registrar image in migration autom…
  test/integration_test/migration_test.go
  test/integration_test/utils/daemonset.go
Labels: stage/in-review, size/s, area/integration-test

#752 Update operator base image to latest
  build/Dockerfile
Labels: area/build

#751 Update operator base image to latest
  build/Dockerfile
Labels: size/xs, area/build

#753 [PWX-26326] Delete telemetry secret only when delete strategy is Unin…
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/components_test.go
  pkg/util/test/util.go
Labels: stage/in-review, area/components, area/portworx, size/m

#755 Updating CSV to use 1.9.1 released image
  deploy/olm-catalog/portworx/1.9.1/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs

#756 Updating CSV to use 1.9.1 released image
  deploy/olm-catalog/portworx/1.9.1/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs, size/xs, stage/approved

#754 PWX-26230: fix portworx operator does not honor the PX version in the px-versions configmap
  drivers/storage/portworx/manifest/common.go
  drivers/storage/portworx/manifest/configmap.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  pkg/util/util.go
Labels: stage/in-review, area/manifest, area/portworx, size/m

#757 PTX-12273 Upgrade StorageCluster test with all components enabled
  pkg/util/test/util.go
  test/integration_test/basic_test.go
  test/integration_test/testspec/storagecluster/storagecluster-with-all-components.yaml
  test/integration_test/utils/k8s.go
Labels: stage/in-review, size/s, area/integration-test, stage/approved

#760 [PWX-26843] Create operator 1.10.0 branch
  .travis.yml
  Makefile
  deploy/olm-catalog/portworx/1.10.0/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/1.10.0/core_v1_storagenode_crd.yaml
  deploy/olm-catalog/portworx/1.10.0/portworx-certified.clusterserviceversion.yaml
  deploy/olm-catalog/portworx/portworx.package.yaml
  deploy/operator.yaml
Labels: stage/in-review, area/specs

#762 PWX-24077: Add '/var/cores' to volume mounts for wiper. Used for log…
  drivers/storage/portworx/testspec/nodeWiper.yaml
  drivers/storage/portworx/testspec/nodeWiperPKS.yaml
  drivers/storage/portworx/testspec/nodeWiperWithWipe.yaml
  drivers/storage/portworx/uninstall.go
Labels: stage/in-review, area/portworx

#765 PTX-12868 Check pure-telemetry-certs for owner reference before deleting StorageCluster
  pkg/util/test/util.go
Labels: stage/in-review, size/s, stage/approved

#766 [PWX-26326] Add telemetry secret validation in automation
  pkg/util/test/util.go
Labels: stage/in-review, size/s

#767 PTX-12919 Use sched-ops IsNodeMaster() func instead
  pkg/util/test/util.go
Labels: stage/in-review, size/s, stage/approved

#768 [PWX-26962] Update operator base image
  build/Dockerfile
Labels: stage/in-review, size/xs, area/build

#769 [1.10.0][PWX-26962] Update operator base image
  build/Dockerfile
Labels: area/build

#770 PWX-24024: First Install: Default value for max_storage_nodes_per_zone (#711)
  pkg/cloudprovider/cloudprovider.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
Labels: stage/in-review, area/controller

#749 PWX-24025: Default value for max_storage_nodes_per_zone - upgrade sce…
  drivers/storage/portworx/status.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
Labels: stage/in-review, area/portworx, size/m, area/controller, stage/approved

#772 PWX-24025: Default value for max_storage_nodes_per_zone - upgrade sce…
  drivers/storage/portworx/status.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
Labels: stage/in-review, area/portworx, area/controller

#771 PTX-12938 Modify custom-namespace test to run with all components enabled
  test/integration_test/basic_test.go
Labels: stage/in-review, size/s, area/integration-test, stage/approved

#775 [PWX-27016] Fix ccm-go phonehome issue on ocp cluster
  deploy/ccm/phonehome-cluster.yaml
  drivers/storage/portworx/testspec/ccmGoPhonehomeDaemonSet.yaml
Labels: stage/in-review, area/specs, size/xs

#777 avoid log when the --disable-cache-for arg is empty
  cmd/operator/operator.go
Labels: stage/in-review, size/xs, area/cmd

#778 PTX-12988 Add pxctl check for Telemetry status
  pkg/util/test/util.go
Labels: stage/in-review, size/s, stage/approved

#776 [PWX-25676][PWX-26636][PWX-26640] k8s 1.25 support part1
  drivers/storage/portworx/component/disruption_budget.go
  drivers/storage/portworx/component/podsecuritypolicies.go
  drivers/storage/portworx/components_test.go
  pkg/util/k8s/k8s.go
  pkg/util/k8s/k8s_test.go
Labels: stage/in-review, area/components, area/portworx, size/m

#780 Add missing json labels for manifest generation
  pkg/apis/core/v1/storagecluster.go
Labels: stage/in-review, size/xs

#782 PTX-13037 Check Telemetry pxctl status on all PX nodes
  pkg/util/test/util.go
Labels: stage/in-review, size/m, stage/approved

#783 [PWX-27142] Update ccm envoy config for cert validation
  deploy/ccm/envoy-config-collector-custom-proxy.yaml
  deploy/ccm/envoy-config-collector.yaml
  deploy/ccm/envoy-config-register-custom-proxy.yaml
  deploy/ccm/envoy-config-register.yaml
  deploy/ccm/envoy-config-rest-custom-proxy.yaml
  deploy/ccm/envoy-config-rest.yaml
  drivers/storage/portworx/testspec/ccmGoCollectorProxyConfigMap.yaml
  drivers/storage/portworx/testspec/ccmGoCollectorProxyConfigMap_proxy.yaml
  drivers/storage/portworx/testspec/ccmGoPhonehomeProxyConfigMap.yaml
  drivers/storage/portworx/testspec/ccmGoPhonehomeProxyConfigMap_proxy.yaml
  drivers/storage/portworx/testspec/ccmGoRegisterProxyConfigMap.yaml
  drivers/storage/portworx/testspec/ccmGoRegisterProxyConfigMap_proxy.yaml
Labels: stage/in-review, area/specs, size/m

#784 [PWX-27142] Update ccm envoy config for cert validation
  deploy/ccm/envoy-config-collector-custom-proxy.yaml
  deploy/ccm/envoy-config-collector.yaml
  deploy/ccm/envoy-config-register-custom-proxy.yaml
  deploy/ccm/envoy-config-register.yaml
  deploy/ccm/envoy-config-rest-custom-proxy.yaml
  deploy/ccm/envoy-config-rest.yaml
  drivers/storage/portworx/testspec/ccmGoCollectorProxyConfigMap.yaml
  drivers/storage/portworx/testspec/ccmGoCollectorProxyConfigMap_proxy.yaml
  drivers/storage/portworx/testspec/ccmGoPhonehomeProxyConfigMap.yaml
  drivers/storage/portworx/testspec/ccmGoPhonehomeProxyConfigMap_proxy.yaml
  drivers/storage/portworx/testspec/ccmGoRegisterProxyConfigMap.yaml
  drivers/storage/portworx/testspec/ccmGoRegisterProxyConfigMap_proxy.yaml
Labels: area/specs

#785 PTX-13087 Run pxctl command with Security token if PX Security is enabled
  pkg/util/test/util.go
  test/integration_test/basic_test.go
Labels: stage/in-review, size/s, area/integration-test, stage/approved

#787 PTX-13089 Adding PX Auth validation on PX nodes
  pkg/util/test/util.go
  test/integration_test/basic_test.go
Labels: stage/in-review, size/m, area/integration-test, stage/approved
