Repository libopenstorage/operator, pull requests merged in 2022-01, with the labels that each got.

#481 Change default image versions
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/manifest/manifest_test.go
Labels: stage/in-review, size/s, area/manifest

#480 [OPERATOR-533] pass PX_SHARED_SECRET to the autopilot when security i…
  drivers/storage/portworx/component/autopilot.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/testspec/autopilotDeployment.yaml
  drivers/storage/portworx/util/util.go
Labels: stage/in-review, area/components, size/s, area/portworx, stage/in-review-stale

#484 PTX-4639 Add k3s support
  pkg/util/test/util.go
Labels: stage/in-review, size/s, stage/approved

#485 PTX-4815 Fix default node affinity and tolerations
  pkg/util/test/util.go
Labels: stage/in-review, size/s, stage/approved

#483 OPERATOR-398: Adding px-repo integration test
  pkg/util/test/util.go
  test/integration_test/pxrepo_test.go
Labels: stage/in-review, size/m, area/integration-test, stage/approved

#482 [OPERATOR-425] storage node label validation
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
Labels: stage/in-review, size/m, stage/in-review-stale, area/controller

#469 Add CSI spec, snapshot controller, and CRDs
  Makefile
  deploy/crds/core_v1_storagecluster_crd.yaml
  drivers/storage/portworx/component/csi.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/testspec/csiDeployment_1.0_k8s120_with_snapcontroller.yaml
  drivers/storage/portworx/util/csi_generator.go
  drivers/storage/portworx/util/csi_generator_test.go
  drivers/storage/portworx/util/util.go
  pkg/apis/core/v1/storagecluster.go
  pkg/apis/core/v1/zz_generated.deepcopy.go
  pkg/util/k8s/k8s.go
Labels: stage/in-review, area/components, area/specs, area/manifest, area/portworx, size/m, stage/in-review-stale

#486 OPERATOR-517: fetch manifest from proxy
  drivers/storage/portworx/manifest/common.go
  drivers/storage/portworx/manifest/multiple.go
  drivers/storage/portworx/manifest/remote.go
  drivers/storage/portworx/manifest/remote_test.go
Labels: stage/in-review, area/components, size/s, area/manifest, stage/in-review-stale

#488 [CSI] Add volume health monitoring support
  deploy/crds/core_v1_storagecluster_crd.yaml
  drivers/storage/portworx/component/csi.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/testspec/csiClusterRole_k8s_1.11.yaml
  drivers/storage/portworx/testspec/csiClusterRole_k8s_1.13.yaml
  drivers/storage/portworx/testspec/csiClusterRole_k8s_1.14.yaml
  drivers/storage/portworx/testspec/csiDeployment_1.0_k8s123.yaml
  drivers/storage/portworx/util/csi_generator.go
  pkg/apis/core/v1/storagecluster.go
  test/integration_test/testspec/migration/daemonset-with-all-components.yaml
Labels: stage/in-review, area/components, area/specs, area/manifest, area/portworx, size/m, area/integration-test

#489 [OPERATOR-549] remove pure-telemetry-certs on uninstallation
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/components_test.go
Labels: stage/in-review, area/components, size/s, area/portworx

#490 [cherry-pick] [OPERATOR-549] remove pure-telemetry-certs on uninstallation (#489)
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/components_test.go
Labels: area/components, size/s, area/portworx

#491 OPERATOR-301 Do not remove portworx-service
  drivers/storage/portworx/component/portworx_proxy.go
  drivers/storage/portworx/components_test.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/update.go
Labels: stage/in-review, area/components, size/s, area/portworx, area/controller

#492 [OPERATOR-549] do not remove pure-telemetry-certs when telemetry is disabled
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/components_test.go
Labels: stage/in-review, area/components, area/portworx, size/xs

#493 [cherry-pick] do not remove pure-telemetry-certs when telemetry is disabled (#492)
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/components_test.go
Labels: area/components, area/portworx, size/xs

#494 [OPERATOR-420] get px repo image from version websvc
  deploy/crds/core_v1_storagecluster_crd.yaml
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/manifest/manifest_test.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/util/util.go
  pkg/apis/core/v1/storagecluster.go
Labels: stage/in-review, area/specs, area/manifest, area/portworx, size/m, stage/in-review-stale
