Repository libopenstorage/operator, pull requests merged in 2022-08, with the labels that each got.

#703 update prometheusRule for unit test
  drivers/storage/portworx/testspec/prometheusRule.yaml
Labels: stage/in-review, size/xs

#704 Updating CSV to use 1.9.0 released image
  deploy/olm-catalog/portworx/1.9.0/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs, size/xs

#707 PWX-24825: Check for a specific secure port in pvc controller for AKS.
  pkg/util/test/util.go
Labels: stage/in-review, size/s

#708 validate crd registration before creating crds
  test/integration_test/utils/k8s.go
Labels: stage/in-review, size/s, area/integration-test

#710 [PWX-26146][PWX-26177] Add ccm-go missing scc configuration and metrics collector
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/component/telemetry_java.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/manifest/manifest_test.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/util/util.go
Labels: stage/in-review, area/components, area/manifest, area/portworx, size/l

#715 PTX-12071 Implement method to determine Operator and PX versions
  pkg/util/test/util.go
Labels: stage/in-review, size/m, stage/approved

#714 [PWX-26180][PWX-26188] Use DaemonSet to deploy telemetry phonehome pods
  deploy/ccm/phonehome-cluster.yaml
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/component/telemetry_java.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/util/util.go
  pkg/util/k8s/k8s.go
  pkg/util/util.go
Labels: stage/in-review, area/components, area/specs, area/portworx, size/m

#717 Remove csi health monitor validation from automation
  pkg/util/test/util.go
Labels: stage/in-review, size/xs

#719 PWX-26006 - fix pvccontroller crash on k8s 1.24+
  drivers/storage/portworx/component/pvccontroller.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/testspec/pvcControllerDeployment_k8s_1.24.yaml
  pkg/util/k8s/k8s.go
Labels: stage/in-review, area/components, area/portworx, size/m

#720 PTX-12097 Validate new Telemetry method and regression test changes
  pkg/util/test/util.go
  test/integration_test/basic_test.go
  test/integration_test/utils/px_operator.go
Labels: stage/in-review, size/m, area/integration-test, stage/approved

#722 PTX-11431 Fix master labels to support v1.24
  pkg/util/test/util.go
Labels: stage/in-review, size/s, stage/approved

#723 [PWX-26222] Fix security context in ccm-go init containers
  deploy/ccm/phonehome-cluster.yaml
  drivers/storage/portworx/component/telemetry_java.go
Labels: stage/in-review, area/components, area/specs, size/xs

#724 PWX-25086: add docker.io prefix when no registry is specified
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/testspec/autopilotDeployment.yaml
  drivers/storage/portworx/testspec/lighthouseDeployment.yaml
  drivers/storage/portworx/testspec/metricsCollectorDeployment.yaml
  drivers/storage/portworx/testspec/nodeWiper.yaml
  drivers/storage/portworx/testspec/nodeWiperPKS.yaml
  drivers/storage/portworx/testspec/nodeWiperWithWipe.yaml
  drivers/storage/portworx/testspec/openshift_runc.yaml
  drivers/storage/portworx/testspec/pks.yaml
  drivers/storage/portworx/testspec/pks_2.9.1.yaml
  drivers/storage/portworx/testspec/portworxPodCustomPort.yaml
  drivers/storage/portworx/testspec/portworxPodEnvOverride.yaml
  drivers/storage/portworx/testspec/px_csi_0.3.yaml
  drivers/storage/portworx/testspec/px_csi_1.0.yaml
  drivers/storage/portworx/testspec/px_disable_telemetry.yaml
  drivers/storage/portworx/testspec/px_k3s.yaml
  drivers/storage/portworx/testspec/px_kvdb_certs.yaml
  drivers/storage/portworx/testspec/px_kvdb_certs_without_ca.yaml
  drivers/storage/portworx/testspec/px_kvdb_certs_without_cert.yaml
  drivers/storage/portworx/testspec/px_kvdb_certs_without_key.yaml
  drivers/storage/portworx/testspec/px_kvdb_without_certs.yaml
  drivers/storage/portworx/testspec/px_master.yaml
  drivers/storage/portworx/testspec/px_pks_with_csi.yaml
  drivers/storage/portworx/testspec/px_telemetry-with-location.yaml
  drivers/storage/portworx/testspec/px_telemetry.yaml
  drivers/storage/portworx/testspec/px_telemetry_with_proxy.yaml
  drivers/storage/portworx/testspec/runc.yaml
  drivers/storage/portworx/testspec/runc_2.9.1.yaml
  pkg/controller/storagecluster/stork_test.go
  pkg/controller/storagecluster/testspec/storkDeployment.yaml
  pkg/util/util.go
  pkg/util/util_test.go
  test/integration_test/testspec/metricsCollectorDeployment.yaml
Labels: stage/in-review, area/portworx, size/m, area/controller, area/integration-test

#711 PWX-24024: Default value for max_storage_nodes_per_zone
  pkg/cloudprovider/cloudprovider.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
Labels: stage/in-review, size/m, area/controller, stage/approved

#725 PTX-12254 Fix validation for images when docker.io gets automatically pre-fixed by operator
  pkg/util/test/util.go
Labels: stage/in-review, size/s, stage/approved

#727 [PWX-26405] Remove telemetry register container port from spec template
  deploy/ccm/registration-service.yaml
Labels: stage/in-review, area/specs, size/xs

#732 fix 2.0.0 catalog to use previous released version 1.9.0
  deploy/olm-catalog/portworx/2.0.0/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs, size/xs

#730 Px rel 1.9.1 branch
  .travis.yml
  Makefile
  deploy/olm-catalog/portworx/1.9.1/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/1.9.1/core_v1_storagenode_crd.yaml
  deploy/olm-catalog/portworx/1.9.1/portworx-certified.clusterserviceversion.yaml
  deploy/olm-catalog/portworx/portworx.package.yaml
  deploy/operator.yaml
Labels: stage/in-review, area/specs

#728 [PWX-25529] Adjust placement rule node labels for k8s 1.24+ support
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/util/util.go
  pkg/controller/storagecluster/controller_test.go
  pkg/util/k8s/k8s.go
  pkg/util/test/util.go
Labels: stage/in-review, area/portworx, area/controller, area/vendor, size/l

#733 [PWX-25529] Adjust placement rule node labels for k8s 1.24+ support
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/util/util.go
  pkg/controller/storagecluster/controller_test.go
  pkg/util/k8s/k8s.go
  pkg/util/test/util.go
Labels: area/portworx, area/controller

#731 PTX-12493 Fix common registry issue for older operators
  pkg/util/test/util.go
Labels: stage/in-review, stage/approved, size/l

#734 do not take docker.io as custom registry
  pkg/migration/generate.go
Labels: stage/in-review, size/xs

#735 [PWX-26364] Don't block telemetry Java configmap creation when cluste…
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/component/telemetry_java.go
Labels: stage/in-review, area/components, size/s

#737 PWX-24539: Adding operator integration test for gce disk encrypted wi…
  pkg/util/test/util.go
  test/integration_test/cloud_disk_test.go
  test/integration_test/main_test.go
  test/integration_test/operator-test-pod-template.yaml
  test/integration_test/test-deploy.sh
  test/integration_test/utils/constants.go
  test/integration_test/utils/storagecluster.go
Labels: stage/in-review, size/m, area/integration-test

#738 add script to simulate operator high memory usage
  test/script/simulate-high-mem.sh
  test/script/testapp.yaml
Labels: stage/in-review, size/s, area/integration-test

#736 [PWX-25487] Add CSI snapshot controller validation
  pkg/util/test/util.go
  test/integration_test/basic_test.go
  test/integration_test/utils/storagecluster.go
Labels: stage/in-review, size/m, area/integration-test

#721 [PWX-26024] Telemetry ccm-go custom proxy support
  deploy/ccm/envoy-config-collector-custom-proxy.yaml
  deploy/ccm/envoy-config-register-custom-proxy.yaml
  deploy/ccm/envoy-config-register.yaml
  deploy/ccm/envoy-config-rest-custom-proxy.yaml
  deploy/ccm/envoy-config-rest.yaml
  deploy/ccm/secret-manager-role-binding.yaml
  deploy/ccm/secret-manager-role.yaml
  deploy/ccm/stc-reader-role-binding.yaml
  deploy/ccm/stc-reader-role.yaml
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/component/telemetry_java.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/testspec/ccmGoCollectorProxyConfigMap.yaml
  drivers/storage/portworx/testspec/ccmGoCollectorProxyConfigMap_proxy.yaml
  drivers/storage/portworx/testspec/ccmGoPhonehomeProxyConfigMap.yaml
  drivers/storage/portworx/testspec/ccmGoPhonehomeProxyConfigMap_proxy.yaml
  drivers/storage/portworx/testspec/ccmGoRegisterProxyConfigMap.yaml
  drivers/storage/portworx/testspec/ccmGoRegisterProxyConfigMap_proxy.yaml
  drivers/storage/portworx/util/util.go
  drivers/storage/portworx/util/util_test.go
Labels: stage/in-review, area/components, area/specs, area/portworx, size/xl

#726 PWX-25488: add option to disable some objects from controller list-wa…
  cmd/operator/operator.go
Labels: stage/in-review, size/s, stage/in-review-stale, area/cmd

#739 PWX-24077: Add '/var/cores' to volume mounts for wiper. Used for log…
  drivers/storage/portworx/testspec/nodeWiper.yaml
  drivers/storage/portworx/testspec/nodeWiperPKS.yaml
  drivers/storage/portworx/testspec/nodeWiperWithWipe.yaml
  drivers/storage/portworx/uninstall.go
Labels: stage/in-review, area/portworx, stage/in-review-stale

#741 Revert "PWX-24077: Add '/var/cores' to volume mounts for wiper. Used for log…"
  drivers/storage/portworx/testspec/nodeWiper.yaml
  drivers/storage/portworx/testspec/nodeWiperPKS.yaml
  drivers/storage/portworx/testspec/nodeWiperWithWipe.yaml
  drivers/storage/portworx/uninstall.go
Labels: stage/in-review, area/portworx

#742 [PWX-26670] Filter out px-csi-ext pods when scanning pre-installed snapshot controllers
  drivers/storage/portworx/component/csi.go
  drivers/storage/portworx/components_test.go
Labels: stage/in-review, area/components, size/s, area/portworx

#743 [1.9.1][PWX-26670] Filter out px-csi-ext pods when scanning pre-installed snapshot controllers
  drivers/storage/portworx/component/csi.go
  drivers/storage/portworx/components_test.go
Labels: area/components, area/portworx

#744 [PWX-26683] Fix bug during updating migration test spec images
  pkg/migration/cleanup.go
  pkg/migration/migration_test.go
  pkg/util/test/util.go
  test/integration_test/migration_test.go
  test/integration_test/utils/constants.go
Labels: stage/in-review, size/s, area/integration-test
