Repository libopenstorage/operator, pull requests merged in 2022-11, with the labels that each got.

#807 PWX-27563: Setting stork as the default scheduler for px-csi-ext pods
  drivers/storage/portworx/component/csi.go
  drivers/storage/portworx/testspec/csiDeploymentAlphaDisabledK8s_1_14.yaml
  drivers/storage/portworx/testspec/csiDeploymentAlphaDisabledK8s_1_16.yaml
  drivers/storage/portworx/testspec/csiDeploymentWithPKS.yaml
  drivers/storage/portworx/testspec/csiDeploymentWithResizerAndOldDriver_1.0.yaml
  drivers/storage/portworx/testspec/csiDeploymentWithResizer_1.0.yaml
  drivers/storage/portworx/testspec/csiDeploymentWithResizer_1_17.yaml
  drivers/storage/portworx/testspec/csiDeployment_1.0.yaml
  drivers/storage/portworx/testspec/csiDeployment_1.0_k8s116.yaml
  drivers/storage/portworx/testspec/csiDeployment_1.0_k8s120.yaml
  drivers/storage/portworx/testspec/csiDeployment_1.0_k8s120_with_topology.yaml
  drivers/storage/portworx/testspec/csiDeployment_1.0_k8s120_without_snapcontroller.yaml
  drivers/storage/portworx/testspec/csiDeployment_1.0_k8s123.yaml
  drivers/storage/portworx/util/util.go
  pkg/util/util.go
  pkg/util/util_test.go
Labels: stage/in-review, area/components, size/s

#811 PWX-27563: Setting stork as the default scheduler for px-csi-ext pods…
  drivers/storage/portworx/component/csi.go
  drivers/storage/portworx/testspec/csiDeploymentAlphaDisabledK8s_1_14.yaml
  drivers/storage/portworx/testspec/csiDeploymentAlphaDisabledK8s_1_16.yaml
  drivers/storage/portworx/testspec/csiDeploymentWithPKS.yaml
  drivers/storage/portworx/testspec/csiDeploymentWithResizerAndOldDriver_1.0.yaml
  drivers/storage/portworx/testspec/csiDeploymentWithResizer_1.0.yaml
  drivers/storage/portworx/testspec/csiDeploymentWithResizer_1_17.yaml
  drivers/storage/portworx/testspec/csiDeployment_1.0.yaml
  drivers/storage/portworx/testspec/csiDeployment_1.0_k8s116.yaml
  drivers/storage/portworx/testspec/csiDeployment_1.0_k8s120.yaml
  drivers/storage/portworx/testspec/csiDeployment_1.0_k8s120_with_topology.yaml
  drivers/storage/portworx/testspec/csiDeployment_1.0_k8s120_without_snapcontroller.yaml
  drivers/storage/portworx/testspec/csiDeployment_1.0_k8s123.yaml
  drivers/storage/portworx/util/util.go
  pkg/util/util.go
  pkg/util/util_test.go
Labels: area/components

#812 Update latest base image
  build/Dockerfile
Labels: stage/in-review, size/xs, area/build

#816 Update latest base image
  build/Dockerfile
Labels: area/build

#810 PWX-27591: Default value for maxStorageNodesPerZone
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/util/util.go
Labels: stage/in-review, area/components, area/manifest, area/portworx, size/m, area/controller, area/build, area/integration-test, area/vendor, stage/approved, area/cmd

#818 PWX-27591: Default value for maxStorageNodesPerZone (#810)
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/util/util.go
Labels: area/controller

#823 PWX-27783: Add more zone labels (#822)
  drivers/storage/portworx/portworx.go
  go.mod
  pkg/cloudprovider/azure.go
  pkg/cloudprovider/cloudprovider.go
  pkg/cloudprovider/cloudprovider_test.go
  vendor/modules.txt
Labels: area/portworx, area/vendor

#825 PWX-27756: update clusterRole for prometheus
  drivers/storage/portworx/component/prometheus.go
  drivers/storage/portworx/testspec/prometheusOperatorClusterRole.yaml
Labels: stage/in-review, area/components, size/xs

#827 PWX-27901: Count accurate number of total nodes
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
Labels: stage/in-review, stage/in-review-stale, area/controller

#833 Update base image and telemetry images
  build/Dockerfile
  drivers/storage/portworx/manifest/manifest.go
Labels: stage/in-review, area/manifest, size/xs, area/build

#834 PWX-26656 add affinity to run pvc controller on storage nodes
  drivers/storage/portworx/component/pvccontroller.go
  drivers/storage/portworx/testspec/pvcControllerDeployment.yaml
  drivers/storage/portworx/testspec/pvcControllerDeploymentOpenshift.yaml
  drivers/storage/portworx/testspec/pvcControllerDeployment_k8s_1.24.yaml
Labels: stage/in-review, area/components, size/s, stage/in-review-stale

#837 PTX-13940 Removed interactive mode from verify-bundle-dir target
  Makefile
Labels: stage/in-review, size/xs

#840 Revert "PWX-26656 add affinity to run pvc controller on storage nodes…
  drivers/storage/portworx/component/pvccontroller.go
  drivers/storage/portworx/testspec/pvcControllerDeployment.yaml
  drivers/storage/portworx/testspec/pvcControllerDeploymentOpenshift.yaml
  drivers/storage/portworx/testspec/pvcControllerDeployment_k8s_1.24.yaml
Labels: area/components, size/s

#838 PWX-27864: fix operator migration functional test on k8s 1.25
  test/integration_test/migration_test.go
  test/integration_test/testspec/migration/prometheus-operator.yaml
Labels: stage/in-review, size/xl, area/integration-test

#831 PWX-22852: add default resource to prometheus, make resource and runA…
  deploy/crds/core_v1_storagecluster_crd.yaml
  drivers/storage/portworx/component/prometheus.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/testspec/prometheusInstance.yaml
  drivers/storage/portworx/testspec/prometheusInstanceWithAlertManager.yaml
  drivers/storage/portworx/testspec/prometheusInstanceWithRemoteWriteEndpoint.yaml
  pkg/apis/core/v1/storagecluster.go
Labels: stage/in-review, area/components, area/specs, area/portworx, size/m, stage/in-review-stale

#841 PWX-26920: changed parameters type & codegen fix
  drivers/storage/portworx/component/autopilot.go
  drivers/storage/portworx/components_test.go
  pkg/apis/core/v1/storagecluster.go
  pkg/apis/core/v1/zz_generated.deepcopy.go
  pkg/client/clientset/versioned/clientset.go
  pkg/client/clientset/versioned/fake/clientset_generated.go
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/register.go
  pkg/client/clientset/versioned/typed/core/v1/core_client.go
  pkg/client/clientset/versioned/typed/core/v1/fake/fake_storagecluster.go
  pkg/client/clientset/versioned/typed/core/v1/fake/fake_storagenode.go
Labels: stage/in-review, area/components, area/portworx, size/m, stage/approved
