Repository libopenstorage/operator, pull requests merged in 2022-07, with the labels that each got.

#689 Change prometheus images to be consistent with spec gen
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/manifest/manifest_test.go
Labels: stage/in-review, area/manifest, size/xs

#687 [CSI] Update to latest CSI sidecars
  drivers/storage/portworx/util/csi_generator.go
  drivers/storage/portworx/util/csi_generator_test.go
  test/integration_test/testspec/migration/daemonset-with-all-components.yaml
Labels: stage/in-review, size/s, area/integration-test

#690 PWX-24077: Add '/var/cores' to volume mounts for wiper. Used for log…
  drivers/storage/portworx/testspec/nodeWiper.yaml
  drivers/storage/portworx/testspec/nodeWiperPKS.yaml
  drivers/storage/portworx/testspec/nodeWiperWithWipe.yaml
  drivers/storage/portworx/uninstall.go
Labels: stage/in-review, size/s, area/portworx

#688 OPERATOR-809: remove evicted kvdb pods during reconcile loop
  pkg/controller/storagenode/storagenode.go
Labels: stage/in-review, size/s, area/controller

#691 OPERATOR-789 delete px-essential secret on wipe
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/uninstall.go
  pkg/util/k8s/k8s.go
Labels: stage/in-review, size/s, area/portworx

#692 PWX-24421: Adding azure disk encryption integration test.
  pkg/util/test/util.go
  test/integration_test/azure_disk_test.go
  test/integration_test/main_test.go
  test/integration_test/operator-test-pod-template.yaml
  test/integration_test/test-deploy.sh
  test/integration_test/utils/constants.go
  test/integration_test/utils/storagecluster.go
Labels: stage/in-review, size/m, stage/in-review-stale, area/integration-test

#695 Update the default image versions
  drivers/storage/portworx/manifest/manifest.go
Labels: stage/in-review, area/manifest

#694 Update the default image versions
  drivers/storage/portworx/manifest/manifest.go
Labels: stage/in-review, area/manifest, size/xs

#693 [OPERATOR-816] Handle clusterID with special characters during migration
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/status.go
  drivers/storage/portworx/uninstall.go
  drivers/storage/portworx/util/util.go
  pkg/migration/generate.go
  pkg/migration/migration.go
  pkg/migration/migration_test.go
Labels: stage/in-review, area/portworx, size/m

#696 [OPERATOR-816] Handle clusterID with special characters during migration
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/status.go
  drivers/storage/portworx/uninstall.go
  drivers/storage/portworx/util/util.go
  pkg/migration/generate.go
  pkg/migration/migration.go
  pkg/migration/migration_test.go
Labels: area/portworx

#700 [1.9.0] Pin golang.org/x/tools to v0.1.11 for golint check
  go.mod
  go.sum
  vendor/modules.txt
Labels: area/vendor

#702 Pin golang.org/x/tools to v0.1.11 for golint check
  go.mod
  go.sum
  vendor/modules.txt
Labels: stage/in-review, size/m, area/vendor
