Repository libopenstorage/operator, pull requests merged in 2023-05, with the labels that each got.

#1027 Updating CSV to use 23.4.0 released image
  deploy/olm-catalog/portworx/23.4.0/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs

#1029 PWX-30857_pt2: PKS fix
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/testspec/pks.yaml
  drivers/storage/portworx/testspec/pks_2.9.1.yaml
  drivers/storage/portworx/testspec/px_pks_with_csi.yaml
Labels: stage/in-review, size/s, area/portworx, stage/approved

#1031 PTX-17408 Validate against new StorageCluster Status design for PX Operator 23.5+
  pkg/util/test/util.go
Labels: stage/in-review, size/xs, stage/approved

#1032 PWX-30982 Change some of the status fields to pointer
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/status.go
  pkg/apis/core/v1/storagenode.go
  pkg/apis/core/v1/zz_generated.deepcopy.go
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/register.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagenode/storagenode.go
  pkg/controller/storagenode/storagenode_test.go
Labels: stage/in-review, size/s, area/portworx, area/controller

#1028 Updating CSV to use 23.4.0 released image
  deploy/olm-catalog/portworx/23.4.0/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs, size/xs, stage/in-review-stale, stage/approved

#1030 PWX-29131: container image -url parsing fix
  drivers/storage/portworx/components_test.go
  pkg/cloudprovider/azure.go
  pkg/util/util.go
  pkg/util/util_test.go
Labels: stage/in-review, size/s, area/portworx, stage/approved

#1034 Use 23.4.0 as the previous version
  Makefile
  deploy/olm-catalog/portworx/23.5.0/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs

#1038 Removing check for alertmanager-operated service
  pkg/util/test/util.go
Labels: stage/in-review, size/xs, stage/approved

#1040 PWX-30737: Updating scc to stork-scheduler clusterrole for OCP 4.11
  drivers/storage/portworx/component/securitycontextconstraints.go
  drivers/storage/portworx/testspec/portworxSCC.yaml
  pkg/controller/storagecluster/stork.go
  pkg/controller/storagecluster/testspec/storkSchedClusterRole.yaml
Labels: stage/in-review, area/components, size/s, area/controller, stage/approved

#1041 PWX-28650: removed wildcard in autopilot rbac
  drivers/storage/portworx/component/autopilot.go
  drivers/storage/portworx/testspec/autopilotClusterRole.yaml
  drivers/storage/portworx/testspec/autopilotClusterRole_k8s_1.24.yaml
Labels: stage/in-review, area/components, size/s, stage/approved

#1042 PWX-30737: Updating scc to stork-scheduler clusterrole for OCP 4.11 (…
  drivers/storage/portworx/component/securitycontextconstraints.go
  drivers/storage/portworx/testspec/portworxSCC.yaml
  pkg/controller/storagecluster/stork.go
  pkg/controller/storagecluster/testspec/storkSchedClusterRole.yaml
Labels: stage/in-review, area/components, area/controller

#1035 PWX-29505_pt1: adding new images in versions-CM
  deploy/crds/core_v1_storagecluster_crd.yaml
  drivers/storage/portworx/component/alertmanager.go
  drivers/storage/portworx/component/portworx_api.go
  drivers/storage/portworx/component/pvccontroller.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  pkg/apis/core/v1/storagecluster.go
  pkg/controller/storagecluster/stork.go
  pkg/migration/generate.go
Labels: stage/in-review, area/components, area/specs, area/manifest, area/portworx, size/m, area/controller, stage/approved

#1049 PWX-25280: Add plugin annotation in 99.9.9 directory
  deploy/olm-catalog/portworx/99.9.9/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs, size/xs, stage/approved

#1047 PTX-17751 Fix when Telemetry is enabled by default by operator 23.3+ race condition
  pkg/util/test/util.go
  test/integration_test/basic_test.go
  test/integration_test/main_test.go
  test/integration_test/marketplace_test.go
  test/integration_test/utils/marketplace.go
  test/integration_test/utils/px_operator.go
Labels: draft, work-in-progress, stage/in-review, size/m, area/integration-test, stage/approved

#1050 PTX-17968 Skip reference validation for tel secret for operators below 1.10
  pkg/util/test/util.go
Labels: stage/in-review, size/s, stage/approved

#1051 PWX-30386: Skip sending warn-event when component not found
  drivers/storage/portworx/portworx.go
Labels: stage/in-review, area/portworx, size/xs, stage/approved

#1052 PWX-30512: Blocks enabling FACD topology on existing clusters
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/util/util.go
Labels: stage/in-review, size/s, area/portworx, stage/approved

#1055 PWX-30512: Blocks enabling FACD topology on existing clusters (#1052)
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/util/util.go
Labels: area/portworx

#1054 Update portworx dynamic plugin image for OCP
  deploy/plugin/plugin-deployment.yaml
  drivers/storage/portworx/testspec/plugin-deployment.yaml
Labels: stage/in-review, area/specs

#1053 Update portworx dynamic plugin image for OCP
  deploy/plugin/plugin-deployment.yaml
  drivers/storage/portworx/testspec/plugin-deployment.yaml
Labels: stage/in-review, area/specs, size/xs, stage/approved
