Repository libopenstorage/operator, pull requests merged in 2023-01, with the labels that each got.

#878 Update ccm.properties to include PX incremental upload content. (#871)
  deploy/ccm/ccm.properties
  drivers/storage/portworx/testspec/ccmGoPhonehomeConfigMap.yaml
Labels: stage/in-review, area/specs

#861 1.11.0: Bump all CSI images to the latest and remove prov fork for PX 2.13+
  drivers/storage/portworx/util/csi_generator.go
  drivers/storage/portworx/util/csi_generator_test.go
  test/integration_test/testspec/migration/daemonset-with-all-components.yaml
Labels: area/integration-test

#860 PWX-28189_pt2: Auto-TLS/SSL support for stork
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/portworx.go
Labels: stage/in-review, area/portworx, size/m, stage/approved

#882 PTX-14810 Increase defaultTelemetryInPxctlValidationTimeout due to 5 mins is not enough sometimes
  pkg/util/test/util.go
Labels: stage/in-review, size/xs, stage/approved

#881 Setup 1.11.0 CSV and makefile on master
  Makefile
  deploy/olm-catalog/portworx/1.11.0/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/1.11.0/core_v1_storagenode_crd.yaml
  deploy/olm-catalog/portworx/1.11.0/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs, size/xl

#883 PWX-28383 setup 1.11.0 branch
  .travis.yml
  Makefile
  deploy/olm-catalog/portworx/portworx.package.yaml
  deploy/operator.yaml
Labels: stage/in-review, area/specs

#885 [PWX-27920] Only validate metrics collector on operator 1.11+
  pkg/util/test/util.go
Labels: stage/in-review, size/m

#886 [Cherrypick][PWX-28269] Added support for `portworx.io/is-oke: true` annotation
  drivers/storage/portworx/component/lighthouse.go
  drivers/storage/portworx/component/pvccontroller.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/util/util.go
  go.mod
  go.sum
  pkg/util/test/util.go
  vendor/github.com/libopenstorage/cloudops/.gitignore
  vendor/github.com/libopenstorage/cloudops/.travis.yml
  vendor/github.com/libopenstorage/cloudops/LICENSE
  vendor/github.com/libopenstorage/cloudops/Makefile
  vendor/github.com/libopenstorage/cloudops/cloud_storage_management.go
  vendor/github.com/libopenstorage/cloudops/cloudops.go
  vendor/github.com/libopenstorage/cloudops/errors.go
  vendor/github.com/libopenstorage/cloudops/mock/cloud_storage_management.mock.go
  vendor/github.com/libopenstorage/cloudops/mock/cloudops.mock.go
  vendor/github.com/libopenstorage/cloudops/pkg/storagedistribution/storagedistribution.go
  vendor/github.com/libopenstorage/cloudops/specs/decisionmatrix/aws.yaml
  vendor/github.com/libopenstorage/cloudops/specs/decisionmatrix/azure.yaml
  vendor/github.com/libopenstorage/cloudops/specs/decisionmatrix/csi.yaml
  vendor/github.com/libopenstorage/cloudops/specs/decisionmatrix/gce.yaml
  vendor/github.com/libopenstorage/cloudops/specs/decisionmatrix/ibm.yaml
  vendor/github.com/libopenstorage/cloudops/specs/decisionmatrix/oracle.yaml
  vendor/github.com/libopenstorage/cloudops/specs/decisionmatrix/pure.yaml
  vendor/github.com/libopenstorage/cloudops/specs/decisionmatrix/vsphere.yaml
  vendor/github.com/libopenstorage/cloudops/specs/decisionmatrix/yaml2csv.py
  vendor/github.com/libopenstorage/cloudops/tools.go
  vendor/github.com/libopenstorage/cloudops/unsupported/unsupported.go
  vendor/github.com/portworx/kvdb/.travis.yml
  vendor/github.com/portworx/kvdb/DCO
  vendor/github.com/portworx/kvdb/LICENSE
  vendor/github.com/portworx/kvdb/README.md
  vendor/github.com/portworx/kvdb/etcd/v3/kv_etcd.go
  vendor/github.com/portworx/kvdb/updates_collector.go
  vendor/modules.txt
Labels: stage/in-review, area/components, area/portworx, area/integration-test, area/vendor

#888 PTX-14937 Fix stork-scheduler pod validation for 1.10.2+
  pkg/util/test/util.go
Labels: stage/in-review, size/xs, stage/approved

#890 Update base image to 8.7-1049 for operator 1.10.2 release
  build/Dockerfile
Labels: stage/in-review, size/xs, area/build

#891 Update base image to 8.7-1049 for operator 1.10.2 release
  build/Dockerfile
Labels: area/build

#887 PWX-26914: Add resources config for stork, stork-scheduler and autopilot
  deploy/crds/core_v1_storagecluster_crd.yaml
  drivers/storage/portworx/component/autopilot.go
  drivers/storage/portworx/components_test.go
  pkg/apis/core/v1/storagecluster.go
  pkg/controller/storagecluster/stork.go
  pkg/controller/storagecluster/stork_test.go
  pkg/util/util.go
Labels: stage/in-review, area/components, area/specs, area/portworx, size/m, area/controller

#892 [PWX-28585] Avoid parsing git sha to valid operator versions in automation
  pkg/util/test/util.go
  test/integration_test/utils/px_operator.go
Labels: stage/in-review, size/s, area/integration-test

#893 PWX28442: add log to debug PDB
  drivers/storage/portworx/util/util.go
Labels: stage/in-review, size/xs

#894 PWX-28184: Add 'base-id' param to envoy startup to allow multiple envoys to run.
  deploy/ccm/metrics-collector-deployment.yaml
  deploy/ccm/registration-service.yaml
  drivers/storage/portworx/testspec/ccmGoCollectorDeployment.yaml
  drivers/storage/portworx/testspec/ccmGoRegisterDeployment.yaml
Labels: stage/in-review, area/specs

#895 PWX-28184: Add 'base-id' param to envoy startup to allow multiple envoys to run.
  deploy/ccm/metrics-collector-deployment.yaml
  deploy/ccm/registration-service.yaml
  drivers/storage/portworx/testspec/ccmGoCollectorDeployment.yaml
  drivers/storage/portworx/testspec/ccmGoRegisterDeployment.yaml
Labels: stage/in-review, area/specs, size/xs

#889 [PWX-27622] Use provided AWS credentials to run permission check on EKS
  cmd/operator/operator.go
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/portworx_test.go
  pkg/cloudprovider/cloudprovider_test.go
  pkg/controller/storagecluster/controller_test.go
  pkg/preflight/aws.go
  pkg/preflight/aws_test.go
  pkg/preflight/preflight.go
  pkg/preflight/preflight_test.go
Labels: stage/in-review, area/portworx, size/m, stage/in-review-stale, area/controller, area/cmd

#829 linter-tools cleanup
  Makefile
Labels: stage/in-review, size/s, stage/in-review-stale, stage/approved

#897 Updating CSV to use 1.10.2 released image
  deploy/olm-catalog/portworx/1.10.2/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs

#899 PTX-15118 Fix marketplace operator deployment for -dev images
  test/integration_test/utils/marketplace.go
Labels: bug, stage/in-review, size/s, area/integration-test, stage/approved

#900 PTX-15076 Add retry for deleting StorageCluster
  pkg/util/test/util.go
  test/integration_test/utils/storagecluster.go
Labels: enhancement, stage/in-review, size/s, area/integration-test, stage/approved

#902 PTX-15241 Improve stc status messages
  pkg/util/test/util.go
Labels: stage/in-review, size/xs, stage/approved

#904 Fix missing node name from the storage pod template
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
Labels: stage/in-review, size/s, area/controller

#905 read custom kubelet path from env
  README.md
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/util/util.go
Labels: stage/in-review, area/portworx

#874 PWX-28162_pt3: Adding CSR auto-approval
  cmd/operator/operator.go
  drivers/storage/portworx/util/util.go
  go.mod
  go.sum
  pkg/controller/csr/certificatesigningrequest.go
  pkg/controller/csr/controller_test.go
  pkg/controller/csr/testspec/csr_approved.yaml
  pkg/controller/storagecluster/storagecluster.go
  pkg/util/test/util.go
  vendor/github.com/portworx/sched-ops/k8s/core/csr.go
  vendor/modules.txt
Labels: stage/in-review, area/controller, area/vendor, stage/approved, area/cmd, size/l

#903 PTX-15228 wrapping UpdateInstallPlan() in retry loop
  test/integration_test/utils/marketplace.go
Labels: stage/in-review, size/s, area/integration-test, stage/approved

#909 Updating CSV to use 1.10.3 released image
  deploy/olm-catalog/portworx/1.10.3/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs

#908 add 1.10.3 catalog to master
  deploy/olm-catalog/portworx/1.10.3/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/1.10.3/core_v1_storagenode_crd.yaml
  deploy/olm-catalog/portworx/1.10.3/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs, size/xl

#898 Updating CSV to use 1.10.2 released image
  deploy/olm-catalog/portworx/1.10.2/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs, size/xs, stage/in-review-stale, stage/approved

#913 [PWX-28134] Update k8s min version for PDB
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/controller/storagecluster/stork_test.go
  pkg/controller/storagecluster/testspec/storkSchedDeployment.yaml
Labels: stage/in-review, size/s, area/controller, stage/approved
