Repository libopenstorage/operator, pull requests merged in 2023-12, with the labels that each got.

#1356 PWX-31340: Add capability to handle fatal pre-flight error which will…
  deploy/crds/core_v1_storagenode_crd.yaml
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/preflight.go
  pkg/apis/core/v1/storagenode.go
Labels: stage/in-review, area/specs, area/portworx, size/m, stage/approved

#1364 PWX-31340: Add capability to handle fatal pre-flight error which will…
  deploy/crds/core_v1_storagenode_crd.yaml
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/preflight.go
  pkg/apis/core/v1/storagenode.go
Labels: stage/in-review, area/specs, area/portworx

#1368 PWX-35255: add AR finalizers to clusterrole for autopilot on OCP
  drivers/storage/portworx/component/autopilot.go
  drivers/storage/portworx/testspec/autopilotClusterRole.yaml
  drivers/storage/portworx/testspec/autopilotClusterRole_k8s_1.24.yaml
Labels: stage/in-review, area/components, size/xs, stage/approved

#1370 PWX-35004 : Operator reconciles and removes image param specified in the STC
  pkg/controller/storagecluster/storagecluster.go
Labels: stage/in-review, size/s, area/controller, stage/approved

#1371 [cherry-pick] PWX-35004 : Retry to update storagecluster status if it fails (#1370)
  pkg/controller/storagecluster/storagecluster.go
Labels: stage/in-review, area/controller

#1372 PWX-35255: add AR finalizers to clusterrole for autopilot on OCP (#1368)
  drivers/storage/portworx/component/autopilot.go
  drivers/storage/portworx/testspec/autopilotClusterRole.yaml
  drivers/storage/portworx/testspec/autopilotClusterRole_k8s_1.24.yaml
Labels: stage/in-review, area/components

#1373 PWX-34916: changed the default log level for autopilot from debug to …
  drivers/storage/portworx/component/autopilot.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/testspec/autopilotDeployment.yaml
Labels: stage/in-review, area/components, area/portworx

#1374 PWX-35282: Do not restart portworx pod for 5m when the node is cordoned
  pkg/constants/constants.go
Labels: stage/in-review, size/xs, stage/approved

#1366 PWX-35173: Move the deleting of portworx-api pod for re registering csi driver from update stc logic to create px-pod logic
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/controller/storagecluster/update.go
Labels: stage/in-review, size/s, area/controller, stage/approved

#1377 PWX-35330: fixed gitops spec definition
  drivers/storage/portworx/component/autopilot.go
  drivers/storage/portworx/components_test.go
  pkg/apis/core/v1/storagecluster.go
  pkg/apis/core/v1/zz_generated.deepcopy.go
Labels: stage/in-review, area/components, size/s, area/portworx, stage/approved

#1375 PWX-34825: Do not continue with PX installation if PX versions configmap or URL are not present/reachable
  Makefile
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/manifest/manifest_test.go
  drivers/storage/portworx/mock/manifest.mock.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/uninstall.go
Labels: stage/in-review, area/manifest, area/portworx, size/m, stage/approved

#1381 PTX-21227 Do not expect PX pods to be deployed on infra nodes during validation
  pkg/util/test/util.go
Labels: stage/in-review, size/xs, stage/approved

#1383 PWX-22131,PWX-34256_pt4: Version parsing fix
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/manifest/manifest_test.go
Labels: stage/in-review, size/s, area/manifest, stage/approved

#1385 PWX-22131,PWX-34256_pt4 (px-rel-23.10.2): Version parsing fix (#1383)
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/manifest/manifest_test.go
Labels: area/manifest

#1384 PTX-21563 Add check for plugin resource
  pkg/util/test/util.go
Labels: stage/in-review, size/s, stage/approved
