Repository libopenstorage/operator, pull requests merged in 2023-02, with the labels that each got.

#915 [Cherry-pick] Update k8s min version for PDB (#913)
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/controller/storagecluster/stork_test.go
  pkg/controller/storagecluster/testspec/storkSchedDeployment.yaml
Labels: stage/in-review, area/controller

#917 [PWX-28868] Restart telemetry phonehome DaemonSet when ccm ConfigMap gets updated
  drivers/storage/portworx/component/autopilot.go
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/component/telemetry_java.go
  drivers/storage/portworx/components_test.go
  pkg/controller/storagecluster/stork.go
  pkg/migration/backup.go
  pkg/util/k8s/k8s.go
Labels: stage/in-review, area/components, area/portworx, size/m, area/controller

#921 Setup 1.10.4 release branch
  .travis.yml
  Makefile
  deploy/olm-catalog/portworx/1.10.4/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/1.10.4/core_v1_storagenode_crd.yaml
  deploy/olm-catalog/portworx/1.10.4/portworx-certified.clusterserviceversion.yaml
  deploy/olm-catalog/portworx/portworx.package.yaml
  deploy/operator.yaml
Labels: stage/in-review, area/specs

#919 PWX-28184: Add 'base-id' param to envoy startup to allow multiple env…
  deploy/ccm/metrics-collector-deployment.yaml
  deploy/ccm/registration-service.yaml
  drivers/storage/portworx/testspec/ccmGoCollectorDeployment.yaml
  drivers/storage/portworx/testspec/ccmGoRegisterDeployment.yaml
Labels: stage/in-review, area/specs

#924 PTX-PTX-15530 Disable validation for metrics-collector for 1.10+
  pkg/util/test/util.go
Labels: stage/in-review, size/xs, stage/approved

#914 PTX-15283 Improve validation for PX pods and add automation test case to cover issue that was found in CEE-744
  pkg/util/test/util.go
  test/integration_test/regression_test.go
  test/integration_test/testspec/apps/nginx-no-volumes/nginx-no-volumes-app.yaml
  test/integration_test/utils/constants.go
  test/integration_test/utils/fafb_config.go
  test/integration_test/utils/storagecluster.go
Labels: enhancement, stage/in-review, size/m, area/integration-test, stage/approved

#920 PWX-28608 add minReadySeconds for rolling updates
  deploy/crds/core_v1_storagecluster_crd.yaml
  pkg/apis/core/v1/storagecluster.go
  pkg/apis/core/v1/zz_generated.deepcopy.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/update.go
Labels: stage/in-review, area/specs, size/m, area/controller

#925 PTX-15552 Fixing cluster creation if cluster already exists
  test/integration_test/utils/storagecluster.go
Labels: stage/in-review, size/s, area/integration-test, stage/approved

#923 PWX-26956 handle telemetry cert owenrRef in storageCluster finalizer
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/component/telemetry_java.go
  drivers/storage/portworx/util/util.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
Labels: stage/in-review, area/components, size/m, area/controller

#928 fix incorrect BASE_REGISTRY_IMG
  Makefile
Labels: stage/in-review

#926 [PWX-28269][Cherrypick] Added support for `portworx.io/is-oke=true` annotation (#…
  drivers/storage/portworx/component/lighthouse.go
  drivers/storage/portworx/component/pvccontroller.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/util/util.go
  go.mod
  go.sum
  pkg/util/test/util.go
  vendor/github.com/libopenstorage/cloudops/.gitignore
  vendor/github.com/libopenstorage/cloudops/.travis.yml
  vendor/github.com/libopenstorage/cloudops/LICENSE
  vendor/github.com/libopenstorage/cloudops/Makefile
  vendor/github.com/libopenstorage/cloudops/cloud_storage_management.go
  vendor/github.com/libopenstorage/cloudops/cloudops.go
  vendor/github.com/libopenstorage/cloudops/errors.go
  vendor/github.com/libopenstorage/cloudops/mock/cloud_storage_management.mock.go
  vendor/github.com/libopenstorage/cloudops/mock/cloudops.mock.go
  vendor/github.com/libopenstorage/cloudops/pkg/storagedistribution/storagedistribution.go
  vendor/github.com/libopenstorage/cloudops/specs/decisionmatrix/aws.yaml
  vendor/github.com/libopenstorage/cloudops/specs/decisionmatrix/azure.yaml
  vendor/github.com/libopenstorage/cloudops/specs/decisionmatrix/csi.yaml
  vendor/github.com/libopenstorage/cloudops/specs/decisionmatrix/gce.yaml
  vendor/github.com/libopenstorage/cloudops/specs/decisionmatrix/ibm.yaml
  vendor/github.com/libopenstorage/cloudops/specs/decisionmatrix/oracle.yaml
  vendor/github.com/libopenstorage/cloudops/specs/decisionmatrix/pure.yaml
  vendor/github.com/libopenstorage/cloudops/specs/decisionmatrix/vsphere.yaml
  vendor/github.com/libopenstorage/cloudops/specs/decisionmatrix/yaml2csv.py
  vendor/github.com/libopenstorage/cloudops/tools.go
  vendor/github.com/libopenstorage/cloudops/unsupported/unsupported.go
  vendor/github.com/portworx/kvdb/.travis.yml
  vendor/github.com/portworx/kvdb/DCO
  vendor/github.com/portworx/kvdb/LICENSE
  vendor/github.com/portworx/kvdb/README.md
  vendor/github.com/portworx/kvdb/etcd/v3/kv_etcd.go
  vendor/github.com/portworx/kvdb/updates_collector.go
  vendor/modules.txt
Labels: stage/in-review, area/components, area/portworx, stage/in-review-stale, area/vendor

#931 [pwx-28605] Update base image version
  build/Dockerfile
Labels: stage/in-review, size/xs, area/build

#933 [pwx-28605] Update base image version
  build/Dockerfile
Labels: stage/in-review, area/build

#932 [pwx-28605] Update base image version
  build/Dockerfile
Labels: stage/in-review, area/build

#935 [pwx-29718] Add leader elect resource args to pvc controller on all k8s versions
  drivers/storage/portworx/component/pvccontroller.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/testspec/pvcControllerDeployment.yaml
  drivers/storage/portworx/testspec/pvcControllerDeploymentOpenshift.yaml
  drivers/storage/portworx/testspec/pvcControllerDeployment_k8s_1.24.yaml
Labels: stage/in-review, area/components, area/portworx, size/m

#937 [pwx-29718] Add leader elect resource args to pvc controller on all k8s versions
  drivers/storage/portworx/component/pvccontroller.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/testspec/pvcControllerDeployment.yaml
  drivers/storage/portworx/testspec/pvcControllerDeploymentOpenshift.yaml
  drivers/storage/portworx/testspec/pvcControllerDeployment_k8s_1.24.yaml
Labels: stage/in-review, area/components, area/portworx

#936 [pwx-29718] Add leader elect resource args to pvc controller on all k8s versions
  drivers/storage/portworx/component/pvccontroller.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/testspec/pvcControllerDeployment.yaml
  drivers/storage/portworx/testspec/pvcControllerDeploymentOpenshift.yaml
  drivers/storage/portworx/testspec/pvcControllerDeployment_k8s_1.24.yaml
Labels: stage/in-review, area/components, area/portworx

#934 PTX-15763 Fix MP operator upgrade logic
  test/integration_test/utils/marketplace.go
  test/integration_test/utils/px_operator.go
Labels: stage/in-review, size/s, area/integration-test, stage/approved

#941 Updating CSV to use 1.10.4 released image
  deploy/olm-catalog/portworx/1.10.4/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs

#942 Updating CSV to use 1.10.4 released image
  deploy/olm-catalog/portworx/1.10.4/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs, size/xs

#944 PWX-28722 : Add Operator integration test for OKE disk encrpyption
  test/integration_test/cloud_disk_test.go
Labels: stage/in-review, size/s, area/integration-test

#948 run make codegen on 1.11.0 branch
  pkg/apis/core/v1/zz_generated.deepcopy.go
  pkg/client/clientset/versioned/clientset.go
  pkg/client/clientset/versioned/fake/clientset_generated.go
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/register.go
  pkg/client/clientset/versioned/typed/core/v1/core_client.go
  pkg/client/clientset/versioned/typed/core/v1/fake/fake_storagecluster.go
  pkg/client/clientset/versioned/typed/core/v1/fake/fake_storagenode.go
Labels: stage/in-review

#947 [pwx-28659] Get live StorageCluster to update and tolerant revision conflict errors
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/controller/storagecluster/update.go
  pkg/controller/storagenode/storagenode.go
  pkg/util/k8s/k8s.go
  pkg/util/util.go
Labels: stage/in-review, size/m, area/controller

#946 PWX-29351: migrate from k8s.gcr.io to registry.k8s.io
  drivers/storage/portworx/component/portworx_proxy.go
  drivers/storage/portworx/component/pvccontroller.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/testspec/kvdbPodCustomPort.yaml
  drivers/storage/portworx/testspec/kvdbPodDefault.yaml
  drivers/storage/portworx/testspec/portworxAPIDaemonSet.yaml
  drivers/storage/portworx/testspec/pxProxyDaemonSet.yaml
  drivers/storage/portworx/util/csi_generator.go
  drivers/storage/portworx/util/csi_generator_test.go
  drivers/storage/portworx/util/util.go
  pkg/controller/storagecluster/stork.go
  pkg/controller/storagecluster/stork_test.go
  pkg/controller/storagecluster/testspec/storkSchedKubeSchedConfigDeployment.yaml
  pkg/controller/storagecluster/testspec/storkSchedVersionedDeployment.yaml
  pkg/migration/migration_test.go
  pkg/util/k8s/k8s.go
  pkg/util/util_test.go
  test/integration_test/testspec/migration/daemonset-with-all-components.yaml
Labels: stage/in-review, area/components, area/portworx, size/m, area/controller, area/integration-test

#949 [cherry-pick] PWX-29351: migrate from k8s.gcr.io to registry.k8s.io
  drivers/storage/portworx/component/portworx_proxy.go
  drivers/storage/portworx/component/pvccontroller.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/testspec/kvdbPodCustomPort.yaml
  drivers/storage/portworx/testspec/kvdbPodDefault.yaml
  drivers/storage/portworx/testspec/portworxAPIDaemonSet.yaml
  drivers/storage/portworx/testspec/pxProxyDaemonSet.yaml
  drivers/storage/portworx/util/csi_generator.go
  drivers/storage/portworx/util/csi_generator_test.go
  drivers/storage/portworx/util/util.go
  pkg/controller/storagecluster/stork.go
  pkg/controller/storagecluster/stork_test.go
  pkg/controller/storagecluster/testspec/storkSchedKubeSchedConfigDeployment.yaml
  pkg/controller/storagecluster/testspec/storkSchedVersionedDeployment.yaml
  pkg/migration/migration_test.go
  pkg/util/k8s/k8s.go
  pkg/util/util_test.go
  test/integration_test/testspec/migration/daemonset-with-all-components.yaml
Labels: area/components, area/portworx, area/controller, area/integration-test

#951 [pwx-29425] Rename releae 1.11.0 to 23.3.0
  Makefile
  deploy/olm-catalog/portworx/23.3.0/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/23.3.0/core_v1_storagenode_crd.yaml
  deploy/olm-catalog/portworx/23.3.0/portworx-certified.clusterserviceversion.yaml
  deploy/olm-catalog/portworx/99.9.9/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/99.9.9/core_v1_storagenode_crd.yaml
  deploy/olm-catalog/portworx/99.9.9/portworx-certified.clusterserviceversion.yaml
  deploy/olm-catalog/portworx/portworx.package.yaml
  pkg/util/test/util.go
  test/integration_test/basic_test.go
  test/integration_test/utils/px_operator.go
Labels: stage/in-review, size/s, area/specs, area/integration-test

#950 [pwx-29425] Rename release 1.11.0 to 23.3.0
  .travis.yml
  Makefile
  deploy/olm-catalog/portworx/23.3.0/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/23.3.0/core_v1_storagenode_crd.yaml
  deploy/olm-catalog/portworx/23.3.0/portworx-certified.clusterserviceversion.yaml
  deploy/olm-catalog/portworx/portworx.package.yaml
Labels: stage/in-review, area/specs

#952 [pwx-28343] Add "Recreate" update strategy to telemetry deployments
  deploy/ccm/metrics-collector-deployment.yaml
  deploy/ccm/registration-service.yaml
  drivers/storage/portworx/testspec/ccmGoCollectorDeployment.yaml
  drivers/storage/portworx/testspec/ccmGoRegisterDeployment.yaml
Labels: stage/in-review, area/specs, size/xs

#953 [pwx-28343] Add "Recreate" update strategy to telemetry deployments
  deploy/ccm/metrics-collector-deployment.yaml
  deploy/ccm/registration-service.yaml
  drivers/storage/portworx/testspec/ccmGoCollectorDeployment.yaml
  drivers/storage/portworx/testspec/ccmGoRegisterDeployment.yaml
Labels: area/specs
