Repository libopenstorage/operator, pull requests merged in 2023-04, with the labels that each got.

#1008 PWX-29409: Ignore zones with no nodes
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
Labels: stage/in-review, size/s, area/portworx, stage/approved

#1010 PWX-28826: Handle pre-flight check for DMthin
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/preflight.go
  pkg/controller/storagecluster/storagecluster.go
Labels: stage/in-review, size/s, area/portworx, area/controller

#1015 PWX-29409: Ignore zones with no nodes
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
Labels: stage/in-review, area/controller

#1016 PWX-29714 Controller to reconcile PortworxDiag objects
  cmd/operator/operator.go
  pkg/apis/portworx/v1/portworxdiag.go
  pkg/controller/portworxdiag/controller_test.go
  pkg/controller/portworxdiag/portworxdiag.go
  pkg/util/test/util.go
Labels: stage/in-review, size/m, area/controller, area/cmd

#1014 PWX-28826: Handle pre-flight check for DMthin
  drivers/storage/portworx/component/securitycontextconstraints.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/preflight.go
  drivers/storage/storage.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/mock/storagedriver.mock.go
  pkg/preflight/utils.go
  pkg/util/util.go
Labels: stage/in-review, area/components, area/portworx, area/controller, area/integration-test, stage/approved, size/l

#1019 PWX-30496: if '-T dmthin' exists in stc before preflight is ran and preflight fails don't start.
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/preflight.go
  pkg/controller/storagecluster/storagecluster.go
Labels: stage/in-review, size/s, area/portworx, area/controller, stage/approved

#1020 PWX-27656,PWX-30623 (px-rel-23.4.0): Adding /var/lib/containerd + RBAC updates (#826)
  drivers/storage/portworx/component/portworx_basic.go
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/testspec/openshift_runc.yaml
  drivers/storage/portworx/testspec/pks.yaml
  drivers/storage/portworx/testspec/pks_2.9.1.yaml
  drivers/storage/portworx/testspec/portworxClusterRole.yaml
  drivers/storage/portworx/testspec/portworxPodCustomPort.yaml
  drivers/storage/portworx/testspec/portworxPodEnvOverride.yaml
  drivers/storage/portworx/testspec/px_csi_0.3.yaml
  drivers/storage/portworx/testspec/px_csi_1.0.yaml
  drivers/storage/portworx/testspec/px_disable_telemetry.yaml
  drivers/storage/portworx/testspec/px_k3s.yaml
  drivers/storage/portworx/testspec/px_kvdb_certs.yaml
  drivers/storage/portworx/testspec/px_kvdb_certs_without_ca.yaml
  drivers/storage/portworx/testspec/px_kvdb_certs_without_cert.yaml
  drivers/storage/portworx/testspec/px_kvdb_certs_without_key.yaml
  drivers/storage/portworx/testspec/px_kvdb_without_certs.yaml
  drivers/storage/portworx/testspec/px_master.yaml
  drivers/storage/portworx/testspec/px_pks_with_csi.yaml
  drivers/storage/portworx/testspec/px_telemetry-with-location.yaml
  drivers/storage/portworx/testspec/px_telemetry.yaml
  drivers/storage/portworx/testspec/px_telemetry_with_proxy.yaml
  drivers/storage/portworx/testspec/runc.yaml
  drivers/storage/portworx/testspec/runc_2.9.1.yaml
  pkg/migration/generate.go
  test/integration_test/testspec/migration/simple-daemonset.yaml
Labels: stage/in-review, area/components, area/portworx, area/integration-test

#1023 Setting up `23.5.0` branch
  .travis.yml
  Makefile
  deploy/olm-catalog/portworx/23.5.0/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/23.5.0/core_v1_storagenode_crd.yaml
  deploy/olm-catalog/portworx/23.5.0/portworx-certified.clusterserviceversion.yaml
  deploy/olm-catalog/portworx/portworx.package.yaml
Labels: stage/in-review, area/specs

#1024 PWX-30729_pt2: RKE2 fix
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/testspec/px_k3s.yaml
Labels: stage/in-review, size/s, area/portworx, stage/approved

#1026 PWX-30623_pt2: IKS + containerd fix
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
Labels: stage/in-review, size/s, area/portworx, stage/approved
