Repository libopenstorage/operator, pull requests merged in 2023-09, with the labels that each got.

#1235 PWX-32073: Update csi-provisioner operation timeout from 10s to 5m (#…
  drivers/storage/portworx/component/csi.go
Labels: stage/in-review, area/components

#1236 Setting up 23.4.1 branch
  .travis.yml
  Makefile
  deploy/olm-catalog/portworx/23.4.1/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/23.4.1/core_v1_storagenode_crd.yaml
  deploy/olm-catalog/portworx/23.4.1/portworx-certified.clusterserviceversion.yaml
  deploy/olm-catalog/portworx/portworx.package.yaml
  drivers/storage/portworx/components_test.go
Labels: stage/in-review, area/specs, area/portworx

#1237 Updating CSV to use 23.4.1 released image
  deploy/olm-catalog/portworx/23.4.1/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs

#1238 Add 23.4.1 catalogs (#1236) (#1237)
  deploy/olm-catalog/portworx/23.4.1/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/23.4.1/core_v1_storagenode_crd.yaml
  deploy/olm-catalog/portworx/23.4.1/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs, size/xl, stage/approved

#1241 Updating CSV to use 23.4.1 released image
  deploy/olm-catalog/portworx/23.4.1/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs

#1243 Downgrade package CSV
  deploy/olm-catalog/portworx/portworx.package.yaml
Labels: stage/in-review

#1244 Updating CSV to use 23.4.1 released image
  deploy/olm-catalog/portworx/23.4.1/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs

#1245 Updating CSV to use 23.4.1 released image
  deploy/olm-catalog/portworx/23.4.1/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs

#1247 PWX-33418: Compensate for porx-branch renaming
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
Labels: stage/in-review, size/s, area/portworx, stage/approved

#1239 Update px-windows-csi-driver docker image tag to 23.8.0
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/testspec/px-csi-win-driver.yaml
  drivers/storage/portworx/util/csi_generator.go
Labels: stage/in-review, area/portworx, stage/in-review-stale

#1249 [23.7 CP] PWX-32048: Fixes annotation not being properly added for FACD topology installs
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
Labels: stage/in-review, area/portworx, stage/in-review-stale

#1248 [cherry-pick] PWX-33418: Compensate for prox-branch renaming (#1247)
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
Labels: stage/in-review, area/portworx, stage/in-review-stale

#1251 Revert windows support commits from 23.7.0
  Makefile
  deploy/crds/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/23.7.0/portworx-certified.clusterserviceversion.yaml
  deploy/windows/px-csi-node-win.yaml
  deploy/windows/px-csi-win-driver.yaml
  drivers/storage/portworx/component/windows.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/testspec/autopilotDeployment.yaml
  drivers/storage/portworx/testspec/ccmGoCollectorDeployment.yaml
  drivers/storage/portworx/testspec/ccmGoPhonehomeDaemonSet.yaml
  drivers/storage/portworx/testspec/ccmGoPhonehomeDaemonSetDefaultPort.yaml
  drivers/storage/portworx/testspec/ccmGoRegisterDeployment.yaml
  drivers/storage/portworx/testspec/csiDeploymentAlphaDisabledK8s_1_14.yaml
  drivers/storage/portworx/testspec/csiDeploymentAlphaDisabledK8s_1_16.yaml
  drivers/storage/portworx/testspec/csiDeploymentWithPKS.yaml
  drivers/storage/portworx/testspec/csiDeploymentWithResizer_1.0.yaml
  drivers/storage/portworx/testspec/csiDeploymentWithResizer_1_17.yaml
  drivers/storage/portworx/testspec/csiDeployment_1.0.yaml
  drivers/storage/portworx/testspec/csiDeployment_1.0_k8s116.yaml
  drivers/storage/portworx/testspec/csiDeployment_1.0_k8s120.yaml
  drivers/storage/portworx/testspec/csiDeployment_1.0_k8s120_with_topology.yaml
  drivers/storage/portworx/testspec/csiDeployment_1.0_k8s120_without_snapcontroller.yaml
  drivers/storage/portworx/testspec/csiDeployment_1.0_k8s123.yaml
  drivers/storage/portworx/testspec/csiStatefulSet_0.3.yaml
  drivers/storage/portworx/testspec/metricsCollectorDeployment.yaml
  drivers/storage/portworx/testspec/openshift_runc.yaml
  drivers/storage/portworx/testspec/pks.yaml
  drivers/storage/portworx/testspec/portworxAPIDaemonSet.yaml
  drivers/storage/portworx/testspec/px-csi-node-win.yaml
  drivers/storage/portworx/testspec/px-csi-win-driver.yaml
  drivers/storage/portworx/testspec/px-csi-win-storageclass.yaml
  drivers/storage/portworx/testspec/pxProxyDaemonSet.yaml
  drivers/storage/portworx/testspec/px_disable_telemetry.yaml
  drivers/storage/portworx/testspec/px_k3s.yaml
  drivers/storage/portworx/testspec/px_master.yaml
  drivers/storage/portworx/testspec/px_telemetry-with-location.yaml
  drivers/storage/portworx/testspec/px_telemetry.yaml
  drivers/storage/portworx/testspec/px_telemetry_with_proxy.yaml
  drivers/storage/portworx/testspec/runc.yaml
  drivers/storage/portworx/util/csi_generator.go
  drivers/storage/portworx/util/util.go
  pkg/apis/core/v1/storagecluster.go
  pkg/controller/storagecluster/stork_test.go
  pkg/migration/generate.go
Labels: stage/in-review, area/components, area/specs, area/manifest, area/portworx, area/controller

#1254 PWX-33550: Op-int test name change
  test/integration_test/basic_dmthin_test.go
Labels: stage/in-review, size/xs, area/integration-test, stage/approved

#1252 Cherrypick : Update px-windows-csi-driver tag to 23.8.0
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/testspec/px-csi-win-driver.yaml
  drivers/storage/portworx/util/csi_generator.go
Labels: stage/in-review, area/portworx

#1253 Cherrypick windows changes to master
  deploy/crds/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/99.9.9/portworx-certified.clusterserviceversion.yaml
  drivers/storage/portworx/component/windows.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/testspec/px-csi-node-win.yaml
  drivers/storage/portworx/testspec/px-csi-win-driver.yaml
  drivers/storage/portworx/util/csi_generator.go
  pkg/apis/core/v1/storagecluster.go
  pkg/migration/generate.go
Labels: stage/in-review, area/components, area/specs, area/manifest, area/portworx, size/m, stage/approved

#1255 The `-rt_opts` handling cleanup
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/util/util.go
Labels: stage/in-review, area/portworx, size/xs, stage/approved

#1257 PWX-33602 : Do not enable windows component if CSI is disabled
  drivers/storage/portworx/component/windows.go
  drivers/storage/portworx/components_test.go
Labels: stage/in-review, area/components, size/s, area/portworx, stage/approved

#1260 Updating CSV to use 23.7.0 released image
  deploy/olm-catalog/portworx/23.7.0/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/23.7.0/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs

#1259 Cherrypick PWX-33602 : Do not enable windows component if CSI is disabled
  drivers/storage/portworx/component/windows.go
  drivers/storage/portworx/components_test.go
Labels: stage/in-review, area/components, area/portworx

#1265 PWX-32952 : Update nginx image to nginx-unprivileged:1.25
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/manifest/manifest_test.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/testspec/nginx-deployment.yaml
Labels: stage/in-review, size/s, area/manifest, area/portworx, stage/approved

#1264 PWX-33374:Set Security context for OCP before pre-flight is launched.
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
Labels: stage/in-review, size/s, area/portworx, stage/approved

#1263 Setup 23.9.0 branch
  .travis.yml
  Makefile
  deploy/olm-catalog/portworx/23.9.0/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/23.9.0/core_v1_storagenode_crd.yaml
  deploy/olm-catalog/portworx/23.9.0/portworx-certified.clusterserviceversion.yaml
  deploy/olm-catalog/portworx/portworx.package.yaml
Labels: stage/in-review, area/specs

#1267 Renaming branches 23.9.0 to 23.10.0
  .travis.yml
  Makefile
  deploy/olm-catalog/portworx/23.10.0/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/23.10.0/core_v1_storagenode_crd.yaml
  deploy/olm-catalog/portworx/23.10.0/portworx-certified.clusterserviceversion.yaml
  deploy/olm-catalog/portworx/portworx.package.yaml
Labels: stage/in-review, area/specs

#1266 [Cherrypick] PWX-32952 : Update nginx image to v1.25 (#1265)
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/manifest/manifest_test.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/testspec/nginx-deployment.yaml
Labels: stage/in-review, area/manifest, area/portworx

#1269 PWX-30455 (op-23.10.0): mounts override fix (#1226)
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/util/util.go
  pkg/migration/generate.go
Labels: area/portworx

#1268 cherry-pick 23.10.0 catalogs (#1263) (#1267)
  Makefile
  deploy/olm-catalog/portworx/23.10.0/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/23.10.0/core_v1_storagenode_crd.yaml
  deploy/olm-catalog/portworx/23.10.0/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs, size/xl, stage/approved

#1261 Updating CSV to use 23.7.0 released image
  deploy/olm-catalog/portworx/23.7.0/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/23.7.0/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, size/s, area/specs, stage/approved

#1271 PWX-31025: repeating client.List() calls
  pkg/migration/migration.go
Labels: stage/in-review, size/s, stage/approved

#1270 fixing unit-tests
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/util/util.go
Labels: stage/in-review, area/portworx, size/xs, stage/approved

#1276 Add env check to set pure provider and enable pre-flight for pure pro…
  Makefile
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/util/util.go
  pkg/preflight/utils.go
Labels: stage/in-review, area/portworx, size/m, stage/approved
