Repository libopenstorage/operator, pull requests merged in 2023-07, with the labels that each got.

#1111 PWX-32127: Only add telemetry phonehome volume if px is at least 3.0
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/testspec/px_telemetry-with-location.yaml
  drivers/storage/portworx/testspec/px_telemetry.yaml
  drivers/storage/portworx/testspec/px_telemetry_with_proxy.yaml
Labels: stage/in-review, area/portworx, size/m, stage/approved

#1113 PWX-32127: Only add telemetry phonehome volume if px is at least 3.0
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/testspec/px_telemetry-with-location.yaml
  drivers/storage/portworx/testspec/px_telemetry.yaml
  drivers/storage/portworx/testspec/px_telemetry_with_proxy.yaml
Labels: stage/in-review, area/portworx

#1112 PWX-32131: Remove ccm-phonehome-config mount. This is a mount which …
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/preflight.go
  pkg/controller/storagecluster/storagecluster.go
Labels: stage/in-review, area/portworx, area/controller

#1106 PWX-31915: kvdb-api pod cleanup
  drivers/storage/portworx/util/util.go
  pkg/controller/storagenode/storagenode.go
  pkg/controller/storagenode/storagenode_test.go
Labels: stage/in-review, size/m, stage/in-review-stale, area/controller

#1096 Operator default images should not include csi-health-monitor-controller
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/testspec/csiDeployment_1.0_k8s123.yaml
  drivers/storage/portworx/util/csi_generator.go
Labels: stage/in-review, size/s, area/portworx, stage/approved

#1115 PWX-32131: Remove ccm-phonehome-config mount. This is a mount which …
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/preflight.go
  pkg/controller/storagecluster/storagecluster.go
Labels: stage/in-review, area/portworx, size/m, area/controller, stage/approved

#1116 Setup 23.7.0 branch
  .travis.yml
  Makefile
  deploy/olm-catalog/portworx/23.7.0/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/23.7.0/core_v1_storagenode_crd.yaml
  deploy/olm-catalog/portworx/23.7.0/portworx-certified.clusterserviceversion.yaml
  deploy/olm-catalog/portworx/portworx.package.yaml
Labels: stage/in-review, area/specs

#1117 Missing commits 23.7.0
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/preflight.go
  drivers/storage/portworx/testspec/px_telemetry-with-location.yaml
  drivers/storage/portworx/testspec/px_telemetry.yaml
  drivers/storage/portworx/testspec/px_telemetry_with_proxy.yaml
  pkg/controller/storagecluster/storagecluster.go
  pkg/preflight/utils.go
Labels: stage/in-review, area/portworx, area/controller

#1118 PWX-32197: added missing http filters config for envoy running with proxy
  deploy/ccm/envoy-config-collector-custom-proxy.yaml
  deploy/ccm/envoy-config-register-custom-proxy.yaml
  deploy/ccm/envoy-config-rest-custom-proxy.yaml
  drivers/storage/portworx/testspec/ccmGoCollectorProxyConfigMap_proxy.yaml
  drivers/storage/portworx/testspec/ccmGoPhonehomeProxyConfigMap_proxy.yaml
  drivers/storage/portworx/testspec/ccmGoRegisterProxyConfigMap_proxy.yaml
Labels: stage/in-review, size/s, area/specs, stage/approved

#1119 added missing http filters config for envoy running with proxy (#1118)
  deploy/ccm/envoy-config-collector-custom-proxy.yaml
  deploy/ccm/envoy-config-register-custom-proxy.yaml
  deploy/ccm/envoy-config-rest-custom-proxy.yaml
  drivers/storage/portworx/testspec/ccmGoCollectorProxyConfigMap_proxy.yaml
  drivers/storage/portworx/testspec/ccmGoPhonehomeProxyConfigMap_proxy.yaml
  drivers/storage/portworx/testspec/ccmGoRegisterProxyConfigMap_proxy.yaml
Labels: stage/in-review, area/specs

#1122 Update "replaces" version to 23.5.0 for 23.5.1 release
  deploy/olm-catalog/portworx/23.5.1/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs

#1123 Updating CSV to use 23.5.1 released image
  deploy/olm-catalog/portworx/23.5.1/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs

#1125 Updating CSV to use 23.5.1 released image
  deploy/olm-catalog/portworx/23.5.1/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs

#1128 Updating CSV to use 23.5.1 released image
  deploy/olm-catalog/portworx/23.5.1/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs

#1129 Updating CSV to use 23.5.1 released image
  deploy/olm-catalog/portworx/23.5.1/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs

#1121 Update on-pr.yml to remove xl message
  .github/workflows/on-pr.yml
Labels: stage/in-review, size/xs, area/ci, stage/approved

#1130 Setup 23.5.1 package in master
  Makefile
  deploy/olm-catalog/portworx/23.5.1/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/23.5.1/core_v1_storagenode_crd.yaml
  deploy/olm-catalog/portworx/23.5.1/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs, size/xl, stage/approved

#1087 PWX-31603: Initial operator code for PortworxDiag objects
  deploy/crds/portworx.io_portworxdiags.yaml
  drivers/storage/portworx/component/portworx_basic.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/testspec/portworxClusterRole.yaml
  drivers/storage/portworx/util/util.go
  pkg/apis/portworx/v1/portworxdiag.go
  pkg/controller/portworxdiag/controller_test.go
  pkg/controller/portworxdiag/pod.go
  pkg/controller/portworxdiag/portworxdiag.go
Labels: stage/in-review, area/components, area/specs, area/portworx, stage/in-review-stale, area/controller, size/l

#1104 PWX-25748: Add grafana spec support for PX dashboards
  Makefile
  deploy/crds/core_v1_storagecluster_crd.yaml
  deploy/grafana/grafana-dashboard-config.yaml
  deploy/grafana/grafana-datasource.yaml
  deploy/grafana/portworx-cluster-dashboard.json
  deploy/grafana/portworx-etcd-dashboard.json
  deploy/grafana/portworx-node-dashboard.json
  deploy/grafana/portworx-performance-dashboard.json
  deploy/grafana/portworx-volume-dashboard.json
  drivers/storage/portworx/component/grafana.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/manifest/manifest_test.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/testspec/grafanaDeployment.yaml
  drivers/storage/portworx/testspec/grafanaService.yaml
  pkg/apis/core/v1/storagecluster.go
  pkg/apis/core/v1/zz_generated.deepcopy.go
  pkg/migration/generate.go
Labels: stage/in-review, area/components, area/specs, area/manifest, area/portworx, size/xl

#1131 PWX-29718: Prevents multiple diags from running at once
  pkg/controller/portworxdiag/portworxdiag.go
Labels: stage/in-review, size/s, area/controller

#1133 PWX-32297: Use version extracted from manifest URL.
  drivers/storage/portworx/util/util.go
  drivers/storage/portworx/util/util_test.go
Labels: stage/in-review, size/m, stage/approved

#1114 PWX-31968: Pass in port to be used for readiness endpoint when runnin…
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/preflight.go
  pkg/controller/storagecluster/storagecluster.go
Labels: stage/in-review, area/components, size/s, area/portworx, area/controller, stage/approved

#1132 PWX-32294 : Reconfigure SCC templates
  drivers/storage/portworx/component/securitycontextconstraints.go
  drivers/storage/portworx/testspec/portworxSCC.yaml
Labels: stage/in-review, area/components, size/s, stage/approved

#1135 PWX-31968: Re-add in code which was removed for testing.
  pkg/controller/storagecluster/storagecluster.go
Labels: stage/in-review, size/xs, area/controller, stage/approved

#1137 PWX-31968: Pass in port to be used for readiness endpoint when runnin…
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/preflight.go
  pkg/controller/storagecluster/storagecluster.go
Labels: stage/in-review, area/components, area/portworx, area/controller

#1089 PWX-31971 verify pre-flight results
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/preflight.go
Labels: stage/in-review, area/components, area/specs, area/portworx, size/m, area/controller, stage/approved

#1139 Operator default images should not include csi-health-monitor-controller
  drivers/storage/portworx/testspec/csiDeployment_1.0_k8s123.yaml
  drivers/storage/portworx/util/csi_generator.go
Labels: stage/in-review

#1140 Cherrypick PWX-27673 and PWX-32294 to 23.7.0 (#988) (#1132) (#1140)
  drivers/storage/portworx/component/csi.go
  drivers/storage/portworx/component/lighthouse.go
  drivers/storage/portworx/component/pvccontroller.go
  drivers/storage/portworx/component/securitycontextconstraints.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/testspec/csiClusterRole_k8s_1.11.yaml
  drivers/storage/portworx/testspec/csiClusterRole_k8s_1.13.yaml
  drivers/storage/portworx/testspec/csiClusterRole_k8s_1.14.yaml
  drivers/storage/portworx/testspec/lighthouseClusterRole.yaml
  drivers/storage/portworx/testspec/portworxRestrictedSCC.yaml
  drivers/storage/portworx/testspec/portworxSCC.yaml
  drivers/storage/portworx/testspec/pvcControllerClusterRole.yaml
Labels: stage/in-review, area/components, area/portworx

#1138 PWX-31971 verify pre-flight results (#1089)
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/preflight.go
Labels: stage/in-review, area/portworx

#1142 PWX-32197: added missing http filters config for envoy running with proxy
  deploy/ccm/envoy-config-collector-custom-proxy.yaml
  deploy/ccm/envoy-config-register-custom-proxy.yaml
  deploy/ccm/envoy-config-rest-custom-proxy.yaml
  drivers/storage/portworx/testspec/ccmGoCollectorProxyConfigMap_proxy.yaml
  drivers/storage/portworx/testspec/ccmGoPhonehomeProxyConfigMap_proxy.yaml
  drivers/storage/portworx/testspec/ccmGoRegisterProxyConfigMap_proxy.yaml
Labels: stage/in-review, area/specs

#1144 PWX-32080: Add grafana image to desired images CRD
  deploy/crds/core_v1_storagecluster_crd.yaml
  drivers/storage/portworx/component/grafana.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/testspec/grafanaDeployment.yaml
Labels: stage/in-review, area/components, size/s, area/specs, area/portworx

#1120 PWX-32011: added https proxy support
  deploy/ccm/envoy-config-collector-custom-http-proxy.yaml
  deploy/ccm/envoy-config-collector-custom-https-proxy.yaml
  deploy/ccm/envoy-config-register-custom-http-proxy.yaml
  deploy/ccm/envoy-config-register-custom-https-proxy.yaml
  deploy/ccm/envoy-config-rest-custom-http-proxy.yaml
  deploy/ccm/envoy-config-rest-custom-https-proxy.yaml
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/testspec/ccmGoCollectorProxyConfigMap_httpproxy.yaml
  drivers/storage/portworx/testspec/ccmGoCollectorProxyConfigMap_httpsproxy.yaml
  drivers/storage/portworx/testspec/ccmGoPhonehomeProxyConfigMap_httpproxy.yaml
  drivers/storage/portworx/testspec/ccmGoPhonehomeProxyConfigMap_httpsproxy.yaml
  drivers/storage/portworx/testspec/ccmGoRegisterProxyConfigMap_httpproxy.yaml
  drivers/storage/portworx/testspec/ccmGoRegisterProxyConfigMap_httpsproxy.yaml
  drivers/storage/portworx/util/util.go
  drivers/storage/portworx/util/util_test.go
Labels: stage/in-review, area/components, area/specs, area/portworx, size/xl, stage/approved

#1148 PWX-32179: Reduces volume mounts for PX diag collector pod
  pkg/controller/portworxdiag/pod.go
Labels: stage/in-review, size/s, area/controller

#1152 Fixing 23.7.0 CSV
  deploy/olm-catalog/portworx/23.7.0/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs, size/xs, stage/approved

#1147 PWX-29716, PWX-32103: Implements PortworxDiag NodeSelector, adds unit tests
  pkg/controller/portworxdiag/controller_test.go
  pkg/controller/portworxdiag/portworxdiag.go
Labels: stage/in-review, area/controller, size/l

#1151 PWX-32177: Removes unnecessary permissions from diag collector pods
  pkg/controller/portworxdiag/pod.go
Labels: stage/in-review, size/xs, area/controller

#1143 PWX-32399: fix PX privileged SCC
  drivers/storage/portworx/component/securitycontextconstraints.go
  drivers/storage/portworx/testspec/portworxSCC.yaml
Labels: stage/in-review, area/components

#1153 PWX-32188: TLS cipher-suite/version annotations
  drivers/storage/portworx/component/pvccontroller.go
  drivers/storage/portworx/util/util.go
  drivers/storage/portworx/util/util_test.go
Labels: stage/in-review, area/components, size/m, stage/approved

#1136 PWX-32147 : add custom image registry support for plugin pod
  deploy/crds/core_v1_storagecluster_crd.yaml
  deploy/plugin/nginx-deployment.yaml
  deploy/plugin/plugin-deployment.yaml
  drivers/storage/portworx/component/plugin.go
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/manifest/manifest_test.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/testspec/nginx-deployment.yaml
  drivers/storage/portworx/testspec/plugin-deployment.yaml
  pkg/apis/core/v1/storagecluster.go
  pkg/migration/generate.go
Labels: stage/in-review, area/components, area/specs, area/manifest, area/portworx, stage/in-review-stale

#1154 PWX-31962: Op-integration test for dmthin basic install and uninstall
  pkg/util/test/util.go
  test/integration_test/basic_dmthin_test.go
  test/integration_test/cloud_provider/cloud_drive.go
  test/integration_test/cloud_provider/vsphere.go
  test/integration_test/utils/storagecluster.go
  test/integration_test/utils/utils.go
Labels: stage/in-review, size/m, area/integration-test, stage/approved

#1158 update dynamic plugin image for 23.7.0
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/manifest/manifest_test.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/testspec/plugin-deployment.yaml
Labels: stage/in-review, area/manifest, area/portworx

#1157 Cherrypick PWX-32147 : add custom image registry support for plugin pod
  deploy/crds/core_v1_storagecluster_crd.yaml
  deploy/plugin/nginx-deployment.yaml
  deploy/plugin/plugin-deployment.yaml
  drivers/storage/portworx/component/plugin.go
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/manifest/manifest_test.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/testspec/nginx-deployment.yaml
  drivers/storage/portworx/testspec/plugin-deployment.yaml
  pkg/apis/core/v1/storagecluster.go
  pkg/migration/generate.go
Labels: stage/in-review, area/components, area/specs, area/manifest, area/portworx, size/m, stage/approved

#1155 PWX-31981: Remove depricated '-T dmthin' misc argument
  pkg/controller/storagecluster/storagecluster.go
Labels: stage/in-review, size/s, area/controller, stage/approved

#1146 PWX-31068: Add GCE/Azure cloud provider to storage spec so it can be picked…
  drivers/storage/portworx/component/auth.go
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/util/util.go
  pkg/preflight/aws.go
  pkg/preflight/gce.go
  pkg/preflight/preflight.go
  pkg/preflight/preflight_test.go
  pkg/preflight/utils.go
  pkg/util/k8s/pod.go
Labels: stage/in-review, area/components, area/specs, area/portworx, size/m, stage/approved

#1145 PTX-18776 Improving validating for stork-scheduler image
  pkg/util/test/util.go
  test/integration_test/basic_test.go
  test/integration_test/utils/storagecluster.go
Labels: stage/in-review, size/m, area/integration-test, stage/approved

#1160 PWX-31981: Remove depricated '-T dmthin' misc argument (#1155)
  pkg/controller/storagecluster/storagecluster.go
Labels: stage/in-review, area/controller

#1161 PWX-31962: Fixing up test name and provider logic
  test/integration_test/basic_dmthin_test.go
  test/integration_test/cloud_provider/cloud_drive.go
Labels: stage/in-review, size/xs, area/integration-test, stage/approved

#1164 PWX-32497: fix portworx (privileged) SCC
  drivers/storage/portworx/component/securitycontextconstraints.go
  drivers/storage/portworx/testspec/portworxSCC.yaml
Labels: stage/in-review, area/components, size/xs, stage/approved

#1150 PWX-32011: added https proxy support (#1120)
  deploy/ccm/envoy-config-collector-custom-http-proxy.yaml
  deploy/ccm/envoy-config-collector-custom-https-proxy.yaml
  deploy/ccm/envoy-config-register-custom-http-proxy.yaml
  deploy/ccm/envoy-config-register-custom-https-proxy.yaml
  deploy/ccm/envoy-config-rest-custom-http-proxy.yaml
  deploy/ccm/envoy-config-rest-custom-https-proxy.yaml
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/testspec/ccmGoCollectorProxyConfigMap_httpproxy.yaml
  drivers/storage/portworx/testspec/ccmGoCollectorProxyConfigMap_httpsproxy.yaml
  drivers/storage/portworx/testspec/ccmGoPhonehomeProxyConfigMap_httpproxy.yaml
  drivers/storage/portworx/testspec/ccmGoPhonehomeProxyConfigMap_httpsproxy.yaml
  drivers/storage/portworx/testspec/ccmGoRegisterProxyConfigMap_httpproxy.yaml
  drivers/storage/portworx/testspec/ccmGoRegisterProxyConfigMap_httpsproxy.yaml
  drivers/storage/portworx/util/util.go
  drivers/storage/portworx/util/util_test.go
Labels: stage/in-review, area/components, area/specs, area/portworx

#1165 PTX-18659 Fix Telemetry status regex
  pkg/util/test/util.go
Labels: enhancement, stage/in-review, size/s, stage/approved

#1166 PTX-18831 Improving logic for when Telemetry should be enabled/disabled
  pkg/util/test/util.go
Labels: stage/in-review, size/m, stage/approved

#1169 Create on-pr-label.yml
  .github/workflows/on-pr-label.yml
Labels: stage/in-review, size/s, area/ci, stage/approved

#1163 PWX-29715: Implemented volume selector for PortworxDiags
  pkg/controller/portworxdiag/controller_test.go
  pkg/controller/portworxdiag/portworxdiag.go
Labels: stage/in-review, size/m, area/controller

#1167 PWX-32539: When preflight enables PX-storeV2 for vsphere. It should …
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/preflight.go
Labels: stage/in-review, area/portworx, size/m, stage/approved

#1170 PWX-32567: pre-flight pods do not run on master so don't create pre-f…
  pkg/controller/storagecluster/storagecluster.go
Labels: stage/in-review, size/s, area/portworx, area/controller, stage/approved

#1172 PTX-19249 Add delete StorageCluster after each test
  test/integration_test/basic_test.go
Labels: stage/in-review, size/s, area/integration-test, stage/approved

#1173 PTX-19252 Skip Telemetry validation if op less than 23.5.1 and PX higher than 3.0
  pkg/util/test/util.go
Labels: stage/in-review, size/xs, stage/approved

#1156 Add integration tests for grafana deployment
  pkg/util/test/util.go
  test/integration_test/basic_test.go
  test/integration_test/utils/px_operator.go
  test/integration_test/utils/storagecluster.go
Labels: stage/in-review, size/m, area/integration-test, area/vendor

#1174 PWX-32193 Watch for diag pod changes and reconcile PortworxDiag obj
  pkg/controller/portworxdiag/portworxdiag.go
Labels: stage/in-review, size/s, area/controller

#1171 PWX-32103: Adds end-to-end unit tests for the PortworxDiag operator code
  Makefile
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/status_test.go
  pkg/controller/portworxdiag/controller_test.go
  pkg/controller/portworxdiag/matchers_test.go
  pkg/controller/portworxdiag/portworxdiag.go
  pkg/mock/openstoragesdk.mock.go
  pkg/mock/sdkserver.go
  pkg/util/test/util.go
Labels: stage/in-review, area/portworx, size/xl, area/controller

#1177 PWX-32567: merge into 23.7.0
  pkg/controller/storagecluster/storagecluster.go
Labels: stage/in-review, area/controller
