Repository libopenstorage/operator, pull requests merged in 2023-08, with the labels that each got.

#1175 PTX-18228 Adding validation for OCP Dynamic Plugin
  pkg/util/test/util.go
  test/integration_test/basic_test.go
  test/integration_test/utils/storagecluster.go
Labels: enhancement, stage/in-review, size/m, area/integration-test, stage/approved

#1178 PTX-19369 Add flag to pass additional custom annotations to STC
  test/integration_test/main_test.go
  test/integration_test/operator-test-pod-template.yaml
  test/integration_test/test-deploy.sh
  test/integration_test/utils/constants.go
  test/integration_test/utils/storagecluster.go
Labels: stage/in-review, size/s, area/integration-test, stage/approved

#1183 Update the prometheus rules
  drivers/storage/portworx/testspec/prometheusRule.yaml
Labels: stage/in-review, size/m

#1179 PTX-19346 Adding workaround for the known Telemetry port issue for specific Operator upgrades
  pkg/util/test/util.go
  test/integration_test/basic_test.go
  test/integration_test/marketplace_test.go
  test/integration_test/utils/px_operator.go
Labels: stage/in-review, size/m, area/integration-test, stage/approved

#1141 PWX-27672: Reducing Privileged-requirements for Portworx PODs
  drivers/storage/portworx/component/plugin.go
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/util/util.go
  drivers/storage/portworx/util/util_test.go
  pkg/controller/storagecluster/storagecluster.go
Labels: stage/in-review, area/components, size/s, area/specs, area/portworx, stage/in-review-stale, area/controller, stage/approved

#1181 PWX-32428,PWX-27672: shared mounts fix for PKS and privileged:false
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/testspec/pks.yaml
  drivers/storage/portworx/testspec/pks_2.9.1.yaml
  drivers/storage/portworx/testspec/px_pks_with_csi.yaml
  pkg/migration/generate.go
Labels: stage/in-review, area/portworx, size/m, stage/approved

#1185 Merge PWX-32428,PWX-27672 fixes into 23.7.0 (#1141) (#1181)
  drivers/storage/portworx/component/plugin.go
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/testspec/pks.yaml
  drivers/storage/portworx/testspec/pks_2.9.1.yaml
  drivers/storage/portworx/testspec/px_pks_with_csi.yaml
  drivers/storage/portworx/util/util.go
  drivers/storage/portworx/util/util_test.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/migration/generate.go
Labels: area/components, area/portworx, area/controller

#1070 PWX-30419: Use reconcile loop to check pre-flight status. Timeout after 15m.
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/preflight.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
Labels: stage/in-review, area/portworx, size/m, area/controller, stage/approved

#1186 PWX-32773: OCP-4.13 non-privileged deployment fix
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
Labels: stage/in-review, area/portworx

#1188 PWX-30419: Use reconcile loop to check pre-flight status. Timeout aft…
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/preflight.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
Labels: stage/in-review, area/portworx, area/controller

#1187 CSI: Updates CSI images to the latest version
  drivers/storage/portworx/manifest/manifest_test.go
  drivers/storage/portworx/util/csi_generator.go
  drivers/storage/portworx/util/csi_generator_test.go
  test/integration_test/testspec/migration/daemonset-with-all-components.yaml
Labels: stage/in-review, size/s, area/manifest, area/integration-test, stage/approved

#1182 Fix slack message action for PR Forks
  .github/workflows/on-pr-label.yml
Labels: stage/in-review, size/xs, area/ci, stage/approved

#1192 CSI: Updates CSI images to the latest version (#1187)
  drivers/storage/portworx/manifest/manifest_test.go
  drivers/storage/portworx/util/csi_generator.go
  drivers/storage/portworx/util/csi_generator_test.go
  test/integration_test/testspec/migration/daemonset-with-all-components.yaml
Labels: area/manifest, area/integration-test

#1200 PWX-32850: When preflight is unsupported we need to make sure we are …
  pkg/controller/storagecluster/storagecluster.go
Labels: stage/in-review, area/controller

#1196 PWX-32800: proxy with http protocal also supports user/password
  drivers/storage/portworx/util/util.go
  drivers/storage/portworx/util/util_test.go
  pkg/util/test/util.go
Labels: stage/in-review, size/s, stage/approved

#1201 PWX-32800: proxy with http protocol also supports user/password
  drivers/storage/portworx/util/util.go
  drivers/storage/portworx/util/util_test.go
Labels: stage/in-review

#1202 fixup for https proxy with basic authn
  deploy/ccm/envoy-config-collector-custom-https-proxy.yaml
  deploy/ccm/envoy-config-register-custom-https-proxy.yaml
  deploy/ccm/envoy-config-rest-custom-https-proxy.yaml
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/testspec/ccmGoCollectorProxyConfigMap_httpsproxy.yaml
  drivers/storage/portworx/testspec/ccmGoPhonehomeProxyConfigMap_httpsproxy.yaml
  drivers/storage/portworx/testspec/ccmGoRegisterProxyConfigMap_httpsproxy.yaml
  drivers/storage/portworx/util/util.go
  pkg/util/test/util.go
Labels: stage/in-review, area/components, size/s, area/specs, stage/approved

#1203 fix for the https proxy with basic authn
  deploy/ccm/envoy-config-collector-custom-https-proxy.yaml
  deploy/ccm/envoy-config-register-custom-https-proxy.yaml
  deploy/ccm/envoy-config-rest-custom-https-proxy.yaml
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/testspec/ccmGoCollectorProxyConfigMap_httpsproxy.yaml
  drivers/storage/portworx/testspec/ccmGoPhonehomeProxyConfigMap_httpsproxy.yaml
  drivers/storage/portworx/testspec/ccmGoRegisterProxyConfigMap_httpsproxy.yaml
  drivers/storage/portworx/util/util.go
Labels: stage/in-review, area/components, area/specs

#1204 PWX-32976: Backport for 2.13.8
  drivers/storage/portworx/component/telemetry.go
Labels: stage/in-review, area/components, size/s, stage/approved

#1205 PTX-19576 Fix enabled/disabled Telemetry logic validation
  pkg/util/test/util.go
  test/integration_test/basic_test.go
  test/integration_test/utils/storagecluster.go
Labels: stage/in-review, size/s, area/integration-test, stage/approved

#1176 PWX-31562 : Operator's Windows support
  Makefile
  deploy/crds/core_v1_storagecluster_crd.yaml
  deploy/windows/px-csi-node-win.yaml
  deploy/windows/px-csi-win-driver.yaml
  drivers/storage/portworx/component/windows.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/testspec/autopilotDeployment.yaml
  drivers/storage/portworx/testspec/ccmGoCollectorDeployment.yaml
  drivers/storage/portworx/testspec/ccmGoPhonehomeDaemonSet.yaml
  drivers/storage/portworx/testspec/ccmGoPhonehomeDaemonSetDefaultPort.yaml
  drivers/storage/portworx/testspec/ccmGoRegisterDeployment.yaml
  drivers/storage/portworx/testspec/csiDeploymentAlphaDisabledK8s_1_14.yaml
  drivers/storage/portworx/testspec/csiDeploymentAlphaDisabledK8s_1_16.yaml
  drivers/storage/portworx/testspec/csiDeploymentWithPKS.yaml
  drivers/storage/portworx/testspec/csiDeploymentWithResizer_1.0.yaml
  drivers/storage/portworx/testspec/csiDeploymentWithResizer_1_17.yaml
  drivers/storage/portworx/testspec/csiDeployment_1.0.yaml
  drivers/storage/portworx/testspec/csiDeployment_1.0_k8s116.yaml
  drivers/storage/portworx/testspec/csiDeployment_1.0_k8s120.yaml
  drivers/storage/portworx/testspec/csiDeployment_1.0_k8s120_with_topology.yaml
  drivers/storage/portworx/testspec/csiDeployment_1.0_k8s120_without_snapcontroller.yaml
  drivers/storage/portworx/testspec/csiDeployment_1.0_k8s123.yaml
  drivers/storage/portworx/testspec/csiStatefulSet_0.3.yaml
  drivers/storage/portworx/testspec/grafanaDeployment.yaml
  drivers/storage/portworx/testspec/metricsCollectorDeployment.yaml
  drivers/storage/portworx/testspec/openshift_runc.yaml
  drivers/storage/portworx/testspec/pks.yaml
  drivers/storage/portworx/testspec/portworxAPIDaemonSet.yaml
  drivers/storage/portworx/testspec/px-csi-node-win.yaml
  drivers/storage/portworx/testspec/px-csi-win-driver.yaml
  drivers/storage/portworx/testspec/px-csi-win-storageclass.yaml
  drivers/storage/portworx/testspec/pxProxyDaemonSet.yaml
  drivers/storage/portworx/testspec/px_disable_telemetry.yaml
  drivers/storage/portworx/testspec/px_k3s.yaml
  drivers/storage/portworx/testspec/px_master.yaml
  drivers/storage/portworx/testspec/px_telemetry-with-location.yaml
  drivers/storage/portworx/testspec/px_telemetry.yaml
  drivers/storage/portworx/testspec/px_telemetry_with_proxy.yaml
  drivers/storage/portworx/testspec/runc.yaml
  drivers/storage/portworx/util/csi_generator.go
  drivers/storage/portworx/util/util.go
  pkg/apis/core/v1/storagecluster.go
  pkg/controller/storagecluster/stork_test.go
  pkg/migration/generate.go
Labels: stage/in-review, area/components, area/specs, area/manifest, area/portworx, size/xl, area/controller, stage/approved

#1208 Setting up 23.7.1 branch
  .travis.yml
  Makefile
  deploy/olm-catalog/portworx/23.7.1/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/23.7.1/core_v1_storagenode_crd.yaml
  deploy/olm-catalog/portworx/23.7.1/portworx-certified.clusterserviceversion.yaml
  deploy/olm-catalog/portworx/portworx.package.yaml
  deploy/operator.yaml
Labels: stage/in-review

#1198 PWX-32648: Adding Install/Uninstall test cases
  test/integration_test/basic_dmthin_test.go
  test/integration_test/cloud_provider/cloud_drive.go
  test/integration_test/cloud_provider/vsphere.go
  test/integration_test/utils/utils.go
Labels: stage/in-review, size/m, area/integration-test, stage/approved

#1206 PWX-32976: need to set telemetry port to 9029 if px >= 2.13.8
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/component/telemetry_test.go
Labels: stage/in-review, area/components

#1213 PWX-32976: need to mount ccm config for 2.13.8 as well
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
Labels: stage/in-review, size/s, area/portworx, stage/approved

#1214 PWX-32976: cherry-pick ccm config mount change for 2.13.8
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
Labels: stage/in-review, area/portworx

#1199 Adding Upgrade test
  test/integration_test/basic_dmthin_test.go
  test/integration_test/utils/utils.go
Labels: stage/in-review, size/s, area/integration-test, stage/approved

#1212 Update the prometheus rules used by the test
  drivers/storage/portworx/testspec/prometheusRule.yaml
Labels: stage/in-review, size/s, stage/approved

#1217 cherry-pick: Update the prometheus rules used by the test
  drivers/storage/portworx/testspec/prometheusRule.yaml
Labels: stage/in-review

#1207 PWX-32825: Adjusting version triggers for px-3.0.1
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
Labels: stage/in-review, size/s, area/portworx

#1218 cherry-pick: Update the prometheus rules used by the test
  drivers/storage/portworx/testspec/prometheusRule.yaml
Labels: stage/in-review

#1216 PWX-33085, PWX-33086 : Add linux nodeaffinity for operator
  deploy/olm-catalog/portworx/23.7.1/portworx-certified.clusterserviceversion.yaml
  drivers/storage/portworx/component/windows.go
  drivers/storage/portworx/components_test.go
Labels: stage/in-review, area/components, area/specs, area/portworx

#1221 PTX-19673 Remove PX_RELEASE_MANIFEST_URL for PX upgrades from none edge endpoints
  test/integration_test/utils/storagecluster.go
  test/integration_test/utils/utils.go
Labels: stage/in-review, size/s, area/integration-test, stage/approved

#1219 PWX-33087 : CsiWindowsDriver image is not populating is storagecluster desired images
  deploy/crds/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/23.7.1/portworx-certified.clusterserviceversion.yaml
  deploy/windows/px-csi-node-win.yaml
  drivers/storage/portworx/component/windows.go
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/testspec/px-csi-node-win.yaml
  drivers/storage/portworx/testspec/px-csi-win-driver.yaml
  drivers/storage/portworx/util/csi_generator.go
  drivers/storage/portworx/util/util.go
  pkg/apis/core/v1/storagecluster.go
  pkg/migration/generate.go
Labels: stage/in-review, area/components, area/specs, area/manifest, area/portworx

#1225 Cherrypick Windows support for 23.7.0
  Makefile
  deploy/crds/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/23.7.0/portworx-certified.clusterserviceversion.yaml
  deploy/windows/px-csi-node-win.yaml
  deploy/windows/px-csi-win-driver.yaml
  drivers/storage/portworx/component/windows.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/testspec/autopilotDeployment.yaml
  drivers/storage/portworx/testspec/ccmGoCollectorDeployment.yaml
  drivers/storage/portworx/testspec/ccmGoPhonehomeDaemonSet.yaml
  drivers/storage/portworx/testspec/ccmGoPhonehomeDaemonSetDefaultPort.yaml
  drivers/storage/portworx/testspec/ccmGoRegisterDeployment.yaml
  drivers/storage/portworx/testspec/csiDeploymentAlphaDisabledK8s_1_14.yaml
  drivers/storage/portworx/testspec/csiDeploymentAlphaDisabledK8s_1_16.yaml
  drivers/storage/portworx/testspec/csiDeploymentWithPKS.yaml
  drivers/storage/portworx/testspec/csiDeploymentWithResizer_1.0.yaml
  drivers/storage/portworx/testspec/csiDeploymentWithResizer_1_17.yaml
  drivers/storage/portworx/testspec/csiDeployment_1.0.yaml
  drivers/storage/portworx/testspec/csiDeployment_1.0_k8s116.yaml
  drivers/storage/portworx/testspec/csiDeployment_1.0_k8s120.yaml
  drivers/storage/portworx/testspec/csiDeployment_1.0_k8s120_with_topology.yaml
  drivers/storage/portworx/testspec/csiDeployment_1.0_k8s120_without_snapcontroller.yaml
  drivers/storage/portworx/testspec/csiDeployment_1.0_k8s123.yaml
  drivers/storage/portworx/testspec/csiStatefulSet_0.3.yaml
  drivers/storage/portworx/testspec/metricsCollectorDeployment.yaml
  drivers/storage/portworx/testspec/openshift_runc.yaml
  drivers/storage/portworx/testspec/pks.yaml
  drivers/storage/portworx/testspec/portworxAPIDaemonSet.yaml
  drivers/storage/portworx/testspec/px-csi-node-win.yaml
  drivers/storage/portworx/testspec/px-csi-win-driver.yaml
  drivers/storage/portworx/testspec/px-csi-win-storageclass.yaml
  drivers/storage/portworx/testspec/pxProxyDaemonSet.yaml
  drivers/storage/portworx/testspec/px_disable_telemetry.yaml
  drivers/storage/portworx/testspec/px_k3s.yaml
  drivers/storage/portworx/testspec/px_master.yaml
  drivers/storage/portworx/testspec/px_telemetry-with-location.yaml
  drivers/storage/portworx/testspec/px_telemetry.yaml
  drivers/storage/portworx/testspec/px_telemetry_with_proxy.yaml
  drivers/storage/portworx/testspec/runc.yaml
  drivers/storage/portworx/util/csi_generator.go
  drivers/storage/portworx/util/util.go
  pkg/apis/core/v1/storagecluster.go
  pkg/controller/storagecluster/stork_test.go
  pkg/migration/generate.go
Labels: stage/in-review, area/components, area/specs, area/manifest, area/portworx, area/controller

#1228 Update the prometheus rules used by the test
  drivers/storage/portworx/testspec/prometheusRule.yaml
Labels: stage/in-review, size/s, stage/approved

#1229 Update the prometheus rules used by the test
  drivers/storage/portworx/testspec/prometheusRule.yaml
Labels: stage/in-review, area/components, area/specs, area/manifest, area/portworx, area/controller, area/integration-test, area/vendor

#1230 Update the prometheus rules used by the test
  drivers/storage/portworx/testspec/prometheusRule.yaml
Labels: stage/in-review

#1223 PWX-32878: Create Testcase for dmthin installation failed so that btrfs gets installed
  test/integration_test/basic_dmthin_test.go
Labels: stage/in-review, size/s, area/integration-test, stage/approved

#1231 Nodeaffinity fix for 23.7.0
  deploy/olm-catalog/portworx/23.7.0/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs

#1224 Windows Airgap Support : Update windows image's tags
  deploy/crds/core_v1_storagecluster_crd.yaml
  drivers/storage/portworx/component/windows.go
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/testspec/px-csi-node-win.yaml
  drivers/storage/portworx/util/csi_generator.go
  pkg/apis/core/v1/storagecluster.go
  pkg/migration/generate.go
Labels: stage/in-review, area/components, area/specs, area/manifest, area/portworx

#1222 PWX-32580: Do not create pre-flight storage node objects for nodes wh…
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
Labels: stage/in-review, size/m, area/controller, stage/approved

#1232 cherrypick PWX-33279 : Update windows image's tags
  deploy/crds/core_v1_storagecluster_crd.yaml
  drivers/storage/portworx/component/windows.go
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/testspec/px-csi-node-win.yaml
  drivers/storage/portworx/util/csi_generator.go
  pkg/apis/core/v1/storagecluster.go
  pkg/migration/generate.go
Labels: stage/in-review, area/components, area/specs, area/manifest, area/portworx

#1233 PWX-32580: Do not create pre-flight storage node objects for nodes wh…
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
Labels: stage/in-review, area/controller

#1226 PWX-30455: mounts override fix
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
  pkg/migration/generate.go
Labels: stage/in-review, area/portworx, size/m, stage/approved
