Repository libopenstorage/operator, pull requests merged in 2023-11, with the labels that each got.

#1322 PTX-20914 change min operator version for dynamic plugin validation
  pkg/util/test/util.go
Labels: stage/in-review, size/xs, stage/approved

#1324 PWX-34916: changed the default log level for autopilot from debug to info
  drivers/storage/portworx/component/autopilot.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/testspec/autopilotDeployment.yaml
Labels: stage/in-review, area/components, area/portworx, size/xs, stage/approved

#1326 Updating CSV to use 23.10.0 released image
  deploy/olm-catalog/portworx/23.10.0/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/23.10.0/core_v1_storagenode_crd.yaml
  deploy/olm-catalog/portworx/23.10.0/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs

#1305 PWX-25339: prevents portworx update if kvdb can go out of qorum
  Makefile
  api/px/api.pb.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/util/util.go
  drivers/storage/storage.go
  go.mod
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/update.go
  pkg/mock/portworxsdk.mock.go
  pkg/mock/sdkserver.go
  pkg/mock/storagedriver.mock.go
Labels: stage/in-review, area/portworx, size/xl, area/controller, stage/approved

#1316 PWX-34145: Exposing Portworx struct
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/status.go
  drivers/storage/portworx/uninstall.go
  drivers/storage/portworx/util/util.go
Labels: stage/in-review, area/portworx, size/m, stage/approved

#1329 Setup 23.12.0 branch
  .travis.yml
  Makefile
  deploy/olm-catalog/portworx/23.12.0/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/23.12.0/core_v1_storagenode_crd.yaml
  deploy/olm-catalog/portworx/23.12.0/portworx-certified.clusterserviceversion.yaml
  deploy/olm-catalog/portworx/portworx.package.yaml
Labels: stage/in-review, area/specs

#1323 PWX-22131, PWX-34256 -pt3: oci-mon node-wiper
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/manifest/manifest_test.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/testspec/nodeWiper.yaml
  drivers/storage/portworx/testspec/nodeWiperPKS.yaml
  drivers/storage/portworx/testspec/nodeWiperWithWipe.yaml
  drivers/storage/portworx/uninstall.go
Labels: stage/in-review, size/s, area/manifest, area/portworx, stage/in-review-stale, stage/approved

#1328 PWX-34909: PKS PX host mounts are in /var/vcap. Uploader pod spec n…
  drivers/storage/portworx/component/telemetry.go
Labels: stage/in-review, area/components, size/s, stage/approved

#1330 PWX-22131, PWX-34256 -pt3 (23.12.0): oci-mon node-wiper (#1323)
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/manifest/manifest_test.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/testspec/nodeWiper.yaml
  drivers/storage/portworx/testspec/nodeWiperPKS.yaml
  drivers/storage/portworx/testspec/nodeWiperWithWipe.yaml
  drivers/storage/portworx/uninstall.go
Labels: area/manifest, area/portworx

#1331 PWX-34909: PKS PX host mounts are in /var/vcap. Uploader pod spec n…
  drivers/storage/portworx/component/telemetry.go
Labels: stage/in-review, area/components

#1332 PWX-33232: Save logging from pre-flight pod for diagnostics.
  drivers/storage/portworx/preflight.go
Labels: stage/in-review, area/portworx, size/xs, stage/approved

#1335 Setup 23.10.1 branch
  .travis.yml
  Makefile
  deploy/olm-catalog/portworx/23.10.1/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/23.10.1/core_v1_storagenode_crd.yaml
  deploy/olm-catalog/portworx/23.10.1/portworx-certified.clusterserviceversion.yaml
  deploy/olm-catalog/portworx/portworx.package.yaml
Labels: stage/in-review, area/specs

#1339 PWX-35067 Don't set the cloud provider from preflight provider name
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/util/util.go
Labels: stage/in-review, size/s, area/portworx

#1327 Updating CSV to use 23.10.0 released image
  deploy/olm-catalog/portworx/23.10.0/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/23.10.0/core_v1_storagenode_crd.yaml
  deploy/olm-catalog/portworx/23.10.0/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, size/s, area/specs, stage/in-review-stale, stage/approved

#1336 PWX-34634: Upgrade build to golang-1.21
  .travis.yml
  Makefile
  go.mod
  test/integration_test/Dockerfile
Labels: stage/in-review, size/xs, area/integration-test, stage/approved

#1340 PWX-34634 (23.12.0): Upgrade build to golang-1.21 (#1336)
  .travis.yml
  Makefile
  go.mod
  test/integration_test/Dockerfile
Labels: area/integration-test

#1333 PWX-33232: Save logging from pre-flight pod for diagnostics. (#1332)
  drivers/storage/portworx/preflight.go
Labels: stage/in-review, area/portworx, stage/in-review-stale

#1337 PWX-35044: Upgrade base-container to UBI-9
  Makefile
  README.md
  build/Dockerfile
Labels: stage/in-review, size/s, area/build, stage/approved

#1342 Fixing Makefile/CSV to advance "previous build"
  Makefile
  deploy/olm-catalog/portworx/23.12.0/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs

#1344 PWX-35044 (23.12.0): Upgrade base-container to UBI-9 (#1337)
  Makefile
  build/Dockerfile
Labels: area/build

#1345 Integration-test image build fix
  test/integration_test/Dockerfile
Labels: stage/in-review, size/s, area/integration-test, stage/approved

#1346 Integration test build fix (23.12.0 cherry-pick) (#1345)
  test/integration_test/Dockerfile
Labels: size/s, area/integration-test

#1347 PWX-34411 Allow overriding the min available value of px-storage PDB
  drivers/storage/portworx/component/disruption_budget.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/util/util.go
Labels: stage/in-review, area/components, size/s, area/portworx

#1351 Updating CSV to use 23.10.1 released image
  deploy/olm-catalog/portworx/23.10.1/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs

#1350 Modifying UTs for docs change in PWX-35016
  drivers/storage/portworx/testspec/prometheusRule.yaml
Labels: stage/in-review, size/xs, stage/approved

#1348 Setup 23.10.2 branch (rename from 23.12.0)
  .travis.yml
  Makefile
  deploy/olm-catalog/portworx/23.10.1/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/23.10.1/core_v1_storagenode_crd.yaml
  deploy/olm-catalog/portworx/23.10.1/portworx-certified.clusterserviceversion.yaml
  deploy/olm-catalog/portworx/23.10.2/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/23.10.2/core_v1_storagenode_crd.yaml
  deploy/olm-catalog/portworx/23.10.2/portworx-certified.clusterserviceversion.yaml
  deploy/olm-catalog/portworx/portworx.package.yaml
Labels: stage/in-review, area/specs

#1353 Modifying UTs for docs change in PWX-35016
  drivers/storage/portworx/testspec/prometheusRule.yaml
Labels: stage/in-review

#1352 PTX-21234: Fix incorrect validation for csi-node-driver-registrar inside portworx-api pods instead of oci-mon pods for older operators
  pkg/util/test/util.go
Labels: stage/in-review, size/m, stage/approved

#1357 PWX-32111: Disable security when running pre-flight.
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/preflight.go
Labels: stage/in-review, size/s, area/portworx, stage/approved
