Repository libopenstorage/operator, pull requests merged in 2023-10, with the labels that each got.

#1277 PWX-34085: Add correct default metadata device (size=64) when pre-fli…
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/preflight.go
Labels: stage/in-review, area/portworx, size/xs, stage/approved

#1278 PWX-33990: Test for deployment selector labels instead of template
  pkg/util/test/util.go
Labels: stage/in-review, size/xs

#1279 PWX-31915: kvdb-api pod extended cleanup
  pkg/controller/storagenode/storagenode.go
  pkg/controller/storagenode/storagenode_test.go
Labels: stage/in-review, size/xs, area/controller, stage/approved

#1283 [cherry-pick] PWX-31708: add extra permissions for events (#1067)
  drivers/storage/portworx/component/autopilot.go
  drivers/storage/portworx/component/csi.go
  drivers/storage/portworx/component/portworx_basic.go
  drivers/storage/portworx/component/pvccontroller.go
  drivers/storage/portworx/preflight.go
  drivers/storage/portworx/testspec/autopilotClusterRole.yaml
  drivers/storage/portworx/testspec/autopilotClusterRole_k8s_1.24.yaml
  drivers/storage/portworx/testspec/csiClusterRole_k8s_1.11.yaml
  drivers/storage/portworx/testspec/csiClusterRole_k8s_1.13.yaml
  drivers/storage/portworx/testspec/csiClusterRole_k8s_1.14.yaml
  drivers/storage/portworx/testspec/csiClusterRole_nonPrivileged.yaml
  drivers/storage/portworx/testspec/portworxClusterRole.yaml
  drivers/storage/portworx/testspec/pvcControllerClusterRole.yaml
  drivers/storage/portworx/testspec/pvcControllerClusterRole_nonPrivileged.yaml
  pkg/controller/storagecluster/stork.go
  pkg/controller/storagecluster/testspec/storkSchedClusterRole.yaml
Labels: stage/in-review, area/components, area/portworx, area/controller

#1280 PWX-31025_px-23.10.0: Migration status fixes
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/status.go
  pkg/constants/migration.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/migration/backup.go
  pkg/migration/migration.go
  pkg/migration/migration_test.go
  pkg/util/k8s/k8s.go
Labels: stage/in-review, area/portworx, area/controller

#1285 PWX-33374:Set Security context for OCP before pre-flight is launched.…
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
Labels: stage/in-review, area/portworx

#1286 [Cherrypick PWX-28655] Add Portworx Install and Update conditions to StorageCluster status
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/status.go
  drivers/storage/portworx/status_test.go
  drivers/storage/storage.go
  pkg/apis/core/v1/storagecluster.go
  pkg/apis/core/v1/storagenode.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/controller/storagecluster/update.go
  pkg/controller/storagenode/storagenode.go
  pkg/mock/storagedriver.mock.go
  pkg/util/util.go
  pkg/util/util_test.go
Labels: stage/in-review, area/portworx, area/controller

#1284 PWX-32670: Vsphere preflight should not run on PKS
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/preflight/pks.go
  pkg/preflight/preflight.go
  pkg/preflight/preflight_test.go
  pkg/preflight/utils.go
Labels: stage/in-review, size/m, area/controller, stage/approved

#1281 PWX-34238 & PWX-31068 - Add gce/azure/vsphere cloud provider checks add to PX param.
  drivers/storage/portworx/component/security.go
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/util/util.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/mock/preflight.mock.go
  pkg/preflight/aws.go
  pkg/preflight/gce.go
  pkg/preflight/preflight.go
  pkg/preflight/preflight_test.go
  pkg/preflight/utils.go
  pkg/util/k8s/pod.go
Labels: stage/in-review, area/components, area/portworx, area/controller

#1287 PWX-34254: update portworx clusterRole with permissions for kubevirt
  drivers/storage/portworx/component/portworx_basic.go
  drivers/storage/portworx/testspec/portworxClusterRole.yaml
Labels: stage/in-review, area/components, size/s, stage/approved

#1290 PWX-32670: Vsphere preflight should not run on PKS (#1284)
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/preflight/pks.go
  pkg/preflight/preflight.go
  pkg/preflight/preflight_test.go
  pkg/preflight/utils.go
Labels: stage/in-review, area/controller

#1288 PWX-32885: Don't run preflight on Vsphere if install mode is 'local'.
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/util/util.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/preflight/utils.go
Labels: stage/in-review, area/portworx, area/controller, stage/approved, size/l

#1292 [Cherrypick] Fix storage cluster status issues
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/controller/storagecluster/update.go
  pkg/controller/storagenode/storagenode.go
  pkg/util/k8s/k8s.go
  pkg/util/util.go
Labels: stage/in-review, area/controller

#1272 Adding `make tools-check` to check linter-tools
  Makefile
Labels: stage/in-review, size/s, stage/in-review-stale, stage/approved

#1294 PWX-34098: Pxstore-v2 preflight should run on azure & >= PX 3.1.0
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/preflight.go
  pkg/preflight/utils.go
Labels: stage/in-review, area/portworx, size/m, stage/approved

#1275 PWX-32229: added validate for storage and cloudstorage spec
  drivers/storage/portworx/portworx.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
Labels: stage/in-review, area/portworx, area/controller, stage/approved, size/l

#1295 PWX-32531 & PWX-33218: Enable pxstore-v2 pre-flight for Vsphere.
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/preflight.go
  drivers/storage/portworx/util/util.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/preflight/utils.go
Labels: stage/in-review, area/portworx, area/controller

#1293 PWX-31638: Removed explicit handling of stateful sets by Portworx operator
  drivers/storage/portworx/component/csi.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/testspec/csiDeploymentNonPriv.yaml
  drivers/storage/portworx/util/csi_generator.go
Labels: stage/in-review, area/components, area/portworx, size/xl, stage/approved

#1299 PWX-34393: Updating baseline image
  Makefile
  build/Dockerfile
Labels: stage/in-review, size/s, area/build, stage/approved

#1300 PWX-34393 (23.10.0): Updating baseline image (#1299)
  Makefile
  build/Dockerfile
Labels: area/build

#1302 PWX-34381 Prevent creating multiple kvdb pods on same node
  pkg/controller/storagenode/storagenode.go
Labels: stage/in-review, size/s, area/controller

#1303 PWX-34391: fix concurrent map panic
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/controller/storagecluster/stork_test.go
  pkg/controller/storagenode/storagenode.go
  pkg/controller/storagenode/storagenode_test.go
  pkg/util/k8s/node.go
  pkg/util/k8s/node_test.go
  pkg/util/maps/syncmap.go
  pkg/util/maps/syncmap_test.go
Labels: stage/in-review, area/controller

#1304 Extracting GetStorageNodes as a utility function
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/util/util.go
  test/integration_test/basic_test.go
Labels: stage/in-review, size/s, area/portworx, area/integration-test, stage/approved

#1306 PWX-34391 (master): fix concurrent map panic (#1303)
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/controller/storagecluster/stork_test.go
  pkg/controller/storagenode/storagenode.go
  pkg/controller/storagenode/storagenode_test.go
  pkg/util/k8s/node.go
  pkg/util/k8s/node_test.go
  pkg/util/maps/syncmap.go
  pkg/util/maps/syncmap_test.go
Labels: size/m, area/controller

#1308 PWX-34203: Adding Azure support
  pkg/util/test/util.go
  test/integration_test/basic_dmthin_test.go
  test/integration_test/cloud_provider/cloud_drive.go
  test/integration_test/cloud_provider/vsphere.go
  test/integration_test/utils/storagecluster.go
Labels: stage/in-review, area/integration-test, stage/approved, size/l

#1309 PTX-20774 Fix external KVDB validation
  pkg/util/test/util.go
Labels: stage/in-review, size/s, stage/approved

#1312 PTX-20173 Add retry when updating StorageCluster
  test/integration_test/utils/storagecluster.go
Labels: stage/in-review, size/m, area/integration-test, stage/approved

#1311 PWX-34185 preflight check for gce
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/preflight.go
  pkg/preflight/utils.go
Labels: stage/in-review, area/portworx, size/m, stage/approved

#1313 PWX-34650: allow autopilot to watch pvc
  drivers/storage/portworx/component/autopilot.go
  drivers/storage/portworx/testspec/autopilotClusterRole.yaml
  drivers/storage/portworx/testspec/autopilotClusterRole_k8s_1.24.yaml
Labels: stage/in-review, area/components, size/xs, stage/approved

#1314 PWX-34650: allow autopilot to watch pvc (#1313)
  drivers/storage/portworx/component/autopilot.go
  drivers/storage/portworx/testspec/autopilotClusterRole.yaml
  drivers/storage/portworx/testspec/autopilotClusterRole_k8s_1.24.yaml
Labels: stage/in-review, area/components

#1315 PWX-34798: allow autopilot to watch configmap
  drivers/storage/portworx/component/autopilot.go
  drivers/storage/portworx/testspec/autopilotClusterRole.yaml
  drivers/storage/portworx/testspec/autopilotClusterRole_k8s_1.24.yaml
Labels: stage/in-review, area/components, size/xs, stage/approved

#1317 PWX-34798: allow autopilot to watch configmap (#1315)
  drivers/storage/portworx/component/autopilot.go
  drivers/storage/portworx/testspec/autopilotClusterRole.yaml
  drivers/storage/portworx/testspec/autopilotClusterRole_k8s_1.24.yaml
Labels: stage/in-review, area/components

#1319 PWX-34824: updating default images
  drivers/storage/portworx/manifest/manifest.go
Labels: stage/in-review, size/s, area/manifest, stage/approved

#1320 PWX-34824 (23.10.0): updating default images (#1319)
  drivers/storage/portworx/manifest/manifest.go
Labels: area/manifest

#1318 PWX-34796: added scc and vol mnt
  drivers/storage/portworx/component/autopilot.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/testspec/autopilotClusterRole.yaml
  drivers/storage/portworx/testspec/autopilotClusterRole_k8s_1.24.yaml
  drivers/storage/portworx/testspec/autopilotDeployment.yaml
Labels: stage/in-review, area/components, size/s, area/portworx, stage/approved

#1321 PWX-34796: added scc and vol mnt for autopilot(#1318)
  drivers/storage/portworx/component/autopilot.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/testspec/autopilotClusterRole.yaml
  drivers/storage/portworx/testspec/autopilotClusterRole_k8s_1.24.yaml
  drivers/storage/portworx/testspec/autopilotDeployment.yaml
Labels: stage/in-review, area/components, area/portworx
