Repository libopenstorage/operator, pull requests merged in 2023-03, with the labels that each got.

#955 [pwx-29485] update container build tests
  Makefile
  drivers/storage/portworx/components_test.go
Labels: stage/in-review, area/portworx, size/xs

#954 PTX-16142 Change fmt.Printf() to logrus.Infof() in ValidateTelemetry() for PX version
  pkg/util/test/util.go
Labels: stage/in-review, size/xs, stage/approved

#956 [PWX-27168] Add annotation to disable reconciliation of Prometheus alerts
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/register.go
  pkg/util/k8s/k8s.go
  pkg/util/k8s/k8s_test.go
Labels: stage/in-review, size/s

#930 [pwx-28655] Add Portworx Install and Upgrade conditions to StorageCluster status
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/status.go
  drivers/storage/portworx/status_test.go
  drivers/storage/storage.go
  pkg/apis/core/v1/storagecluster.go
  pkg/apis/core/v1/storagenode.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/controller/storagecluster/update.go
  pkg/controller/storagenode/storagenode.go
  pkg/mock/storagedriver.mock.go
  pkg/util/util.go
  pkg/util/util_test.go
Labels: stage/in-review, area/portworx, size/xl, stage/in-review-stale, area/controller

#958 [pwx-26954] Disable telemetry if it's enabled with custom proxy
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/component/telemetry_java.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/manifest/remote.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/util/util.go
  drivers/storage/portworx/util/util_test.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
Labels: stage/in-review, area/components, area/manifest, area/portworx, size/m, area/controller

#959 PTX-15907 Adding validation for dmthin type storage
  pkg/util/test/util.go
Labels: stage/in-review, size/s, stage/approved

#965 Updating CSV to use 1.10.5 released image
  deploy/olm-catalog/portworx/1.10.5/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/1.10.5/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs

#968 Revert "add resources limit/requests to px pods (#865)"
  deploy/crds/core_v1_storagecluster_crd.yaml
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
Labels: stage/in-review, area/specs, area/portworx

#967 [PWX-29531] Fix SecurityContextConstraints to be compatible with open…
  drivers/storage/portworx/component/securitycontextconstraints.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/testspec/portworxSCC.yaml
  drivers/storage/portworx/util/util.go
  pkg/dryrun/dryrun.go
Labels: stage/in-review, area/components, size/s, area/portworx

#969 [Cherry-pick][PWX-29531] Fix portworx SecurityContextConstraints to be compatible …
  drivers/storage/portworx/component/securitycontextconstraints.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/testspec/portworxSCC.yaml
  drivers/storage/portworx/util/util.go
  pkg/dryrun/dryrun.go
Labels: stage/in-review, area/components, area/portworx

#966 Updating CSV to use 1.10.5 released image
  deploy/olm-catalog/portworx/1.10.5/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/1.10.5/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, size/s, area/specs, stage/approved

#970 change base registry image to 1.10.5
  Makefile
Labels: stage/in-review

#971 change base registry image to 1.10.5
  Makefile
Labels: stage/in-review, size/xs

#974 [pwx-29114] Update default release manifest images
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/manifest/manifest_test.go
Labels: stage/in-review, size/s, area/manifest

#975 [pwx-29114] Update default release manifest images
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/manifest/manifest_test.go
Labels: stage/in-review, area/manifest

#976 PWX-29565 set default scc priority to nil to unblock ocp 4.12 upgrade…
  drivers/storage/portworx/component/securitycontextconstraints.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/testspec/portworxSCC.yaml
  drivers/storage/portworx/util/util.go
Labels: stage/in-review, area/components, size/s, area/portworx

#979 [pwx-29757] Update phonehome envoy proxy config
  deploy/ccm/envoy-config-rest-custom-proxy.yaml
  drivers/storage/portworx/testspec/ccmGoPhonehomeProxyConfigMap_proxy.yaml
Labels: stage/in-review, area/specs

#978 [pwx-29757] Update phonehome envoy proxy config
  deploy/ccm/envoy-config-rest-custom-proxy.yaml
  drivers/storage/portworx/testspec/ccmGoPhonehomeProxyConfigMap_proxy.yaml
Labels: stage/in-review, area/specs, size/xs

#982 PWX-26175-r2: Fixing license extension tests
  test/integration_test/bluegreen_test.go
Labels: stage/in-review, size/s, area/integration-test, stage/approved

#980 [cherry-pick] PWX-29565 set default scc priority to nil to unblock ocp 4.12 upgrade…
  drivers/storage/portworx/component/securitycontextconstraints.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/testspec/portworxSCC.yaml
  drivers/storage/portworx/util/util.go
Labels: stage/in-review, area/components, area/portworx

#977 Fix SCC update
  drivers/storage/portworx/component/securitycontextconstraints.go
Labels: stage/in-review, area/components, size/s

#984 [cherry-pick] Fix SCC update (#977)
  drivers/storage/portworx/component/securitycontextconstraints.go
Labels: stage/in-review, area/components

#985 Updating CSV to use 23.3.0 released image
  deploy/olm-catalog/portworx/23.3.0/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/23.3.0/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs

#986 Updating CSV to use 23.3.0 released image
  deploy/olm-catalog/portworx/23.3.0/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/23.3.0/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs, size/m, stage/approved

#989 PTX-16387 Fixing Telemetry race condition and behavior
  test/integration_test/basic_test.go
Labels: stage/in-review, size/s, area/integration-test, stage/approved

#992 PWX-29973 Add check result to StorageNode CRD
  deploy/crds/core_v1_storagenode_crd.yaml
  pkg/apis/core/v1/storagenode.go
  pkg/apis/core/v1/zz_generated.deepcopy.go
Labels: stage/in-review, size/s, area/specs, stage/approved

#994 [pwx-29961] Fix 23.4.0 build
  Makefile
  deploy/olm-catalog/portworx/portworx.package.yaml
Labels: stage/in-review, area/specs

#988 Add portworx-restricted scc
  drivers/storage/portworx/component/csi.go
  drivers/storage/portworx/component/lighthouse.go
  drivers/storage/portworx/component/pvccontroller.go
  drivers/storage/portworx/component/securitycontextconstraints.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/testspec/csiClusterRole_k8s_1.11.yaml
  drivers/storage/portworx/testspec/csiClusterRole_k8s_1.13.yaml
  drivers/storage/portworx/testspec/csiClusterRole_k8s_1.14.yaml
  drivers/storage/portworx/testspec/lighthouseClusterRole.yaml
  drivers/storage/portworx/testspec/portworxRestrictedSCC.yaml
  drivers/storage/portworx/testspec/portworxSCC.yaml
  drivers/storage/portworx/testspec/pvcControllerClusterRole.yaml
Labels: stage/in-review, area/components, area/portworx, size/m

#996 [cherry-pick][PWX-24897] Allow Prometheus customization of replicas,r…
  deploy/crds/core_v1_storagecluster_crd.yaml
  drivers/storage/portworx/component/prometheus.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/testspec/prometheusInstance.yaml
  drivers/storage/portworx/testspec/prometheusInstanceWithAlertManager.yaml
  drivers/storage/portworx/testspec/prometheusInstanceWithRemoteWriteEndpoint.yaml
  drivers/storage/portworx/testspec/prometheusOperatorDeployment.yaml
  drivers/storage/portworx/testspec/prometheusOperatorDeployment_v0.50.0.yaml
  pkg/apis/core/v1/storagecluster.go
  pkg/apis/core/v1/zz_generated.deepcopy.go
Labels: stage/in-review, area/components, area/specs, area/portworx

#997 [cherry-pick][PWX-27168] Add annotation to disable reconciliation of …
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/register.go
  pkg/util/k8s/k8s.go
  pkg/util/k8s/k8s_test.go
Labels: stage/in-review

#999 [23.4.0][pwx-30005] Do Pure1 connectivity check when telemetry secret is not created
  drivers/storage/portworx/alert_manager_component_test.go
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/util/util.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/util/util.go
Labels: stage/in-review, area/components, area/portworx, area/controller

#1002 Updating CSV to use 23.3.1 released image
  deploy/olm-catalog/portworx/23.3.1/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs

#1003 Updating CSV to use 23.3.1 released image
  deploy/olm-catalog/portworx/23.3.1/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs, size/xs, stage/approved

#1005 [master] Update for 23.3.1 release
  Makefile
  deploy/olm-catalog/portworx/23.4.0/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs, size/xs
