Repository libopenstorage/operator, pull requests merged in 2023-06, with the labels that each got.

#1059 PWX-31488 & PWX-31501: Crashloop backoff pods remained after, specify…
  drivers/storage/portworx/portworx.go
Labels: stage/in-review, area/portworx

#1060 PWX-29743 Add a go client for the PortworxDiag object
  hack/update-codegen.sh
  pkg/apis/portworx/v1/portworxdiag.go
  pkg/client/clientset/versioned/clientset.go
  pkg/client/clientset/versioned/fake/clientset_generated.go
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/register.go
  pkg/client/clientset/versioned/typed/portworx/v1/doc.go
  pkg/client/clientset/versioned/typed/portworx/v1/fake/doc.go
  pkg/client/clientset/versioned/typed/portworx/v1/fake/fake_portworx_client.go
  pkg/client/clientset/versioned/typed/portworx/v1/fake/fake_portworxdiag.go
  pkg/client/clientset/versioned/typed/portworx/v1/generated_expansion.go
  pkg/client/clientset/versioned/typed/portworx/v1/portworx_client.go
  pkg/client/clientset/versioned/typed/portworx/v1/portworxdiag.go
  pkg/client/informers/externalversions/factory.go
  pkg/client/informers/externalversions/generic.go
  pkg/client/informers/externalversions/portworx/interface.go
  pkg/client/informers/externalversions/portworx/v1/interface.go
  pkg/client/informers/externalversions/portworx/v1/portworxdiag.go
  pkg/client/listers/portworx/v1/expansion_generated.go
  pkg/client/listers/portworx/v1/portworxdiag.go
Labels: stage/in-review, size/l

#1061 PWX-30943: removed the memory limit for prometheus
  drivers/storage/portworx/component/prometheus.go
  drivers/storage/portworx/testspec/prometheusInstance.yaml
  drivers/storage/portworx/testspec/prometheusInstanceWithAlertManager.yaml
  drivers/storage/portworx/testspec/prometheusInstanceWithRemoteWriteEndpoint.yaml
Labels: stage/in-review, area/components, area/portworx, size/xs, stage/approved

#1063 PWX-30943: remove prometheus memory limit
  drivers/storage/portworx/component/prometheus.go
  drivers/storage/portworx/testspec/prometheusInstance.yaml
  drivers/storage/portworx/testspec/prometheusInstanceWithAlertManager.yaml
  drivers/storage/portworx/testspec/prometheusInstanceWithRemoteWriteEndpoint.yaml
Labels: stage/in-review, area/components

#1064 PWX-31585: added new certStoreType kv pair to accommodate changes in latest ccm-go
  deploy/ccm/config_properties_px.yaml
  drivers/storage/portworx/testspec/ccmGoRegisterConfigMap.yaml
Labels: stage/in-review, area/specs, size/xs, stage/approved

#1066 PWX-31585: added new certStoreType kv pair to accommodate changes in latest ccm-go image
  deploy/ccm/config_properties_px.yaml
  drivers/storage/portworx/testspec/ccmGoRegisterConfigMap.yaml
Labels: stage/in-review, area/specs

#1062 PWX-31551: CSI privileged fix
  drivers/storage/portworx/component/csi.go
  drivers/storage/portworx/testspec/csiDeploymentAlphaDisabledK8s_1_14.yaml
  drivers/storage/portworx/testspec/csiDeploymentAlphaDisabledK8s_1_16.yaml
  drivers/storage/portworx/testspec/csiDeploymentWithPKS.yaml
  drivers/storage/portworx/testspec/csiDeploymentWithResizerAndOldDriver_1.0.yaml
  drivers/storage/portworx/testspec/csiDeploymentWithResizer_1.0.yaml
  drivers/storage/portworx/testspec/csiDeploymentWithResizer_1_17.yaml
  drivers/storage/portworx/testspec/csiDeployment_1.0.yaml
  drivers/storage/portworx/testspec/csiDeployment_1.0_k8s116.yaml
  drivers/storage/portworx/testspec/csiDeployment_1.0_k8s120.yaml
  drivers/storage/portworx/testspec/csiDeployment_1.0_k8s120_with_topology.yaml
  drivers/storage/portworx/testspec/csiDeployment_1.0_k8s120_without_snapcontroller.yaml
  drivers/storage/portworx/testspec/csiDeployment_1.0_k8s123.yaml
  drivers/storage/portworx/testspec/csiStatefulSet_0.3.yaml
Labels: stage/in-review, area/components, size/s, stage/approved

#1069 Dynamic Plugin pod fails with CreateContainerConfigError if deployed
  deploy/plugin/plugin-configmap.yaml
  drivers/storage/portworx/testspec/plugin-configmap.yaml
Labels: stage/in-review, area/specs

#1068 Dynamic Plugin pod fails with CreateContainerConfigError if deployed in kube-system
  deploy/plugin/plugin-configmap.yaml
  drivers/storage/portworx/testspec/plugin-configmap.yaml
Labels: stage/in-review, area/specs, size/xs, stage/approved

#1071 PWX-31739: Pre-flight should only run with PX version 3.0 and above.
  pkg/controller/storagecluster/storagecluster.go
Labels: stage/in-review, size/xs, area/controller, stage/approved

#1072 PWX-31739: Pre-flight should only run with PX version 3.0 and above.
  pkg/controller/storagecluster/storagecluster.go
Labels: stage/in-review, area/controller

#1073 PWX-31739: Lower case error message.
  pkg/controller/storagecluster/storagecluster.go
Labels: stage/in-review, area/controller

#1067 PWX-31708: add extra permissions for events
  drivers/storage/portworx/component/autopilot.go
  drivers/storage/portworx/component/csi.go
  drivers/storage/portworx/component/portworx_basic.go
  drivers/storage/portworx/component/pvccontroller.go
  drivers/storage/portworx/preflight.go
  drivers/storage/portworx/testspec/autopilotClusterRole.yaml
  drivers/storage/portworx/testspec/autopilotClusterRole_k8s_1.24.yaml
  drivers/storage/portworx/testspec/csiClusterRole_k8s_1.11.yaml
  drivers/storage/portworx/testspec/csiClusterRole_k8s_1.13.yaml
  drivers/storage/portworx/testspec/csiClusterRole_k8s_1.14.yaml
  drivers/storage/portworx/testspec/portworxClusterRole.yaml
  drivers/storage/portworx/testspec/pvcControllerClusterRole.yaml
  pkg/controller/storagecluster/stork.go
  pkg/controller/storagecluster/testspec/storkSchedClusterRole.yaml
Labels: stage/in-review, area/components, size/s, area/portworx, stage/in-review-stale, area/controller, stage/approved

#1075 Updating CSV to use 23.5.0 released image
  deploy/olm-catalog/portworx/23.5.0/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/23.5.0/core_v1_storagenode_crd.yaml
  deploy/olm-catalog/portworx/23.5.0/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs

#1077 Adding relatedImages into clusterserviceversion
  deploy/olm-catalog/portworx/23.5.0/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs, size/xs, stage/approved

#1076 Updating CSV to use 23.5.0 released image
  deploy/olm-catalog/portworx/23.5.0/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/23.5.0/core_v1_storagenode_crd.yaml
  deploy/olm-catalog/portworx/23.5.0/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, size/s, area/specs

#1078 Sets up 23.6.0 branch
  .travis.yml
  Makefile
  deploy/olm-catalog/portworx/23.6.0/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/23.6.0/core_v1_storagenode_crd.yaml
  deploy/olm-catalog/portworx/23.6.0/portworx-certified.clusterserviceversion.yaml
  deploy/olm-catalog/portworx/portworx.package.yaml
Labels: stage/in-review, area/specs

#1074 PWX-29398,PWX-30227: fix panic when GetZoneMap() returns empty zones
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
Labels: stage/in-review, size/s, area/portworx, stage/in-review-stale, stage/approved

#1065 PWX-30520: Upgrading JWT package
  drivers/storage/portworx/component/auth.go
  drivers/storage/portworx/components_test.go
  go.mod
  vendor/github.com/dgrijalva/jwt-go/.gitignore
  vendor/github.com/dgrijalva/jwt-go/.travis.yml
  vendor/github.com/dgrijalva/jwt-go/LICENSE
  vendor/github.com/dgrijalva/jwt-go/MIGRATION_GUIDE.md
  vendor/github.com/dgrijalva/jwt-go/README.md
  vendor/github.com/dgrijalva/jwt-go/VERSION_HISTORY.md
  vendor/github.com/dgrijalva/jwt-go/claims.go
  vendor/github.com/dgrijalva/jwt-go/doc.go
  vendor/github.com/dgrijalva/jwt-go/ecdsa.go
  vendor/github.com/dgrijalva/jwt-go/ecdsa_utils.go
  vendor/github.com/dgrijalva/jwt-go/errors.go
  vendor/github.com/dgrijalva/jwt-go/hmac.go
  vendor/github.com/dgrijalva/jwt-go/map_claims.go
  vendor/github.com/dgrijalva/jwt-go/none.go
  vendor/github.com/dgrijalva/jwt-go/parser.go
  vendor/github.com/dgrijalva/jwt-go/rsa.go
  vendor/github.com/dgrijalva/jwt-go/rsa_pss.go
  vendor/github.com/dgrijalva/jwt-go/rsa_utils.go
  vendor/github.com/dgrijalva/jwt-go/signing_method.go
  vendor/github.com/dgrijalva/jwt-go/token.go
  vendor/modules.txt
Labels: stage/in-review, area/components, area/portworx, size/xl, stage/in-review-stale, area/vendor, stage/approved

#1083 Setup 23.5.1 branch
  .travis.yml
  Makefile
  deploy/olm-catalog/portworx/23.5.1/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/23.5.1/core_v1_storagenode_crd.yaml
  deploy/olm-catalog/portworx/23.5.1/portworx-certified.clusterserviceversion.yaml
  deploy/olm-catalog/portworx/portworx.package.yaml
Labels: stage/in-review, area/specs

#1084 Pwx 31931 preflight on fresh install only
  pkg/controller/storagecluster/storagecluster.go
Labels: stage/in-review, area/controller

#1086 PWX-31634: Fix image override for portworx-kvdb
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
Labels: stage/in-review, size/s, area/portworx, stage/approved

#1085 Pwx 31931 preflight on fresh install only (#1084)
  pkg/controller/storagecluster/storagecluster.go
Labels: stage/in-review, size/s, area/controller, stage/approved

#1081 PWX-31842: PKS mounts-leak fix
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/testspec/pks.yaml
  drivers/storage/portworx/testspec/pks_2.9.1.yaml
  drivers/storage/portworx/testspec/px_pks_with_csi.yaml
  pkg/migration/generate.go
Labels: stage/in-review, size/s, area/portworx, stage/approved

#1093 PWX-31959: Don't pass in '-T dmthin' use '-T PX-StoreV2'.
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/preflight.go
  pkg/util/test/util.go
Labels: stage/in-review, size/s, area/portworx, stage/approved

#1094 PWX-31959: Don't pass in '-T dmthin' use '-T PX-StoreV2'.
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/preflight.go
Labels: stage/in-review, area/portworx

#1088 PWX-31672: Recognize vSphere provider
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/util/util.go
  pkg/mock/preflight.mock.go
  pkg/preflight/preflight.go
  pkg/preflight/utils.go
Labels: stage/in-review, area/portworx, size/m, area/controller, stage/approved

#1097 PWX-31969: Use lowercase chars in -T param.
  drivers/storage/portworx/preflight.go
Labels: area/portworx, size/xs, stage/approved

#1095 PWX-31959: Don't pass in '-T dmthin' use '-T PX-StoreV2'.
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/preflight.go
Labels: stage/in-review, area/portworx

#1098 PWX-31969: Use lowercase chars in -T param. (#1097)
  drivers/storage/portworx/preflight.go
Labels: stage/in-review, area/portworx

#1101 PWX-32048: Fixes annotation not being properly added for FACD topology installs
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
Labels: stage/in-review, size/s, area/portworx, stage/approved

#1100 [23.5.1] PWX-32048: Fixes annotation not being properly added for FACD topology installs
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
Labels: stage/in-review, area/portworx

#1103 PWX-32073: Update csi-provisioner operation timeout from 10s to 5m
  drivers/storage/portworx/component/csi.go
Labels: stage/in-review, area/components

#1102 PWX-32073: Update csi-provisioner operation timeout from 10s to 5m
  drivers/storage/portworx/component/csi.go
Labels: area/components

#1099 PWX-32073: Update csi-provisioner operation timeout from 10s to 5m
  drivers/storage/portworx/component/csi.go
Labels: stage/in-review, area/components, size/xs

#1108 PTX-18636 Temporary remove validation of cloudStorage spec
  pkg/util/test/util.go
Labels: stage/in-review, size/xs, stage/approved

#1107 PWX-32096: Only execute pre-flight if running on EKS.
  pkg/preflight/utils.go
Labels: stage/in-review

#1105 PWX-32051: move default ccm port 9029 and create ccm cm before PX start
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/testspec/px_telemetry-with-location.yaml
  drivers/storage/portworx/testspec/px_telemetry.yaml
  drivers/storage/portworx/testspec/px_telemetry_with_proxy.yaml
Labels: stage/in-review, area/components, size/s, area/portworx, stage/approved

#1109 PWX-32051: move default ccm port 9029 and create ccm cm before PX sta…
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/testspec/px_telemetry-with-location.yaml
  drivers/storage/portworx/testspec/px_telemetry.yaml
  drivers/storage/portworx/testspec/px_telemetry_with_proxy.yaml
Labels: stage/in-review, area/components, area/portworx

#1110 PWX-32051: move default ccm port 9029 and create ccm cm before PX sta…
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/testspec/px_telemetry-with-location.yaml
  drivers/storage/portworx/testspec/px_telemetry.yaml
  drivers/storage/portworx/testspec/px_telemetry_with_proxy.yaml
Labels: area/components, area/portworx
