Repository libopenstorage/operator, pull requests merged in 2024-05, with the labels that each got.

#1536 [PWX-37088] Cherry-picking Stork-Config changes
  pkg/controller/storagecluster/stork.go
  pkg/controller/storagecluster/stork_test.go
  pkg/util/k8s/k8s.go
  vendor/k8s.io/kube-scheduler/config/v1/doc.go
  vendor/k8s.io/kube-scheduler/config/v1/register.go
  vendor/k8s.io/kube-scheduler/config/v1/types.go
  vendor/k8s.io/kube-scheduler/config/v1/types_pluginargs.go
  vendor/k8s.io/kube-scheduler/config/v1/zz_generated.deepcopy.go
  vendor/k8s.io/kubernetes/pkg/scheduler/apis/config/v1/conversion.go
  vendor/k8s.io/kubernetes/pkg/scheduler/apis/config/v1/default_plugins.go
  vendor/k8s.io/kubernetes/pkg/scheduler/apis/config/v1/defaults.go
  vendor/k8s.io/kubernetes/pkg/scheduler/apis/config/v1/doc.go
  vendor/k8s.io/kubernetes/pkg/scheduler/apis/config/v1/register.go
  vendor/k8s.io/kubernetes/pkg/scheduler/apis/config/v1/zz_generated.conversion.go
  vendor/k8s.io/kubernetes/pkg/scheduler/apis/config/v1/zz_generated.deepcopy.go
  vendor/k8s.io/kubernetes/pkg/scheduler/apis/config/v1/zz_generated.defaults.go
  vendor/modules.txt
Labels: stage/in-review, area/controller, area/vendor

#1540 [cherrypick] [24.1.0] PWX-37153 : Skip security check while fetching KVDB members
  drivers/storage/portworx/component/security.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/status.go
  drivers/storage/portworx/status_test.go
  drivers/storage/portworx/util/util.go
Labels: area/components, area/portworx

#1533 PWX-34271: live migrate KubeVirt VMs before deleting the pod during PX rolling update
  Makefile
  go.mod
  go.sum
  pkg/constants/metadata.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/kubevirt.go
  pkg/controller/storagecluster/kubevirt_test.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/controller/storagecluster/update.go
  pkg/controller/storagecluster/util.go
  pkg/mock/kubevirtmanager.mock.go
  pkg/mock/mockcore/core.ops.mock.go
  pkg/mock/mockkubevirtdy/kubevirt-dynamic.ops.mock.go
  pkg/mock/openstoragesdk.mock.go
  pkg/util/test/util.go
  pkg/util/util.go
  vendor/github.com/portworx/sched-ops/k8s/kubevirt-dynamic/datavolume.go
  vendor/github.com/portworx/sched-ops/k8s/kubevirt-dynamic/kubevirt.go
  vendor/github.com/portworx/sched-ops/k8s/kubevirt-dynamic/virtualmachine.go
  vendor/github.com/portworx/sched-ops/k8s/kubevirt-dynamic/virtualmachineinstance.go
  vendor/github.com/portworx/sched-ops/k8s/kubevirt-dynamic/virtualmachineinstancemigration.go
  vendor/modules.txt
Labels: stage/in-review, area/controller, area/vendor

#1539 PWX-37153 : Skip security check while fetching KVDB members
  drivers/storage/portworx/component/auth.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/status.go
  drivers/storage/portworx/status_test.go
  drivers/storage/portworx/util/util.go
  pkg/controller/portworxdiag/portworxdiag.go
Labels: stage/in-review, area/components, size/s, area/portworx, area/controller, stage/approved

#1543 Reverting changes to sigs.k8s.io/cluster-api module to older version …
  cmd/operator/operator.go
  go.mod
  go.sum
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagenode/storagenode_test.go
  pkg/dryrun/dryrun.go
  pkg/util/k8s/node.go
  pkg/util/k8s/node_test.go
  pkg/util/test/util.go
  pkg/util/util_test.go
  vendor/github.com/blang/semver/.travis.yml
  vendor/github.com/blang/semver/LICENSE
  vendor/github.com/blang/semver/README.md
  vendor/github.com/blang/semver/json.go
  vendor/github.com/blang/semver/package.json
  vendor/github.com/blang/semver/range.go
  vendor/github.com/blang/semver/semver.go
  vendor/github.com/blang/semver/sort.go
  vendor/github.com/blang/semver/sql.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cluster-api/api/v1beta1/cluster_phase_types.go
  vendor/sigs.k8s.io/cluster-api/api/v1beta1/cluster_types.go
  vendor/sigs.k8s.io/cluster-api/api/v1beta1/cluster_webhook.go
  vendor/sigs.k8s.io/cluster-api/api/v1beta1/clusterclass_types.go
  vendor/sigs.k8s.io/cluster-api/api/v1beta1/clusterclass_webhook.go
  vendor/sigs.k8s.io/cluster-api/api/v1beta1/common_types.go
  vendor/sigs.k8s.io/cluster-api/api/v1beta1/condition_consts.go
  vendor/sigs.k8s.io/cluster-api/api/v1beta1/condition_types.go
  vendor/sigs.k8s.io/cluster-api/api/v1beta1/conversion.go
  vendor/sigs.k8s.io/cluster-api/api/v1beta1/groupversion_info.go
  vendor/sigs.k8s.io/cluster-api/api/v1beta1/machine_phase_types.go
  vendor/sigs.k8s.io/cluster-api/api/v1beta1/machine_types.go
  vendor/sigs.k8s.io/cluster-api/api/v1beta1/machine_webhook.go
  vendor/sigs.k8s.io/cluster-api/api/v1beta1/machinedeployment_types.go
  vendor/sigs.k8s.io/cluster-api/api/v1beta1/machinedeployment_webhook.go
  vendor/sigs.k8s.io/cluster-api/api/v1beta1/machinehealthcheck_types.go
  vendor/sigs.k8s.io/cluster-api/api/v1beta1/machinehealthcheck_webhook.go
  vendor/sigs.k8s.io/cluster-api/api/v1beta1/machineset_webhook.go
  vendor/sigs.k8s.io/cluster-api/api/v1beta1/zz_generated.deepcopy.go
  vendor/sigs.k8s.io/cluster-api/errors/clusters.go
  vendor/sigs.k8s.io/cluster-api/errors/consts.go
  vendor/sigs.k8s.io/cluster-api/errors/controllers.go
  vendor/sigs.k8s.io/cluster-api/errors/deployer.go
  vendor/sigs.k8s.io/cluster-api/errors/kubeadmcontrolplane.go
  vendor/sigs.k8s.io/cluster-api/errors/machines.go
  vendor/sigs.k8s.io/cluster-api/errors/pointer.go
  vendor/sigs.k8s.io/cluster-api/feature/feature.go
  vendor/sigs.k8s.io/cluster-api/feature/gates.go
  vendor/sigs.k8s.io/cluster-api/pkg/apis/deprecated/v1alpha1/cluster_types.go
  vendor/sigs.k8s.io/cluster-api/pkg/apis/deprecated/v1alpha1/common_types.go
  vendor/sigs.k8s.io/cluster-api/pkg/apis/deprecated/v1alpha1/defaults.go
  vendor/sigs.k8s.io/cluster-api/pkg/apis/deprecated/v1alpha1/doc.go
  vendor/sigs.k8s.io/cluster-api/pkg/apis/deprecated/v1alpha1/machine_types.go
  vendor/sigs.k8s.io/cluster-api/pkg/apis/deprecated/v1alpha1/machineclass_types.go
  vendor/sigs.k8s.io/cluster-api/pkg/apis/deprecated/v1alpha1/machinedeployment_types.go
  vendor/sigs.k8s.io/cluster-api/pkg/apis/deprecated/v1alpha1/machineset_types.go
  vendor/sigs.k8s.io/cluster-api/pkg/apis/deprecated/v1alpha1/register.go
  vendor/sigs.k8s.io/cluster-api/pkg/apis/deprecated/v1alpha1/zz_generated.deepcopy.go
  vendor/sigs.k8s.io/cluster-api/util/version/version.go
Labels: stage/in-review, size/xl, area/controller, area/vendor, stage/approved, area/cmd

#1542 PWX-37204 , PWX- 37178 : Resolving gaps in KVDB fix
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/update.go
Labels: stage/in-review, size/s, area/controller, stage/approved

#1545 [Cherry-pick] - Cp of PWX-37204 and PWX- 37178
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/update.go
Labels: stage/in-review, area/controller

#1544 PWX-34271: pick the pods on unschedulable nodes for update first
  pkg/constants/metadata.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/controller/storagecluster/update.go
  pkg/controller/storagecluster/util.go
Labels: stage/in-review, area/controller

#1546 PWX-37237 : Revert PWX-35377 Update metrics collector version and remove metrics-collector
  deploy/ccm/metrics-collector-deployment.yaml
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/component/telemetry_java.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/testspec/ccmGoCollectorConfigMap.yaml
  drivers/storage/portworx/testspec/metricsCollectorConfigMap.yaml
Labels: stage/in-review, area/components, area/specs, area/manifest, area/portworx

#1548 PWX-37274 : Adding events for setting PDB using annotation
  drivers/storage/portworx/component/disruption_budget.go
  drivers/storage/portworx/components_test.go
  pkg/util/util.go
Labels: stage/in-review, area/components, size/s, area/portworx, stage/approved

#1551 [Cherry-Pick]: Cp PWX-37274
  drivers/storage/portworx/component/disruption_budget.go
  drivers/storage/portworx/components_test.go
  pkg/util/util.go
Labels: area/components, area/portworx

#1554 PTX-23958: Check custom secure port in k3s for pvcController in tests
  pkg/util/test/util.go
Labels: stage/in-review, size/xs, stage/approved

#1552 PWX-37266 : Upgrade should not continue when PDB value is set to 1 and there is already a PX node down
  drivers/storage/portworx/util/util.go
  pkg/controller/storagenode/storagenode.go
  pkg/controller/storagenode/storagenode_test.go
Labels: stage/in-review, size/m, area/controller, stage/approved

#1550 [cherry-pick] [24.1.0] PWX-37266 : Upgrade should not continue when PDB value is set to 1 and there is already a PX node down
  drivers/storage/portworx/util/util.go
  pkg/controller/storagenode/storagenode.go
  pkg/controller/storagenode/storagenode_test.go
Labels: stage/in-review, area/controller

#1555 PWX-37366: Add function to check if k3s deployment or rke2
  drivers/storage/portworx/component/pvccontroller.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/util/util.go
  pkg/util/test/util.go
Labels: stage/in-review, area/components, size/s, area/portworx, stage/approved

#1556 [Cherry-Pick]: [24.1.0] Cherry-pick of PR #1555
  drivers/storage/portworx/component/pvccontroller.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/util/util.go
Labels: area/components, area/portworx

#1508 PWX-36475 : Creating node PDB for parallel upgrades
  drivers/storage/portworx/component/disruption_budget.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/util/util.go
Labels: stage/in-review, area/components, area/portworx, size/m, stage/in-review-stale, stage/approved

#1558 PWX-37466: vendor in the latest sched-ops
  go.mod
  go.sum
  pkg/migration/migration_test.go
  pkg/mock/mockcore/core.ops.mock.go
  vendor/github.com/portworx/sched-ops/k8s/core/core.go
  vendor/github.com/portworx/sched-ops/k8s/core/events.go
  vendor/github.com/portworx/sched-ops/k8s/kubevirt-dynamic/kubevirt.go
  vendor/github.com/portworx/sched-ops/k8s/kubevirt-dynamic/virtualmachineinstance.go
  vendor/github.com/portworx/sched-ops/k8s/kubevirt-dynamic/virtualmachineinstancemigration.go
  vendor/modules.txt
Labels: stage/in-review, area/vendor

#1560 PWX-37480: avoid starting extra live-migraions for the same VM
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/kubevirt.go
  pkg/controller/storagecluster/kubevirt_test.go
  pkg/controller/storagecluster/update.go
  pkg/mock/kubevirtmanager.mock.go
Labels: stage/in-review, area/controller
