Repository libopenstorage/operator, pull requests merged in 2024-04, with the labels that each got.

#1503 PWX-36170: Adding k8s node name as label to all px pods
  pkg/constants/metadata.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
Labels: stage/in-review, size/s, stage/in-review-stale, area/controller, stage/approved

#1511 PTX-19629 Add validation for Telemetry ports
  pkg/util/test/util.go
Labels: stage/in-review, size/m, stage/approved

#1512 Updating CSV to use 23.10.5 released image
  deploy/olm-catalog/portworx/23.10.5/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs

#1510 PWX-36159: Use different port for PVC deployment on k3s
  drivers/storage/portworx/component/pvccontroller.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/util/util.go
Labels: stage/in-review, area/components, area/portworx, size/m, stage/approved

#1515 [cherrypick] [24.1.0] PWX-36159 , PWX-36730 , PWX-36460
  drivers/storage/portworx/component/portworx_basic.go
  drivers/storage/portworx/component/pvccontroller.go
  drivers/storage/portworx/component/securitycontextconstraints.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/testspec/portworxClusterRole.yaml
  drivers/storage/portworx/util/util.go
  pkg/controller/storagecluster/storagecluster.go
Labels: area/components, area/portworx, area/controller

#1504 PTX-16508 Aetos Wrap for Operator Integration Test
  test/integration_test/basic_test.go
  test/integration_test/main_test.go
  test/integration_test/operator-test-pod-template.yaml
  test/integration_test/test-deploy.sh
  test/integration_test/utils/aetos/dashboardutil.go
  test/integration_test/utils/aetos/log.go
  test/integration_test/utils/aetos/restutil.go
  test/integration_test/utils/storagecluster.go
Labels: stage/in-review, size/xl, area/integration-test, area/vendor, stage/approved

#1517 PTX-23278 Change PVC controller validation logic for 24.1.0+
  pkg/util/test/util.go
Labels: stage/in-review, size/s, stage/approved

#1519 Change the previous version in 24.1.0 CSV
  deploy/olm-catalog/portworx/24.1.0/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs

#1513 Updating CSV to use 23.10.5 released image
  deploy/olm-catalog/portworx/23.10.5/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs, size/xs, stage/in-review-stale, stage/approved

#1521 PTX-23346 Fix Telemetry validation command with Security and Debug mode enabled
  pkg/util/test/util.go
Labels: stage/in-review, size/xs, stage/approved

#1522 PTX-23350 validatePxPodsAnnotations for StorageNode should be called when op >= 23.10.0
  pkg/util/test/util.go
Labels: stage/in-review, size/s, stage/approved

#1523 PTX-23460 Fixing Telemetry output validation with PX_LOGLEVEL set to debug
  pkg/util/test/util.go
Labels: stage/in-review, size/xs, stage/approved

#1526 PTX-23508 Ability to pass secrets to PX Operator CatalogSource object
  test/integration_test/utils/marketplace.go
Labels: stage/in-review, size/xs, area/integration-test, stage/approved

#1527 PTX-23488 Add method to specify PX Operator registry image in the CatalogSource
  test/integration_test/main_test.go
  test/integration_test/operator-test-pod-template.yaml
  test/integration_test/test-deploy.sh
  test/integration_test/utils/constants.go
  test/integration_test/utils/marketplace.go
Labels: stage/in-review, size/s, area/integration-test, stage/approved

#1532 PTX-23694 Increase timeout for waiting for InstallPlan when deploying PX Operator via OCP Marketplace
  test/integration_test/utils/marketplace.go
Labels: stage/in-review, size/xs, area/integration-test, stage/approved

#1530 PWX-36838 : Failed to validate PX node after StorageCluster update, Access denied without authentication token
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
Labels: stage/in-review, area/portworx, size/m, stage/approved

#1529 [cherrypick] [24.1.0] PWX-36838 : Failed to validate PX node after StorageCluster update, Access denied without authentication token
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
Labels: area/components, area/portworx
