Repository libopenstorage/operator, pull requests merged in 2024-02, with the labels that each got.

#1412 [Cherrypick] [23.10.3] PWX-35477 : Support Openshift Prometheus for portworx monitoring on OCP 4.14
  Makefile
  cmd/operator/operator.go
  drivers/storage/portworx/component/autopilot.go
  drivers/storage/portworx/component/plugin.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/testspec/autopilot-auth-token-secret.yaml
  drivers/storage/portworx/testspec/autopilotDeployment_Openshift_4_14.yaml
  drivers/storage/portworx/util/util.go
  pkg/util/test/util.go
  vendor/github.com/openshift/api/route/v1/Makefile
  vendor/github.com/openshift/api/route/v1/doc.go
  vendor/github.com/openshift/api/route/v1/generated.pb.go
  vendor/github.com/openshift/api/route/v1/generated.proto
  vendor/github.com/openshift/api/route/v1/legacy.go
  vendor/github.com/openshift/api/route/v1/register.go
  vendor/github.com/openshift/api/route/v1/route.crd.yaml
  vendor/github.com/openshift/api/route/v1/route.crd.yaml-patch
  vendor/github.com/openshift/api/route/v1/stable.route.testsuite.yaml
  vendor/github.com/openshift/api/route/v1/test-route-validation.sh
  vendor/github.com/openshift/api/route/v1/types.go
  vendor/github.com/openshift/api/route/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/route/v1/zz_generated.swagger_doc_generated.go
  vendor/modules.txt
Labels: stage/in-review, area/components, area/portworx, area/vendor, area/cmd

#1416 [cherrypick] OCP 4.14 : Fix Mount volume to autopilot pod only if secret is created
  drivers/storage/portworx/component/autopilot.go
Labels: stage/in-review, area/components

#1415 OCP 4.14 : Fix Mount volume to autopilot pod only if secret is created
  drivers/storage/portworx/component/autopilot.go
Labels: stage/in-review, area/components, size/s, stage/approved

#1409 PWX-35418 : Wrong value of min available in PDB for px-storage during surge upgrade
  Makefile
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/util/util.go
  pkg/mock/openstoragesdk.mock.go
  pkg/mock/sdkserver.go
Labels: stage/in-review, area/portworx, size/m, stage/approved

#1419 PWX-35945 : Create autopilot deployment if secret is not created
  drivers/storage/portworx/component/autopilot.go
Labels: stage/in-review, area/components, size/s, stage/approved

#1420 [cherrypick] PWX-35945 : Create autopilot deployment if secret is not created
  drivers/storage/portworx/component/autopilot.go
Labels: stage/in-review, area/components

#1422 Update plugin deployment PullPolicy to Always regardless of STC's PullPolicy
  drivers/storage/portworx/component/plugin.go
  drivers/storage/portworx/components_test.go
Labels: stage/in-review, area/components, size/s, area/portworx, stage/approved

#1423 [cherry-pick] Update plugin deployment Pull to Always regardless of STC's PullPolicy
  drivers/storage/portworx/component/plugin.go
  drivers/storage/portworx/components_test.go
Labels: area/components, area/portworx

#1421 PTX-22144 Fix tests for autopilot changes on OCP 4.14+
  pkg/util/test/util.go
  test/integration_test/basic_test.go
  test/integration_test/utils/storagecluster.go
Labels: stage/in-review, size/m, area/integration-test, stage/approved

#1425 PTX-22165 Validate PX pods correctly when if portworx.io/run-on-master is passed and is set to True in annotations in the PX StorageCluster
  pkg/util/test/util.go
Labels: stage/in-review, size/xs, stage/approved

#1426 PTX-22180 Disable Alertmanager and Grafana tests for OCP 4.14+ and 23.10.3+
  test/integration_test/basic_test.go
  test/integration_test/utils/px_operator.go
Labels: stage/in-review, size/s, area/integration-test, stage/approved

#1427 PTX-22178 Fixing validation for PX running on master nodes
  pkg/util/test/util.go
Labels: stage/in-review, size/s, stage/approved

#1428 PWX-36015 Disable PX-prometheus for OCP 4.14+ on new installs
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
Labels: stage/in-review, area/portworx, size/m

#1429 [Cherrypick] PWX-36015 Disable PX-prometheus for OCP 4.14+ on new installs
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
Labels: area/portworx

#1430 PWX-35282 Don't restart px pods when cordoned after operator restart
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/controller/storagenode/storagenode.go
  pkg/controller/storagenode/storagenode_test.go
  pkg/util/k8s/node.go
  pkg/util/k8s/node_test.go
Labels: stage/in-review, size/m, area/controller

#1431 PWX-35282 Don't restart px pods when cordoned after operator restart
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/controller/storagenode/storagenode.go
  pkg/controller/storagenode/storagenode_test.go
  pkg/util/k8s/node.go
  pkg/util/k8s/node_test.go
Labels: area/controller

#1434 Updating CSV to use 23.10.3 released image
  deploy/olm-catalog/portworx/23.10.3/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs

#1437 PWX-32899_pt1: K8s DNS domain fix
  drivers/storage/portworx/util/util.go
Labels: stage/in-review, size/xs, stage/approved

#1436 Updating CSV to use 23.10.3 released image
  deploy/olm-catalog/portworx/23.10.3/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs, size/xs, stage/approved

#1438 Fix docker build make target
  Makefile
Labels: stage/in-review, size/xs

#1442 Added jenkins build pipeline
  .travis.yml
  build.jenkinsfile
Labels: stage/in-review, size/s, stage/approved

#1432 [PWX-36029] Update certificate's mountpath in autopilot pod
  drivers/storage/portworx/component/autopilot.go
  drivers/storage/portworx/testspec/autopilotDeployment_Openshift_4_14.yaml
Labels: stage/in-review, area/components, size/xs, stage/in-review-stale, stage/approved

#1443 [Cherrypick] PWX-36029 : Update certificate's mountpath in autopilot pod
  drivers/storage/portworx/component/autopilot.go
  drivers/storage/portworx/testspec/autopilotDeployment_Openshift_4_14.yaml
Labels: area/components

#1444 [Cherry-pick] Update Portworx to Portworx by PureStorage in Redhat
  deploy/olm-catalog/portworx/24.1.0/portworx-certified.clusterserviceversion.yaml
Labels: area/specs

#1446 [cherry-pick] PWX-34254: update portworx clusterRole with permissions for kubevirt …
  drivers/storage/portworx/component/portworx_basic.go
  drivers/storage/portworx/testspec/portworxClusterRole.yaml
Labels: stage/in-review, area/components

#1449 PWX-35633 : Don't allow overriding storage PDB value to more than number of storagenodes
  drivers/storage/portworx/component/disruption_budget.go
  drivers/storage/portworx/components_test.go
Labels: stage/in-review, area/components, size/s, area/portworx, stage/approved

#1450 Add UTs for openshift prometheus on OCP 4.14
  drivers/storage/portworx/components_test.go
Labels: stage/in-review, area/portworx, size/m, stage/approved

#1455 Changed default release version to 99.9.9
  Makefile
Labels: stage/in-review, size/xs, stage/approved

#1453 [Cherry-pick] : PWX-25992 - Cherry-pick PR#1305 into 24.1.0 branch
  Makefile
  api/px/api.pb.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/util/util.go
  drivers/storage/storage.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/update.go
  pkg/mock/portworxsdk.mock.go
  pkg/mock/sdkserver.go
  pkg/mock/storagedriver.mock.go
  pkg/util/test/util.go
Labels: area/portworx, area/controller

#1457 PWX-36258 : Do not allow pdb annotation lesser than px quorum
  drivers/storage/portworx/component/disruption_budget.go
  drivers/storage/portworx/components_test.go
Labels: stage/in-review, area/components, size/s, area/portworx, stage/approved

#1297 PWX-31625: Turning off PVC-Controller on OpenShift
  drivers/storage/portworx/component/pvccontroller.go
  drivers/storage/portworx/components_test.go
Labels: stage/in-review, area/components, size/s, area/portworx, lifecycle/stale, stage/in-review-stale, stage/approved

#1459 PWX-31625_24.1.0: Turning off PVC-Controller on OpenShift (#1297)
  drivers/storage/portworx/component/pvccontroller.go
  drivers/storage/portworx/components_test.go
Labels: area/components, area/portworx

#1456 PWX-35377 Update metrics collector version
  deploy/ccm/metrics-collector-deployment.yaml
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/component/telemetry_java.go
  drivers/storage/portworx/manifest/manifest.go
Labels: stage/in-review, area/components, size/s, area/specs, area/manifest, stage/approved

#1465 [Cherry-pick]: CP of the PDB changes for 24.1.0
  Makefile
  drivers/storage/portworx/component/disruption_budget.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/util/util.go
  pkg/mock/openstoragesdk.mock.go
  pkg/mock/sdkserver.go
Labels: area/components, area/portworx

#1460 PWX-35377 Update metrics collector version and remove metrics-collect…
  deploy/ccm/metrics-collector-deployment.yaml
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/component/telemetry_java.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/testspec/ccmGoCollectorConfigMap.yaml
  drivers/storage/portworx/testspec/metricsCollectorConfigMap.yaml
Labels: area/components, area/specs, area/manifest, area/portworx
