Repository libopenstorage/operator, pull requests merged in 2024-03, with the labels that each got.

#1447 PWX-31769: Add validation test to operator for checking to make sure …
  pkg/util/test/util.go
Labels: stage/in-review, size/m, stage/approved

#1466 PWX-35007, PWX-35008 _rel-24.1.0: kube-scheduler image updates (#1376)
  drivers/storage/portworx/component/pvccontroller.go
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/manifest/manifest_test.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  pkg/controller/storagecluster/stork.go
  pkg/controller/storagecluster/stork_test.go
  pkg/util/k8s/k8s.go
  pkg/util/k8s/k8s_test.go
Labels: area/components, area/manifest, area/portworx, area/controller

#1467 PWX-35007, PWX-35008 _rel-23.10.4: kube-scheduler image updates (#1376)
  drivers/storage/portworx/component/pvccontroller.go
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/manifest/manifest_test.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  pkg/controller/storagecluster/stork.go
  pkg/controller/storagecluster/stork_test.go
  pkg/util/k8s/k8s.go
  pkg/util/k8s/k8s_test.go
Labels: area/components, area/manifest, area/portworx, area/controller

#1463 PWX-34410 : Consider cluster domain when calculating the PDB numbers
  drivers/storage/portworx/component/disruption_budget.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/util/util.go
  go.mod
  go.sum
  vendor/github.com/libopenstorage/openstorage/api/api.go
  vendor/github.com/libopenstorage/openstorage/api/api.pb.go
  vendor/github.com/libopenstorage/openstorage/api/api.pb.gw.go
  vendor/github.com/libopenstorage/openstorage/api/api.proto
  vendor/modules.txt
Labels: stage/in-review, area/components, area/portworx, size/xl, area/vendor, stage/approved

#1470 [24.1.0] PWX-34410 : Consider cluster domain when calculating the PDB numbers
  drivers/storage/portworx/component/disruption_budget.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/util/util.go
  go.mod
  go.sum
  vendor/github.com/libopenstorage/openstorage/api/api.pb.go
  vendor/github.com/libopenstorage/openstorage/api/api.proto
  vendor/modules.txt
Labels: area/components, area/portworx, area/vendor

#1472 PTX-22712 Add method to check if fresh PX installation
  pkg/util/test/util.go
Labels: stage/in-review, size/s, stage/approved

#1473 PWX-35007,PWX-36364: fixing re-validation of DesiredImages.Kube*
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
Labels: stage/in-review, area/portworx, size/m, stage/approved

#1475 PWX-35007,PWX-36364_24.1.0: fixing re-validation of DesiredImages.Kube* (#1473)
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
Labels: area/portworx

#1474 PWX-35007,PWX-36364_23.10.4: fixing re-validation of DesiredImages.Kube* (#1473)
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
Labels: area/portworx

#1471 Support Openshift Prometheus on OCP 4.15
  drivers/storage/portworx/component/autopilot.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/util/util.go
  drivers/storage/portworx/util/util_test.go
Labels: stage/in-review, area/components, area/portworx, size/m, stage/approved

#1478 [23.10.4] PWX-36428 : Add metadata annotations in CSV for openshift catalog
  deploy/olm-catalog/portworx/23.10.4/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs

#1480 BlueGreen license integration test fix [trivial]
  test/integration_test/bluegreen_test.go
Labels: stage/in-review, size/s, area/integration-test, stage/approved

#1482 PWX-36455 Fix for operator version
  Makefile
Labels: stage/in-review, size/xs, stage/approved

#1477 PWX-36428 : Add metadata annotations in CSV for openshift catalog
  deploy/olm-catalog/portworx/99.9.9/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, size/s, area/specs, stage/approved

#1468 PWX-36321: Update the cluster status condition before updating the cl…
  pkg/controller/storagecluster/storagecluster.go
Labels: stage/in-review, area/controller

#1484 PWX-36298 - Set node tolerations before maxStorageNodesPerZone
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
Labels: stage/in-review, area/controller

#1486 Fix for build catalog using internal artifactory
  Makefile
Labels: stage/in-review, size/xs, stage/approved

#1485 PWX-36321: Use client to update status and cluster preserving the resourceVersion
  pkg/controller/storagecluster/storagecluster.go
Labels: stage/in-review, area/controller

#1487 Updating CSV to use 23.10.4 released image
  deploy/olm-catalog/portworx/23.10.4/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs

#1489 [PTX-17953] Allow to pass namespace param where the operator is deployed
  pkg/util/test/util.go
  test/integration_test/main_test.go
  test/integration_test/operator-test-pod-template.yaml
  test/integration_test/portworx_diag_test.go
  test/integration_test/test-deploy.sh
  test/integration_test/utils/constants.go
Labels: stage/in-review, size/s, area/integration-test, stage/approved

#1491 PWX-36460 : Enforce portworx SCC on portworx pods
  drivers/storage/portworx/component/securitycontextconstraints.go
  pkg/controller/storagecluster/storagecluster.go
Labels: stage/in-review, area/components, size/xs, area/controller, stage/approved

#1493 [cherrypick 23.10.5] PWX-36460 : Enforce portworx SCC on portworx pods
  drivers/storage/portworx/component/securitycontextconstraints.go
  pkg/controller/storagecluster/storagecluster.go
Labels: area/components, size/xs, area/controller

#1488 PWX-36389: Adding changes for metroDR PDB for px <3.1.1
  drivers/storage/portworx/component/disruption_budget.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/util/util.go
  pkg/util/k8s/k8s.go
Labels: stage/in-review, area/components, area/portworx, size/m, stage/approved

#1494 [Cherry-pick] : Of ticket - PWX-36389 into release-24.1.0
  drivers/storage/portworx/component/disruption_budget.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/util/util.go
  pkg/util/k8s/k8s.go
Labels: area/components, area/portworx

#1492 PTX-22900 Add validation for safe-to-evict annotation
  pkg/util/test/util.go
Labels: stage/in-review, size/s, stage/approved

#1495 PWX-36321: Update the cluster status condition before updating the cl…
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
Labels: stage/in-review, area/controller

#1399 Add additional properties to the crd schema definitions
  deploy/crds/core_v1_storagecluster_crd.yaml
  deploy/crds/core_v1_storagenode_crd.yaml
Labels: stage/in-review, size/s, area/specs, stage/in-review-stale

#1497 PWX-36649 Keep the required-scc annotation if added during creation
  drivers/storage/portworx/component/securitycontextconstraints.go
  pkg/constants/metadata.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/controller/storagecluster/update.go
Labels: stage/in-review, area/components, area/controller

#1496 PWX-36649 Keep the required-scc annotation if added during creation
  drivers/storage/portworx/component/securitycontextconstraints.go
  pkg/constants/metadata.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/controller/storagecluster/update.go
Labels: stage/in-review, area/components, size/m, area/controller, stage/approved

#1500 PTX-23039 Increase timeout to check PX pods annotations
  pkg/util/test/util.go
Labels: stage/in-review, size/xs, stage/approved

#1499 PWX-36551: Update plugin image with change in versions if autoupdatecomponents is used
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
Labels: stage/in-review, size/s, area/portworx, stage/approved
