Repository libopenstorage/operator, pull requests merged in 2024-01, with the labels that each got.

#1382 PWX-35481: csiNodeDriverRegistrar image not getting updated during PX upgrade
  drivers/storage/portworx/component/portworx_api.go
  drivers/storage/portworx/components_test.go
Labels: stage/in-review, area/components, size/s, area/portworx, stage/approved

#1387 PTX-21676 Set correct config.json path in case of PKS
  pkg/util/test/util.go
Labels: stage/in-review, size/s, stage/approved

#1388 PWX-34256: node-wiper fix for custom-dir installs
  drivers/storage/portworx/uninstall.go
  drivers/storage/portworx/util/util.go
  drivers/storage/portworx/util/util_test.go
Labels: stage/in-review, area/portworx, size/m, stage/approved

#1389 PWX-34256_op-23.10.2: node-wiper fix for custom-dir installs (#1388)
  drivers/storage/portworx/uninstall.go
  drivers/storage/portworx/util/util.go
  drivers/storage/portworx/util/util_test.go
Labels: area/portworx

#1390 PWX-35711: Update dynamic-plugin ImagePullPolicy to Always
  deploy/plugin/plugin-deployment.yaml
  drivers/storage/portworx/testspec/plugin-deployment.yaml
Labels: stage/in-review, area/specs, size/xs, stage/approved

#1391 PWX-35704: The pks distribution string was incorrect. Change it from 'gke' to 'pks'
  pkg/preflight/pks.go
Labels: stage/in-review, size/xs, stage/approved

#1393 PWX-35704: Cherry pick correct distribution string for PKS
  pkg/preflight/pks.go
Labels: stage/in-review

#1396 Updating CSV to use 23.10.2 released image
  deploy/olm-catalog/portworx/23.10.2/core_v1_storagenode_crd.yaml
  deploy/olm-catalog/portworx/23.10.2/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs

#1376 PWX-35007, PWX-35008: kube-scheduler image updates
  drivers/storage/portworx/component/pvccontroller.go
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/manifest/manifest_test.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  pkg/controller/storagecluster/stork.go
  pkg/controller/storagecluster/stork_test.go
  pkg/util/k8s/k8s.go
  pkg/util/k8s/k8s_test.go
Labels: stage/in-review, area/components, area/manifest, area/portworx, size/m, stage/in-review-stale, area/controller

#1397 Setup 23.10.3 branch
  .travis.yml
  Makefile
  deploy/olm-catalog/portworx/23.10.3/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/23.10.3/core_v1_storagenode_crd.yaml
  deploy/olm-catalog/portworx/23.10.3/portworx-certified.clusterserviceversion.yaml
  deploy/olm-catalog/portworx/portworx.package.yaml
  deploy/operator.yaml
Labels: stage/in-review, area/specs

#1395 [PWX-35604] Update KubeSchedulerConfiguration to api v1 for k8s version 1.25+
  pkg/controller/storagecluster/stork.go
  pkg/controller/storagecluster/stork_test.go
  vendor/k8s.io/kube-scheduler/config/v1/doc.go
  vendor/k8s.io/kube-scheduler/config/v1/register.go
  vendor/k8s.io/kube-scheduler/config/v1/types.go
  vendor/k8s.io/kube-scheduler/config/v1/types_pluginargs.go
  vendor/k8s.io/kube-scheduler/config/v1/zz_generated.deepcopy.go
  vendor/k8s.io/kubernetes/pkg/scheduler/apis/config/v1/conversion.go
  vendor/k8s.io/kubernetes/pkg/scheduler/apis/config/v1/default_plugins.go
  vendor/k8s.io/kubernetes/pkg/scheduler/apis/config/v1/defaults.go
  vendor/k8s.io/kubernetes/pkg/scheduler/apis/config/v1/doc.go
  vendor/k8s.io/kubernetes/pkg/scheduler/apis/config/v1/register.go
  vendor/k8s.io/kubernetes/pkg/scheduler/apis/config/v1/zz_generated.conversion.go
  vendor/k8s.io/kubernetes/pkg/scheduler/apis/config/v1/zz_generated.deepcopy.go
  vendor/k8s.io/kubernetes/pkg/scheduler/apis/config/v1/zz_generated.defaults.go
  vendor/modules.txt
Labels: stage/in-review, size/xl, area/controller, area/vendor, stage/approved

#1403 Cherrypick23.10.3
  drivers/storage/portworx/component/portworx_api.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/testspec/portworxAPIDaemonset_2_13.yaml
  pkg/constants/constants.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/controller/storagecluster/update.go
Labels: area/components, area/portworx, area/controller

#1398 PTX-21947 - Change master version to 23.10.3 for changes made in integration test
  pkg/util/test/util.go
Labels: stage/in-review, size/s, stage/approved

#1405 Removing code not belonging to release 23.10.3
  drivers/storage/portworx/components_test.go
Labels: area/portworx

#1406 PWX-35865 : Fixing moving csi registrar to pc-api pod gaps due to PR #1334
  drivers/storage/portworx/component/portworx_api.go
  drivers/storage/portworx/components_test.go
Labels: stage/in-review, area/components, area/portworx, size/m, stage/approved

#1407 [Cherry-pick] : Resolving bugs for 23.10.3 release
  drivers/storage/portworx/component/portworx_api.go
  drivers/storage/portworx/components_test.go
Labels: stage/in-review, area/components, area/portworx

#1394 PWX-31805: Container ochestrator support
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/util/util.go
Labels: stage/in-review, area/components, area/portworx, size/m, stage/in-review-stale, stage/approved
