Repository libopenstorage/operator, pull requests merged in 2024-06, with the labels that each got.

#1561 [cherry-pick] PWX-37480: avoid starting extra live-migraions for the same VM (#1560)
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/kubevirt.go
  pkg/controller/storagecluster/kubevirt_test.go
  pkg/controller/storagecluster/update.go
  pkg/mock/kubevirtmanager.mock.go
Labels: stage/in-review, size/m, area/controller, stage/approved

#1566 Updating CSV to use 24.1.0 released image
  deploy/olm-catalog/portworx/24.1.0/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs

#1563 PWX-37573: tighten the checks for avoiding unnecessary VM live migration
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/kubevirt.go
  pkg/controller/storagecluster/kubevirt_test.go
  pkg/controller/storagecluster/update.go
  pkg/mock/kubevirtmanager.mock.go
  pkg/util/util.go
Labels: stage/in-review, size/m, area/controller, stage/approved

#1568 PWX-37199: Enable dmthin preflight checks for anthos vsphere
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/preflight.go
  drivers/storage/portworx/util/util.go
Labels: stage/in-review, area/portworx

#1569 [cherry-pick] PWX-37573: tighten the checks for avoiding unnecessary VM live migrat…
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/kubevirt.go
  pkg/controller/storagecluster/kubevirt_test.go
  pkg/controller/storagecluster/update.go
  pkg/mock/kubevirtmanager.mock.go
  pkg/util/util.go
Labels: stage/in-review, area/controller

#1571 PWX-37620 Vendor in latest sched ops
  go.mod
  go.sum
  pkg/mock/mockcore/core.ops.mock.go
  vendor/github.com/portworx/sched-ops/k8s/core/serviceaccounts.go
  vendor/modules.txt
Labels: stage/in-review, size/m, area/vendor, stage/approved

#1564 StorageCluster schema changes to support parallel portworx upgrades
  deploy/crds/core_v1_storagecluster_crd.yaml
  pkg/apis/core/v1/storagecluster.go
Labels: stage/in-review, size/s, area/specs, stage/approved

#1573 [cherry-pick] PWX-37573: tighten the checks for avoiding unnecessary VM live migrat…
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/kubevirt.go
  pkg/controller/storagecluster/kubevirt_test.go
  pkg/controller/storagecluster/update.go
  pkg/mock/kubevirtmanager.mock.go
  pkg/util/util.go
Labels: stage/in-review, area/controller

#1562 PWX-35416 : Fail components when they are not found in the versions configmap
  drivers/storage/portworx/component/alertmanager.go
  drivers/storage/portworx/component/csi.go
  drivers/storage/portworx/component/plugin.go
  drivers/storage/portworx/component/portworx_api.go
  drivers/storage/portworx/component/prometheus.go
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/manifest/manifest_test.go
  drivers/storage/portworx/portworx_test.go
Labels: stage/in-review, area/components, area/manifest, area/portworx, stage/approved, size/l

#1577 [Cherry-pick ]: Cherry-pick of PR #1275
  drivers/storage/portworx/portworx.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
Labels: area/portworx, area/controller

#1578 [Cherry-pick into feature]: Cherry-pick of all tickets related to Smart and parallel upgrades merged into master
  drivers/storage/portworx/component/disruption_budget.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/util/util.go
  pkg/constants/metadata.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
Labels: area/components, area/portworx, area/controller

#1581 [Cherry-pick]: CP of PRs #1375 and #1562
  Makefile
  drivers/storage/portworx/component/alertmanager.go
  drivers/storage/portworx/component/csi.go
  drivers/storage/portworx/component/plugin.go
  drivers/storage/portworx/component/portworx_api.go
  drivers/storage/portworx/component/prometheus.go
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/manifest/manifest.go
  drivers/storage/portworx/manifest/manifest_test.go
  drivers/storage/portworx/mock/manifest.mock.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/uninstall.go
Labels: area/components, area/manifest, area/portworx

#1584 PWX-37634 : Added internalHostnameLookupRetryCount in px-telemetry-register configmap
  deploy/ccm/config_properties_px.yaml
  drivers/storage/portworx/testspec/ccmGoRegisterConfigMap.yaml
Labels: stage/in-review, area/specs, size/xs, stage/approved

#1574 PWX-36817_PWX-32899_op-24.1.1: Fixing .svc.cluster.local DNS domain
  drivers/storage/portworx/component/plugin.go
Labels: stage/in-review, area/components, stage/in-review-stale

#1586 [cherry-pick] PWX-37634 : Added internalHostnameLookupRetryCount in px-telemetry-register configmap
  deploy/ccm/config_properties_px.yaml
  drivers/storage/portworx/testspec/ccmGoRegisterConfigMap.yaml
Labels: stage/in-review, area/specs

#1575 PWX-36817_PWX-32899_r2_master: Fixing .svc.cluster.local DNS domain (#1574)
  drivers/storage/portworx/component/plugin.go
Labels: area/components, size/xs, stage/approved

#1587 PWX-37760: Update component images when autoUpdateComponents is set
  drivers/storage/portworx/portworx.go
Labels: stage/in-review, area/portworx, size/xs, stage/approved

#1589 [Cherry-pick]: Cherry-pick of PR #1587
  drivers/storage/portworx/portworx.go
Labels: area/portworx

#1588 PWX-37852: add APPLIANCE_ID env to px-telemetry-registration deployment
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/testspec/ccmGoRegisterDeployment.yaml
Labels: stage/in-review, area/components, size/s, area/portworx, stage/approved

#1591 PWX-37852_24.1.1: add APPLIANCE_ID env to px-telemetry-registration deployment (#1588)
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/testspec/ccmGoRegisterDeployment.yaml
Labels: area/components

#1593 Dont default to dmthin on OCP-FACD
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/preflight.go
  drivers/storage/portworx/util/util.go
Labels: stage/in-review, area/portworx

#1553 PWX-36928: telemetry SSL-cert validation
  README.md
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/components_test.go
  pkg/util/k8s/k8s.go
  pkg/util/test/util.go
Labels: stage/in-review, area/components, area/portworx, size/m, stage/approved

#1594 PWX-36928_24.1.1: telmetry SSL-cert validation (#1553)
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/components_test.go
  pkg/util/k8s/k8s.go
Labels: area/components, area/portworx

#1582 [PWX-37620] Create/Refresh token and secret and mount to oci-mon pod
  drivers/storage/portworx/alert_manager_component_test.go
  drivers/storage/portworx/component/portworx_basic.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/status_test.go
  drivers/storage/portworx/testspec/portworxServiceAccountTokenSecret.yaml
  drivers/storage/portworx/util/util.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/util/k8s/k8s.go
Labels: stage/in-review, area/components, area/specs, area/manifest, area/portworx, area/controller, stage/approved, size/l

#1579 [Cherry-pick]: Cherry-pick of PR #1355 into 24.1.1
  deploy/crds/core_v1_storagecluster_crd.yaml
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
  pkg/apis/core/v1/storagecluster.go
Labels: area/specs, area/portworx, area/controller
