Repository libopenstorage/operator, pull requests merged in 2024-07, with the labels that each got.

#1596 PWX-37982 Use the expiration time returned by k8s api server for px sa token
  drivers/storage/portworx/component/portworx_basic.go
  drivers/storage/portworx/components_test.go
Labels: stage/in-review, area/components, size/s, area/portworx, stage/approved

#1597 PWX-38004 : Update ca.crt in autopilot secret when upgrading from OCP from 4.15 to 4.16
  drivers/storage/portworx/component/autopilot.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/testspec/autopilot-auth-token-secret_4_16.yaml
Labels: stage/in-review, area/components, area/portworx

#1599 [cherry-pick] PWX-36251 | Delete renamed px-attachdriveset-lock configmap on deletion of storage cluster
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
Labels: stage/in-review, area/controller

#1595 PWX-37733 Add pod name in system metadata device for dmthin on ocp facd
  drivers/storage/portworx/preflight.go
  drivers/storage/portworx/preflight_test.go
Labels: stage/in-review, area/portworx, stage/in-review-stale

#1602 Fix PX ServiceAccount token audience
  drivers/storage/portworx/component/portworx_basic.go
Labels: stage/in-review, area/components, size/xs, stage/approved

#1604 PWX-38007 (24.1.1): Telemetry cert-secret refresh fix (#1603)
  drivers/storage/portworx/component/telemetry.go
Labels: area/components

#1603 PWX-38007: Telemetry cert-secret refresh fix
  drivers/storage/portworx/component/telemetry.go
Labels: stage/in-review, area/components, size/s, stage/approved

#1605 PWX-38035 : Remove ca.crt mount volume from autopilot pod
  drivers/storage/portworx/component/autopilot.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/testspec/autopilotDeployment_Openshift_4_16.yaml
Labels: stage/in-review, area/components, area/portworx

#1607 PWX-38083 Fix metadata device spec format when FACD pod name doesn't exist
  drivers/storage/portworx/preflight.go
  drivers/storage/portworx/preflight_test.go
Labels: stage/in-review, area/portworx

#1576 [cherry-pick] PWX-36509 : StorageCluster schema changes to support parallel portworx upgrades
  deploy/crds/core_v1_storagecluster_crd.yaml
  pkg/apis/core/v1/storagecluster.go
Labels: stage/in-review, area/specs, stage/in-review-stale

#1580 PWX-36477 : Updating Node PDB to allow k8s upgrades
  drivers/storage/portworx/component/disruption_budget.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/util/util.go
  go.mod
  go.sum
  pkg/mock/openstoragesdk.mock.go
  pkg/util/k8s/k8s.go
  vendor/github.com/dgrijalva/jwt-go/.gitignore
  vendor/github.com/dgrijalva/jwt-go/.travis.yml
  vendor/github.com/dgrijalva/jwt-go/LICENSE
  vendor/github.com/dgrijalva/jwt-go/MIGRATION_GUIDE.md
  vendor/github.com/dgrijalva/jwt-go/README.md
  vendor/github.com/dgrijalva/jwt-go/VERSION_HISTORY.md
  vendor/github.com/dgrijalva/jwt-go/claims.go
  vendor/github.com/dgrijalva/jwt-go/doc.go
  vendor/github.com/dgrijalva/jwt-go/ecdsa.go
  vendor/github.com/dgrijalva/jwt-go/ecdsa_utils.go
  vendor/github.com/dgrijalva/jwt-go/errors.go
  vendor/github.com/dgrijalva/jwt-go/hmac.go
  vendor/github.com/dgrijalva/jwt-go/map_claims.go
  vendor/github.com/dgrijalva/jwt-go/none.go
  vendor/github.com/dgrijalva/jwt-go/parser.go
  vendor/github.com/dgrijalva/jwt-go/rsa.go
  vendor/github.com/dgrijalva/jwt-go/rsa_pss.go
  vendor/github.com/dgrijalva/jwt-go/rsa_utils.go
  vendor/github.com/dgrijalva/jwt-go/signing_method.go
  vendor/github.com/dgrijalva/jwt-go/token.go
  vendor/github.com/libopenstorage/openstorage/api/api.go
  vendor/github.com/libopenstorage/openstorage/api/api.pb.go
  vendor/github.com/libopenstorage/openstorage/api/api.pb.gw.go
  vendor/github.com/libopenstorage/openstorage/api/api.proto
  vendor/github.com/libopenstorage/openstorage/api/ownership.go
  vendor/github.com/libopenstorage/openstorage/pkg/auth/oidc.go
  vendor/github.com/libopenstorage/openstorage/pkg/auth/selfsigned.go
  vendor/github.com/libopenstorage/openstorage/pkg/auth/signature.go
  vendor/github.com/libopenstorage/openstorage/pkg/auth/token.go
  vendor/github.com/libopenstorage/openstorage/pkg/defaultcontext/default.go
  vendor/github.com/libopenstorage/openstorage/pkg/grpcserver/creds_injector.go
  vendor/github.com/libopenstorage/openstorage/pkg/grpcutil/context.go
  vendor/modules.txt
Labels: stage/in-review, area/components, area/portworx, area/vendor

#1598 PWX-37884 Add portworx serviceaccount token refresh integration test
  pkg/util/test/util.go
  test/integration_test/basic_test.go
Labels: stage/in-review, size/s, stage/in-review-stale, area/integration-test, stage/approved

#1611 [cherrypick] [24.1.1] PWX-38202 : Fix NTP server issue by setting token issue time in past
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/util/util.go
  drivers/storage/portworx/util/util_test.go
Labels: area/portworx

#1600 PWX-36514: Integration test to validate node pdb
  pkg/util/test/util.go
  test/integration_test/bluegreen_test.go
  test/integration_test/node_pdb_test.go
  test/integration_test/pdb_test.go
  test/integration_test/utils/k8s.go
  test/integration_test/utils/px_operator.go
  test/integration_test/utils/storagecluster.go
  test/integration_test/utils/utils.go
Labels: stage/in-review, area/integration-test, stage/approved, size/l

#1613 PWX-38279: Dont default to dmthin for OCP-Vsphere
  drivers/storage/portworx/portworx.go
Labels: area/portworx

#1614 Updating CSV to use 24.1.1 released image
  deploy/olm-catalog/portworx/24.1.1/core_v1_storagecluster_crd.yaml
  deploy/olm-catalog/portworx/24.1.1/portworx-certified.clusterserviceversion.yaml
Labels: stage/in-review, area/specs

#1615 PWX-37884 Refactor px serviceaccount token integration test
  pkg/util/test/util.go
  test/integration_test/basic_test.go
Labels: stage/in-review, size/m, area/integration-test, stage/approved

#1616 Skip px sa token refresh integration test if version prior to 24.2
  test/integration_test/basic_test.go
Labels: stage/in-review, size/xs, area/integration-test, stage/approved

#1617 PWX-37995 Cherry pick token refresh changes into release branch 24.2.0
  drivers/storage/portworx/alert_manager_component_test.go
  drivers/storage/portworx/component/portworx_basic.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/status_test.go
  drivers/storage/portworx/testspec/portworxServiceAccountTokenSecret.yaml
  drivers/storage/portworx/util/util.go
  go.mod
  go.sum
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/mock/mockcore/core.ops.mock.go
  pkg/util/k8s/k8s.go
  pkg/util/test/util.go
  test/integration_test/basic_test.go
  vendor/github.com/portworx/sched-ops/k8s/core/serviceaccounts.go
  vendor/modules.txt
Labels: stage/in-review, area/components, area/portworx, area/controller, area/integration-test, area/vendor
