Repository libopenstorage/operator, pull requests merged in 2024-08, with the labels that each got.

#1612 PWX-36510: No disruption of volumes for portworx upgrades
  drivers/storage/portworx/component/disruption_budget.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/util/util.go
  drivers/storage/storage.go
  pkg/apis/core/v1/storagecluster.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/controller/storagecluster/update.go
  pkg/mock/storagedriver.mock.go
Labels: stage/in-review, area/components, area/portworx, area/controller

#1618 PWX-38379 [test-fix] change pool and volume resize alerts from warning to info
  drivers/storage/portworx/testspec/prometheusRule.yaml
Labels: stage/in-review, size/xs, stage/approved

#1620 [ cherry-pick ] PWX-38379 change pool and volume resize alerts from warning to info
  drivers/storage/portworx/testspec/prometheusRule.yaml
Labels: stage/in-review

#1625 Zoran's cherry picks (#1553) (#1574) (#1588) (#1591) (#1594) (#1603) (#1604)
  drivers/storage/portworx/component/plugin.go
  drivers/storage/portworx/component/telemetry.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/testspec/ccmGoRegisterDeployment.yaml
  pkg/util/k8s/k8s.go
Labels: area/components, area/portworx

#1630 [Cherry-pick] - Cherrypick Of 24.1.1 commits
  deploy/crds/core_v1_storagecluster_crd.yaml
  drivers/storage/portworx/deployment.go
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/portworx.go
  pkg/apis/core/v1/storagecluster.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
Labels: area/specs, area/portworx, area/controller

#1622 PWX-38103 Ignore unhealthy nodes if a healthy one is found
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/update.go
Labels: stage/in-review, size/s, area/controller

#1631 Revert "PWX-37995 Cherry pick token refresh changes into release bran…
  drivers/storage/portworx/alert_manager_component_test.go
  drivers/storage/portworx/component/portworx_basic.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/status_test.go
  drivers/storage/portworx/testspec/portworxServiceAccountTokenSecret.yaml
  drivers/storage/portworx/util/util.go
  go.sum
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/util/k8s/k8s.go
  pkg/util/test/util.go
  test/integration_test/basic_test.go
Labels: area/components, area/portworx, area/controller, area/integration-test

#1633 Undo "Revert "PWX-37995 Cherry pick token refresh changes into releas…
  drivers/storage/portworx/alert_manager_component_test.go
  drivers/storage/portworx/component/portworx_basic.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/deployment_test.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/status_test.go
  drivers/storage/portworx/testspec/portworxServiceAccountTokenSecret.yaml
  drivers/storage/portworx/util/util.go
  go.sum
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/util/k8s/k8s.go
  pkg/util/test/util.go
  test/integration_test/basic_test.go
Labels: area/components, area/portworx, area/controller, area/integration-test

#1636 PWX-38509: vendor in sched-ops
  go.mod
  go.sum
  vendor/github.com/portworx/sched-ops/k8s/core/core.go
  vendor/github.com/portworx/sched-ops/k8s/core/persistentvolumeclaims.go
  vendor/github.com/portworx/sched-ops/k8s/kubevirt-dynamic/kubevirt.go
  vendor/github.com/portworx/sched-ops/k8s/kubevirt-dynamic/virtualmachineinstance.go
  vendor/modules.txt
Labels: stage/in-review, area/vendor

#1634 PWX-38509: vendor in sched-ops
  go.mod
  go.sum
  vendor/github.com/portworx/sched-ops/k8s/core/core.go
  vendor/github.com/portworx/sched-ops/k8s/core/persistentvolumeclaims.go
  vendor/github.com/portworx/sched-ops/k8s/kubevirt-dynamic/kubevirt.go
  vendor/github.com/portworx/sched-ops/k8s/kubevirt-dynamic/virtualmachineinstance.go
  vendor/modules.txt
Labels: stage/in-review, size/m, area/vendor, stage/approved

#1635 PWX-38512 Skip token refresh verification if host-pid not enabled
  pkg/util/test/util.go
Labels: stage/in-review, size/s, stage/approved

#1629 PWX-25414: Parallel/smart upgrades with minimum app downtime
  deploy/crds/core_v1_storagecluster_crd.yaml
  drivers/storage/portworx/component/disruption_budget.go
  drivers/storage/portworx/components_test.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/portworx_test.go
  drivers/storage/portworx/util/util.go
  drivers/storage/storage.go
  go.sum
  pkg/apis/core/v1/storagecluster.go
  pkg/constants/metadata.go
  pkg/controller/storagecluster/controller_test.go
  pkg/controller/storagecluster/storagecluster.go
  pkg/controller/storagecluster/update.go
  pkg/mock/openstoragesdk.mock.go
  pkg/mock/storagedriver.mock.go
  pkg/util/k8s/k8s.go
  vendor/github.com/dgrijalva/jwt-go/.gitignore
  vendor/github.com/dgrijalva/jwt-go/.travis.yml
  vendor/github.com/dgrijalva/jwt-go/LICENSE
  vendor/github.com/dgrijalva/jwt-go/MIGRATION_GUIDE.md
  vendor/github.com/dgrijalva/jwt-go/README.md
  vendor/github.com/dgrijalva/jwt-go/VERSION_HISTORY.md
  vendor/github.com/dgrijalva/jwt-go/claims.go
  vendor/github.com/dgrijalva/jwt-go/doc.go
  vendor/github.com/dgrijalva/jwt-go/ecdsa.go
  vendor/github.com/dgrijalva/jwt-go/ecdsa_utils.go
  vendor/github.com/dgrijalva/jwt-go/errors.go
  vendor/github.com/dgrijalva/jwt-go/hmac.go
  vendor/github.com/dgrijalva/jwt-go/map_claims.go
  vendor/github.com/dgrijalva/jwt-go/none.go
  vendor/github.com/dgrijalva/jwt-go/parser.go
  vendor/github.com/dgrijalva/jwt-go/rsa.go
  vendor/github.com/dgrijalva/jwt-go/rsa_pss.go
  vendor/github.com/dgrijalva/jwt-go/rsa_utils.go
  vendor/github.com/dgrijalva/jwt-go/signing_method.go
  vendor/github.com/dgrijalva/jwt-go/token.go
  vendor/github.com/libopenstorage/openstorage/api/api.go
  vendor/github.com/libopenstorage/openstorage/api/api.pb.go
  vendor/github.com/libopenstorage/openstorage/api/api.pb.gw.go
  vendor/github.com/libopenstorage/openstorage/api/api.proto
  vendor/github.com/libopenstorage/openstorage/api/ownership.go
  vendor/github.com/libopenstorage/openstorage/pkg/auth/oidc.go
  vendor/github.com/libopenstorage/openstorage/pkg/auth/selfsigned.go
  vendor/github.com/libopenstorage/openstorage/pkg/auth/signature.go
  vendor/github.com/libopenstorage/openstorage/pkg/auth/token.go
  vendor/github.com/libopenstorage/openstorage/pkg/defaultcontext/default.go
  vendor/github.com/libopenstorage/openstorage/pkg/grpcserver/creds_injector.go
  vendor/github.com/libopenstorage/openstorage/pkg/grpcutil/context.go
Labels: stage/in-review, area/components, area/specs, area/portworx, area/controller, area/vendor

#1641 PWX-38512 Cherry-pick skip token refresh verification if host-pid not enabled
  pkg/util/test/util.go
Labels: stage/in-review

#1643 PWX-38583 : fix nil pointer derefernce in operator pod
  pkg/apis/core/v1/storagecluster.go
  pkg/controller/storagecluster/update.go
Labels: stage/in-review, area/controller

#1642 PWX-38545 : Failed to create AlertManager object with prometheus-operator v0.75.0
  drivers/storage/portworx/component/prometheus.go
  drivers/storage/portworx/testspec/prometheusOperatorClusterRole.yaml
Labels: stage/in-review, area/components

#1644 PWX-38590 : fix go.mod for 24.2.0
  go.mod
  vendor/modules.txt
Labels: stage/in-review, area/vendor

#1645 PTX-25622 Add retry loop for validating AlertManager
  pkg/util/test/util.go
Labels: stage/in-review, size/s, stage/approved

#1648 PWX-38596 : After disabling PX Security STC goes into DEGRADED state due to rolling update failed
  drivers/storage/portworx/component/disruption_budget.go
  drivers/storage/portworx/component/security.go
  drivers/storage/portworx/portworx.go
  drivers/storage/portworx/status.go
  drivers/storage/portworx/status_test.go
  drivers/storage/portworx/util/util.go
  pkg/controller/storagenode/storagenode.go
Labels: stage/in-review, area/components, area/portworx, area/controller

#1650 PWX-38098 Implement the entrypoint for collecting pod logs
  deploy/crds/portworx.io_portworxdiags.yaml
  pkg/apis/portworx/v1/portworxdiag.go
Labels: area/specs
